//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid transparent;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  border-radius: 0px 20px;

  padding: 32px 30px;

  min-width: 160px;
  background: $green-lighten;

  transition: .5s;

  @media (max-width: $breakpoint - 1px) {
    padding: 13px;
    font-size: 12px;
  }

  &:hover {
    background: $green;
    color: #fff;
  }
}