//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid transparent;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $base-font-size, $base-line-height, $btn-border-radius-base);

  min-width: 160px;
  text-transform: uppercase;
}