// H1

@mixin title-h1 {
  font-size: 20px;
  line-height: 130%;

  @media (min-width: $breakpoint) {
    font-size: 52px;
  }
}

.title-h1 {
  @include title-h1();
}

// H2

@mixin title-h2 {
  font-size: 18px;
  line-height: 130%;

  @media (min-width: $breakpoint) {
   font-size: 48px;
  }
}

.title-h2 {
  @include title-h2();

  text-transform: uppercase;
}

// H3

@mixin title-h3 {
  font-size: 16px;
  line-height: 130%;

  @media (min-width: $breakpoint) {
    font-size: 34px;
  }
}

.title-h3 {
  @include title-h3();

  text-transform: uppercase;
}

// H4

@mixin title-h4 {
  font-size: 16px;
  line-height: 130%;

  @media (min-width: $breakpoint) {
    font-size: 24px;
  }
}

.title-h4 {
  @include title-h4();

  text-transform: uppercase;
}

// Txt

.p_large {
  font-size: 14px;
  line-height: 130%;
  @media (min-width: $breakpoint) {
    font-size: 20px;
  }
}