//
// Modules -> Breadcrumbs
// --------------------------------------------------

.breadcrumbs {
  display: flex;

  margin-bottom: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: 20px;
  }

  &__item {
    margin-left: 10px;

    display: flex;
    align-items: center;
  }
  &__item::before{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: $green;
    margin-right: 10px;
  }
  &__link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 100%;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 8px;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    
    .breadcrumbs__link {
      font-family: $base-font-family-serif;
      // font-style: italic;
      // line-height: 90%;
    }
  }
}