.brands-list {
  margin-top: 40px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
  }

  ul {
    display: flex;

    overflow-x: scroll;

    @include scrollbar-hidden();
  }
}

.filter-tab {
  padding: 12px 15px;
  border: 1px solid $green-extra-lighten;
  border-radius: 50px;

  display: flex;
  align-items: center;
  text-align: center;

  font-size: 14px;

  cursor: pointer;

  white-space: nowrap;

  transition: .5s;

  &:hover {
    border: 1px solid $green;
  }

  @media (max-width: $breakpoint - 1px) {
    padding: 5px 15px;
    font-size: 12px;
  }

  &:not(:last-child) {
    margin-right: 20px;

    @media (max-width: $breakpoint - 1px) {
      margin-right: 10px;
    }
  }

  sup {
    font-size: 10px;
    line-height: 12px;
    transform: translateY(-60%);
  }
}

.active-tab {
  color: #fff;
  background-color: $green;
  border: 1px solid $green;
}