.brands-list {
  margin-top: 40px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 20px;
  }

  ul {
    display: flex;
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 40px;

    @include scrollbar-hidden();

    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 -10px;
      padding: 0 10px;
    }
  }
}

.filter-tab {
  padding: 12px 15px;
  border: 1px solid $green-extra-lighten;
  border-radius: 50px;

  display: flex;
  align-items: center;
  text-align: center;

  font-size: 14px;
  line-height: 1;
  white-space: nowrap;

  cursor: pointer;
  transition: .5s;

  &:hover {
    border: 1px solid $green;
  }

  @media (max-width: ($breakpoint - 1px)) {
    padding: 5px 15px;
    font-size: 12px;
  }

  &:not(:last-child) {
    margin-right: 20px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 10px;
    }
  }

  sup {
    font-size: 10px;
    line-height: 12px;
    transform: translateY(-60%);

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }

  &.small {
    padding: 8px 15px 12px;

    @media (max-width: ($breakpoint - 1px)) {
      padding: 5px 15px
    }
  }
}

.active-tab {
  color: #fff;
  background-color: $green;
  border: 1px solid $green;
}

.tabs-num {
  .filter-tab {
    height: 24px;
    @media (min-width: $breakpoint) {
      height: 40px;
    }
  }
  sup {
    @media (max-width: $breakpoint - 1px) {
      display: block;
      font-size: 8px;
      transform: translateY(-40%);
    }
  }
}