.designers-form {
  &__title {
    margin-bottom: 60px;
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  &__form {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    button {
      width: 100%;
      margin-top: 40px;
    }
  }
  &__label {

  }
  &__checkbox {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      display: none;
      margin: 0;
    }
    input[type="checkbox"]:checked + .checkbox::before {
      background-image: url(assets/images/checkbox.png);
      background-position: center;
    }
    .checkbox::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 0px 7px;
      border: 2px solid $green;
      vertical-align: middle;
      transition: 0.1s;
    }
    &-txt {
      color: $black;
      line-height: 120%;
      font-size: 12px;
      margin-left: 20px;
      a {
        color: $green;
      }
    }
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $green-extra-lighten;

    font-family: "SuisseIntl", Arial, sans-serif;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 15px;
    margin-bottom: 30px;

    &::placeholder {
      opacity: 1;
    }
  }
}

.objects-form {
  .designers-form__form {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    textarea {
      resize: none;

      &::placeholder {
        opacity: 1;
      }
    }

    button {
      width: calc(#{$col-part-d} * 2);
    }
  }
  .designers-form__label {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    &:nth-child(3) {
      width: 100%;
    }
  }
}