.designers-form {
  &.about-mission {
    padding-top: 0;
  }

  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;

    .mission__slider-underlay::before {
      display: none;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 60px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 10px;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: 60px 0;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 0 15px;
    }
  }
  &__form {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    button[type="submit"] {
      width: 100%;
      margin-top: 40px;

      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 20px;
      }
    }
  }
  &__label {
    margin-bottom: 20px;
    // padding-bottom: 20px;

    position: relative;

    ul {
      margin-bottom: 0;
    }

    // @media (max-width: ($breakpoint - 1px)) {
    //   margin-bottom: 5px;
    // }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    height: 30px;
    margin-top: 30px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 20px;
    } 

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      margin: 0;
    }
    input[type="checkbox"]:checked + .checkbox::before {
      background-image: url(assets/images/checkbox.png);
      background-position: center;
      border: 1px solid $green;
    }
    .checkbox::before {
      content: '';
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 0px 7px;
      border: 1px solid $green-extra-lighten;
      vertical-align: middle;
      transition: 0.1s;
      transition: .5s;
    }
    &:hover {
      .checkbox::before {
        border: 1px solid $green;
      }
    }
    &-txt {
      color: $black;
      line-height: 120%;
      font-size: 12px;
      margin-left: 20px;
      a {
        color: $green;
      }
    }
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $green-extra-lighten;
    background-color: transparent;
    font-family: "SuisseIntl", Arial, sans-serif;
    font-size: 16px;
    line-height: 160%;
    padding-bottom: 15px;
    // margin-bottom: 20px;

    transition: .5s;

    resize: none;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 14px;
      // margin-bottom: 20px;
      padding-bottom: 8px;
    }

    &::placeholder, &::-webkit-input-placeholder {
      opacity: 1;
    }
  }
}

.objects-form {
  .designers-form__form {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin: unset;
    }

    textarea {
      resize: none;

      &::placeholder {
        opacity: 1;
      }
    }

    button {
      width: calc(#{$col-part-d} * 2);
      margin-top: 0;

      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 20px;
      }
    }
  }
  label {
    width: 100%;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    }

    &:nth-child(3) {
      width: 100%;
    }
  }
}

.form__add-file {
  color: $black;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin: 10px 0 40px;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
  }
}

.career-form__form {
  width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    width: 100%;
  }
  .designers-form__checkbox {
    width: auto;
  }
  .form__add-file  {
    width: 100%;
  }
  button[type="submit"] {
    width: calc(#{$col-part-d} * 2);
  }
}

.placeholder-active {
  font-size: 12px;
  line-height: 160%;
  color: $green;
  opacity: 0;
  padding-left: 3px;

  transition: .5s;
}

.parsley-errors-list {
  font-size: 12px;
  line-height: 160%;
  color: #FF0000;
  position: absolute;
  // bottom: -20px;
}
.designers-form__input.parsley-error {
  border-bottom: 1px solid #FF0000;
}
.designers-form__checkbox.parsley-error {
  .checkbox::before {
    border: 1px solid #FF0000;
  }
}

.input-focus {
  .designers-form__input {
    border-bottom: 1px solid $green;
  }

  .checkout-block__input {
    border-bottom: 1px solid $green;
  }
}

.placeholder-top {
  .placeholder-active {
    opacity: 1;
  }
}
.error {
  .placeholder-active {
    color: #FF0000;
  }
}