.section {

  &__top {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}