.section {

  &__top {
    margin-bottom: 20px;
    @media (min-width: $breakpoint) {
      margin-bottom: 80px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-links {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  overflow-x: scroll;

  li {
    margin: 10px 0;
  }
}

.product-contact-col {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;

  width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
  }

  p {
    width: 100%;
    font-size: 25px;
    line-height: 120%;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .btn {
    height: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
      height: auto;
      background: transparent;
      border: 1px solid $green-extra-lighten;
    }
  }

  .designers-contacts__links {
    padding-left: 0;
    width: 200px;
  }
}