#gl {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
}

canvas {
	display: block;
}

.test {
	height: 100vh;
}

.conditions__slider {
	position: absolute;
	top: 0;

	width: 100%;
	height: 100%;
	overflow: hidden;
}

#conditions-container {
	position: relative;
	z-index: 0;

	width: 100%;
	height: 100vh;
}

.conditions-nav {
	position: absolute;
	z-index: 100;
	left: 50px;
	bottom: 50px;

	display: flex;

	&__item {
		position: relative;
		z-index: 0;

		&:not(:last-child) {
			padding-right: 40px;
		}
	}

	&__text {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 13px;
	}

	&__span {
		margin-right: 10px;
	}

	&__bot {
		margin-top: 20px;

		min-height: 12px;

		display: flex;
		align-items: center;
	}

	&__box {
		--size: 6px;

		flex-shrink: 0;
		width: var(--size);
		height: var(--size);

		border: 1px solid $white-lighten;

		&.active {
			--size: 12px;

			background: $green;
			border-color: $green;
		}
	}

	&__container {
		position: absolute;
		z-index: -1;
		right: 10px;
		left: 22px;

		height: 1px;

		&::before {
			content: "";
			position: absolute;

			width: 100%;
			height: 1px;

			background: $white-lighten;
		}
	}

	&__line {
		content: "";
		position: absolute;
		z-index: 1;
		
		height: 1px;

		background: $green;
	}
}