.basket {
  display: flex;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
  }
}

.basket-main {
  width: 100%;

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 12 - (#{$col-gap-d} * 2));
  }
}

.basket-aside {
  // width: 100%;
  background-color: #EBFAF2;

  margin: 40px -10px -40px;
  padding: 40px 10px 0;

  @media (min-width: $breakpoint) {
    width: calc(#{$col-part-d} * 4 + #{$col-gap-d} + 40px);

    margin: -140px -40px -160px 0;
    padding: 140px 40px 0;
  }

  &__container {
    @media (min-width: $breakpoint) {
      position: sticky;
      position: -webkit-sticky;
      top: 140px;
    }
  }

  &__ttl {
    text-transform: uppercase;
    font-size: 24px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 14px;
    }
  }

  &__table {
    margin: 60px 0 256px;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 20px 0 40px;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    text-transform: uppercase;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 11px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;

      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 10px;
      }
    }
  }

  &__value {
    font-weight: 600;
  }

  &__total {
    background-color: $green-extra-lighten;
    border-radius: 20px 20px 0px 0px;

    padding: 30px 40px;
    margin: 60px -40px 0;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 40px -10px 0;
      padding: 13px 10px;
    }

    .basket-aside__row {
      font-size: 18px;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 12px;

        .basket-aside__value {
          font-size: 16px;
        }
      }
    }

    .btn {
      width: 100%;
    }
  }
}

.basket-checkbox {
  display: flex;
  align-items: center;
  margin: 60px 0;

  font-size: 16px;
  line-height: 160%;

  @media (max-width: ($breakpoint - 1px)) {
    margin: 40px 0;
    font-size: 14px;
  }

  .designers-form__checkbox {
    margin-right: 20px;
    margin-top: 0;

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 10px;
    }
  }

  &__price {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 0 0 auto;
    }
  }
}

.basket-tooltip {
  margin-left: 5px;
  position: relative;
  display: flex;
  align-items: center;

  cursor: pointer;

  .tooltip {
    position: absolute;
    bottom: 25px;
    left: -90px;
    max-width: 200px;
    width: max-content;
    height: auto;
    padding: 8px 10px;
    background: #fff;
    box-shadow: 0px 10px 30px rgba(43, 85, 55, 0.1);

    font-size: 11px;
    line-height: 140%;
    font-weight: 400;

    opacity: 0;
    pointer-events: none;
    transition: .5s;
  }

  svg circle, svg path {
    transition: .5s;
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }

    svg {
      circle {
        fill: $green;
      }
      path {
        fill: #fff;
      }
    }
  }
}

.basket-promocode {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: calc(#{$col-part-d} * 6);
  padding-bottom: 20px;
  border-bottom: 1px solid $green-extra-lighten;

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
    padding-bottom: 10px;
  }

  &__ttl {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 24px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__input {
    border: none;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;

    width: calc(#{$col-part-d} * 4);

    // &::placeholder {
    //   opacity: 1;
    // }

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 12px;
      width: 50%;
    }
  }

  &__btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 12px;
    }
  }

  &__success, &__error {
    font-size: 16px;
    line-height: 120%;
    margin-top: 20px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 14px;
    }
  }

  &__success {
    color: $green;
  }

  &__error {
    color: #FF6363;
  }
}

.basket-table {

  .favorites-table__top, .favorites-table__row {
    width: calc(#{$col-part-d} * 11);

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }
  }

  .favorites-table__row {
    position: relative;

    .favorites-table__col {
      &:nth-child(4) {
        width: calc(#{$col-part-d});

        @media (max-width: ($breakpoint - 1px)) {
          width: calc(#{$col-part-m});
        }
      }
  
      &:nth-child(5) {
        padding: 0 0 0 calc(#{$col-gap-d});
        margin-top: 90px;
        height: 30px;
        display: flex;
        align-items: center;

        @media (max-width: ($breakpoint - 1px)) {
          margin-top: 0;
          padding: 0 0 0 20px;
          width: calc(#{$col-part-m} * 2 - 15px);

          flex-wrap: wrap;
        }
      }
    }
  }

  .favorites-table__top {
    .favorites-table__col {
      &:nth-child(4) {
        width: calc(#{$col-part-d});
      }
      &:nth-child(5) {
        padding-left: calc(#{$col-gap-d});
      }
    }
  }
}

.basket-table .favorites-table__row .favorites-table__col.basket-btn-row, .lk-order-list .favorites-table__row .favorites-table__col.basket-btn-row {
  @media (max-width: ($breakpoint - 1px)) {
    height: auto;
    margin-bottom: 0;
    position: relative;

    .favorites-table__col-ttl {
      position: absolute;
      top: 0;
    }
  }
}

.basket-btn-minus {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid $green-extra-lighten;

  margin-right: 12px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 1px;
    background-color: $black;
  }
}

.basket-btn-plus {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid $green-extra-lighten;

  margin-left: 12px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after, &::before {
    position: absolute;
    content: '';
    width: 11px;
    height: 1px;
    background-color: $black;
  }
  &::before {
    transform: rotate(90deg);
  }
}

.basket-item-delete {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-bottom: 1px solid $green-extra-lighten;
  border-left: 1px solid $green-extra-lighten;

  transition: .5s;

  @media (max-width: ($breakpoint - 1px)) {
    width: 30px;
    height: 30px;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 1px;
    background-color: $black;

    transition: .5s;

    @media (max-width: ($breakpoint - 1px)) {
      width: 10px;
    }
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(135deg);
  }

  &:hover {
    background-color: $green;

    &::before, &::after {
      background-color: #fff;
    }
  }
}