.brands-top {
  display: flex;
  margin-top: 60px;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
  }

  &-logo {
   width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
   border: 1px solid $green-extra-lighten;
   border-radius: 0px 0px 900px 900px;

   margin-right: calc(#{$col-part-d} + #{$col-gap-d});

   display: flex;
   justify-content: center;
   align-items: center;

   position: relative;

   @media (max-width: $breakpoint - 1px) {
     width: 50%;
     height: 140px;

     img {
       width: 94px;
     }
   }

   &::after {
    content: url('assets/images/brand-flag-1.png');
    position: absolute;
    top: 16px;
    right: -30px;
   }
  }

  &-desc {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    margin-right: calc(#{$col-part-d} * 2 + #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-right: 0;
      margin-top: 20px;
    }

    &__ttl {
      margin-bottom: 20px;
    }
    &__txt {
      font-size: 20px;
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
        line-height: 140%;
      }
    }
  }

  &-links {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-top: 20px;
    }

    .footer__download {
      color: $black;
      border-color: $green-extra-lighten;
      width: 100%;

      margin-bottom: 20px;
    }
    .footer__download-icon-wrap {
      border-color: $green-extra-lighten;
    }
  }
}

.brands-pics {
  margin-top: 100px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }

  &-row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
    }

    img {
      width: calc(50% - 10px);

      @media (max-width: $breakpoint - 1px) {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .projects__slider.swiper-container {
    margin-top: 120px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 40px;
    }

    .projects__slider-controls {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }

  &-txt {
    margin-top: 120px;

    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint - 1px) {
     margin-top: 40px;
     flex-direction: column;
    }

    &__col {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
      padding-right: calc(#{$col-width-d});

      font-size: 18px;
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        width: 100%;
        padding-right: 0;
        font-size: 14px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}