.career-titles {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
  }
}

.career-row {
  display: flex;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column-reverse;
  }

  &__img {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 7);
    margin-left: calc(#{$col-part-d} + #{$col-gap-d});
    text-indent: calc(#{$col-part-d});
    // font-size: $font-size-h3;
    line-height: 120%;
    text-transform: uppercase;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px;
    }
  }
}

.career-row:nth-child(2) {
  justify-content: flex-end;
  align-items: flex-end;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
  }

  .career-row__txt {
    margin-right: calc(#{$col-part-d} * 2);
    margin-top: 100px;

    @media (max-width: $breakpoint - 1px) {
      margin-right: 0;
      margin-top: 40px;
    }
  }
}

.career-row:nth-child(3) {
  margin-top: 120px;
  align-items: flex-end;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }
}

.career-requirement {
  display: flex;
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    margin-top: 40px;
  }

  &__title {
    width: calc(#{$col-part-d} * 6);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }
  &__list {
    li {
      font-family: $base-font-family-serif;
      font-size: 78px;
      line-height: 130%;
      text-transform: uppercase;
      white-space: nowrap;

      position: relative;

      @media (max-width: $breakpoint - 1px) {
        font-size: 24px;
        margin-top: 20px;
      }
    }
    .highlight-1::after {
      content: url('assets/images/new-highlights/career/highlight-1.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .highlight-2::after {
      content: url('assets/images/new-highlights/career/highlight-2.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .highlight-3::after {
      content: url('assets/images/new-highlights/career/highlight-3.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .highlight-4::after {
      content: url('assets/images/new-highlights/career/highlight-4.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .highlight-5::after {
      content: url('assets/images/new-highlights/career/highlight-5.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
    .highlight-6::after {
      content: url('assets/images/new-highlights/career/highlight-6.png');
      position: absolute;
      z-index: -1;
      bottom: -15px;
      left: 0;
      right: 0;
    }
  }
}

.career-vacancies {
  margin-top: 160px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }
}

.career-spoilers {
  padding: 0 calc(#{$col-part-d} * 2);
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    padding: 0;
    margin-top: 20px;
  }
}

.spoiler {
  border: 1px solid #CAE8D9;
  transition: .5s;

  &:not(:first-child) {
    border-top: transparent;
    margin-top: -1px;
  }

  &__button {
    display: flex;
    cursor: pointer;

    &-inner {
      display: flex;
      padding: 40px 0 40px 20px;

      width: calc(100% - 102px);

      @media (max-width: $breakpoint - 1px) {
        padding: 20px;
        width: calc(100% - 40px);
      }
    }
  }
  &__title {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    font-size: 18px;
    line-height: 120%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
      width: 100%;
    }
  }
  &__city {
    width: calc(#{$col-part-d} * 2);
    font-family: $base-font-family-serif;
    font-size: 16px;
    line-height: 130%;
  }
  &__salary {
    font-family: $base-font-family-serif;
    font-size: 16px;
    line-height: 130%;
  }
  &__close {
    width: 102px;
    border-left: 1px solid #CAE8D9;
    border-bottom: 1px solid transparent;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s;

    @media (max-width: $breakpoint - 1px) {
    height: 40px;
    width: 40px;
    border-bottom: 1px solid #CAE8D9;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: $black;

      transition: .5s;

      @media (max-width: $breakpoint - 1px) {
        width: 12px;
        height: 1px;
      }
    }
    &::after {
      transform: rotate(90deg);
    }
  }
  &__dropdown {
    display: none;
    &-inner {
      padding: 40px 20px 60px;


      @media (max-width: $breakpoint - 1px) {
        padding: 0 60px 20px 20px;
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
  &__desc {
    border-bottom: 1px solid $green;

    &-block {
      display: flex;
      margin-bottom: 60px;
    }
    &-ttl {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
      text-transform: uppercase;
    }
    &-list {
      li {
        display: flex;
        align-items: center;
      }
      li:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: $green;
        margin-right: 40px;
      }
      li:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
  &__contact {
    padding: 60px calc(#{$col-part-d} - #{$col-gap-d}) 0 calc(#{$col-part-d} * 3 - #{$col-gap-d});
    display: flex;
    justify-content: space-between;

    button {
      width: calc(#{$col-part-d} * 3);
    } 
  }
}

.spoiler.spoiler--active {
  border-color: $green;
  border-top: 1px solid $green;
  
  .spoiler__close {
    border-bottom: 1px solid $green;
    border-left: 1px solid $green;

    &::before {
      background-color: $green;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $green;
      transform: rotate(135deg);
    }
  }
}

.career-contacts-txt {
  font-size: 36px;
  line-height: 120%;
  width: calc(#{$col-part-d} * 6);
  margin-right: calc(#{$col-part-d});

  @media (max-width: $breakpoint - 1px) {
    font-size: 16px;
    width: 100%;
    margin-right: 0;
  }
}
.designers-contacts__card.career-contacts-card {
  width: calc(#{$col-part-d} * 7 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-top: 40px;
  }
}

.career-form {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    margin-top: 40px;
  }

  &__form {
    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      flex-direction: column;

      .form__add-file {
        margin: 0 0 20px;
      }

      button[type="submit"] {
        margin-top: 20px;
      }
    }
  }
}

.career-hh {
  margin-top: 44px;
  width: calc(#{$col-part-d} * 8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-top: 1px solid $green;
  border-bottom: 1px solid #CAE8D9;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    height: 304px;
  }

  &__link {
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
      color: $green;
    }
    

    // transition: .5s;

    @media (max-width: $breakpoint - 1px) {
      font-size: 24px;
    }
  }

  img {
    position: absolute;
    z-index: -1;

    @media (max-width: $breakpoint - 1px) {
      max-height: 224px;
    }
  }
}