// conditions pages
// designers page

.designers-highlight {
  span {
    font-family: $base-font-family-serif;
    position: relative;

    &::after {
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;

      position: absolute;
      content: '';
      z-index: -1;
      width: 100%;
      height: 10px;
    }
  }

  &-1 {
    &::after {
      background-image: url(assets/images/new-highlights/designer-highlights-1.png);
      // left: 0;
      right: 5px;
      bottom: 3px;

      @media (max-width: ($breakpoint - 1px)) {
        bottom: 0;
      }
    }
  }
  &-2 {
    &::after {
      background-image: url(assets/images/new-highlights/designer-highlights-2.png);
      left: 0;
      bottom: 5px;

      @media (max-width: ($breakpoint - 1px)) {
        bottom: 0;
      }
    }
  }
  &-3 {
    &::after {
      background-image: url(assets/images/new-highlights/designer-highlights-3.png);
      left: 0;
      bottom: 3px;

      @media (max-width: ($breakpoint - 1px)) {
        bottom: 2px;
      }
    }
  }
}

.designers-brands {
  margin-top: 120px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__desc {
    width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 70px;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__list {

    &.swiper-container {
      ul {
        overflow-x: unset;
      }
      li:not(:first-child) {
        margin-left: 0;
      }
      li:not(:last-child) {
        margin-right: 10px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      @include scrollbar-hidden;

      @media (max-width: ($breakpoint - 1px)) {
        margin: 0 -10px;
        padding: 0 10px;
      }
    }

    &-img {
      min-width: 238px;
      min-height: 150px;

      margin-bottom: 20px;

      border: 1px solid $green-extra-lighten;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: ($breakpoint - 1px)) {
        min-width: 130px;
        width: 130px;
        min-height: 82px;
        height: 82px;
        margin-bottom: 12px;

        padding: 20px 30px;

        img {
          // width: 29px;
          max-width: 95%;
          max-height: 95%;
        }
      }
    }

    li {
      font-size: 14px;
      line-height: 130%;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 10px;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

.designers-offers {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__title {
    width: calc(#{$col-part-d} * 9 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }
  }

  &__table {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: ($breakpoint - 1px)) {
        flex-direction: column;
      }
    }

    li {
      margin-top: 60px;
      padding-bottom: 20px;
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      border-bottom: 1px solid $green-extra-lighten;

      display: flex;
      flex-direction: column;

      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
        font-size: 14px;
        margin-top: 40px;
      }

      div {
        margin-bottom: 57px;

        @media (max-width: ($breakpoint - 1px)) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.designers-benefits {
  $comp: &;

  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__title {
    margin-bottom: 80px;
    width: calc(#{$col-part-d} * 6 - (#{$col-gap-d} * 3));

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__table {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: ($breakpoint - 1px)) {
        flex-direction: column;
      }
    }
    
    li {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
      border-top: 1px solid $green-extra-lighten;
      padding-top: 20px;

      display: flex;

      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
        flex-direction: column;
      }

      &:not(:last-child) {
        margin-bottom: 60px;

        @media (max-width: ($breakpoint - 1px)) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &__img {
    width: calc(#{$col-part-d} * 2);

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 40px;
      width: auto;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    padding-right: calc(#{$col-part-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      padding-right: 0;
    }

    #{$comp}__ttl {
      font-size: 24px;
      line-height: 130%;
      text-transform: uppercase;
      margin-bottom: 20px;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 14px;
      }
    }
    #{$comp}__desc {
      font-size: 16px;
      line-height: 160%;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 14px;
      }
    }
  }
}

.designers-products {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__top {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }

    h2 {
      margin: 0;
    }
  }

  &__title {
    text-indent: calc(#{$col-part-d});
    margin-bottom: 60px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
      text-indent: calc(#{$col-width-m} / 3 * 2);
    }

    span {
      font-family: $base-font-family-serif;
      text-transform: lowercase;
    }
  }

  &-filter {
    margin-bottom: 80px;

    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      margin: 0;

      overflow-x: scroll;

      @include scrollbar-hidden();

      @media (max-width: ($breakpoint - 1px)) {
        margin: 0 -20px;
        padding: 0 20px;
      }
    }
  }
  &__controls {
    width: 110px;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    .cover__slider-arrows {
      max-width: 110px;
    }
  }

  .swiper-container {
    margin-right: -10px;
    @media (min-width: $breakpoint) {
      margin-right: -40px;
    }
  }
}

.designers-products__catalog {
  display: flex;

  @media (min-width: $breakpoint) {
    margin-bottom: -30px;

    .swiper-container {
      padding-bottom: 30px;
    }
  }
}
.you-watched {
  .designers-products__catalog {
    margin-right: -40px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: -10px;
    }
  }
}

.designers-block {
  margin-top: 70px;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column-reverse;
    margin-top: 40px;

    .about-block__desc {
      width: 100%;
    }

    .about-block__ttl {
      margin-bottom: 40px;
    }

    .about-block__img {
      width: 100%;
      text-align: right;

      &::before {
        right: 15%;
      }

      img {
        width: 85%;
      }
    }
  }
}

.designers-showrooms {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__title {
    text-indent: calc(#{$col-part-d});
    margin-bottom: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
      text-indent: calc(#{$col-width-m} / 3 * 2);
    }

    span {
      font-family: $base-font-family-serif;
      text-transform: lowercase;
    }
  }

  .projects__slide {
    @media (max-width: ($breakpoint - 1px)) {
      margin: 0 10px 0 0;
      width: 270px;
    }
  }

  .projects__slider-controls {
    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }
  }
}

.designers-contacts {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__top {
    display: flex;
    margin-bottom: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
  &__title {
    width: calc(#{$col-part-d} * 9 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__subtitle {
    font-family: $base-font-family-serif;
    font-size: 20px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 16px;
    }
  }
  &__row {
    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: column;
    }
  }
  &__card {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    padding: 20px 20px 0 0;
    border-top: 1px solid $green-extra-lighten;

    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
    
    &:first-child {
      margin-right: $col-gap-d;
    }
  }
  &__img {
    width: calc(#{$col-part-d} * 2);
    margin-right: calc(#{$col-width-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(#{$col-part-m} * 2 + (#{$col-width-m} / 2));
    }

    img {
      width: 100%;
      border-radius: 0px 20px;
    }
  }
  &__desc {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    display: flex;
    flex-direction: column;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-top: 20px;
    }
  }
  &__name {
    font-size: 25px;
    line-height: 120%;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 18px;
    }
  }
  &__position {
    font-size: 13px;
    line-height: 160%;
  }
  &__contacts {
    font-size: 14px;
    margin: 20px 0 60px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: ($breakpoint - 1px)) {
      margin: 20px 0;
    }

    .designers-contacts__tel {
      position: relative;
      margin-right: 15px;
      display: flex;
      align-items: center;
    }
    .designers-contacts__tel::after {
      content: '';
      display: block;
      margin-left: 15px;

      width: 6px;
      height: 6px;
      background-color: $green;
    }
  }
  &__links {
    padding-left: calc(#{$col-part-d} + #{$col-gap-d});
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: ($breakpoint - 1px)) {
      padding-left: 0;
    }

    &-txt {
      width: 100%;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .footer__socials, .footer__socials-link {
      border-color: $black;
      margin-bottom: 0;
    }
  }

  .btn-resize {
    width: 149px;
    height: 40px;
    @media (min-width: $breakpoint) {
      width: 187px;
      height: 80px;
    }
  }
}

.contacts-btn {
  margin: auto 0 0;
  padding: 32px 30px;
  border-radius: 0 20px;
  border: 1px solid $green-extra-lighten;
  text-transform: uppercase;
  font-size: 14px;
  // width: calc(#{$col-part-d} * 2);
  max-width: 190px;
  background-color: transparent;
  white-space: nowrap;

  text-align: center;

  @media (max-width: ($breakpoint - 1px)) {
    padding: 13px 20px;
    font-size: 12px;
  }
}

// .mission__main .designers-form__form {
//   // width: calc(100% - 60px);
//   width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
// }

.designers-form__imgs {
  display: flex;
  justify-content: space-between;

  img:nth-child(1) {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    height: 80%;

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(35% - 5px);
    }
  }
  img:nth-child(2) {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: calc(65% - 5px);
    }
  }
}

// objects page

.objects-form {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  h2 {
    margin-bottom: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 5px;
    }
  }
}

.objects-highlights {
  span::after {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 10px;
  }

  &-1 {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url(assets/images/new-highlights/objects-highlight-1.png);
      left: 0;
      bottom: 2px;
      z-index: -1;
    }
  }
  &-2 {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url(assets/images/new-highlights/objects-highlight-2.png);
      left: 0;
      bottom: 2px;
      z-index: -1;
    }
  }
  &-3 {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      background-image: url(assets/images/new-highlights/objects-highlight-3.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      left: 0;
      bottom: 0;
      z-index: -1;
      text-indent: 0;

      width: 100%;
      height: 10px;

      @media (min-width: $breakpoint) {
        bottom: 5px;
      }
    }
  }
  &-4 {
    position: relative;
    &::after {
      position: absolute;
      content: '';
      background-image: url(assets/images/new-highlights/objects-highlight-4.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      left: 0;
      bottom: 0;
      z-index: -1;
      text-indent: 0;

      width: 100%;
      height: 10px;

      @media (min-width: $breakpoint) {
        bottom: 5px;
      }
    }
  }
}

.ojects-projects-top {
  $comp: &;

  display: flex;
  align-items: center;
  margin-bottom: 60px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &--advice {
    justify-content: space-between;
    @media (max-width: ($breakpoint - 1px)) {
      flex-direction: row;
      align-items: center;
    }
    #{$comp}__title {
      margin-bottom: 0;
      width: auto;
    }
  }

  &__title {
    width: calc(#{$col-part-d} * 8);

    @media (max-width: ($breakpoint - 1px)) {
      width: auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    transition: .5s;

    svg {
      margin-left: 10px;
      transition: .5s;

      rect {
        transition: .5s;
      }
      path {
        transition: .5s;
      }
    }

    &:hover {
      color: $green;

      svg {
        rect {
          fill: $green;
        }
        path {
          fill: #ffffff;
        }
      }
    }
  }
}

.objects-benefits {
  .designers-benefits__txt .designers-benefits__desc {
    @media (min-width: $breakpoint) {
      font-size: 18px;
    } 
  }
}

// destributor page

.distributor-desc {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    margin-top: 40px;
  }

  &__ttl {
    width: calc(#{$col-part-d} * 7);

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-bottom: 20px;
    }

    span {
      font-family: $base-font-family-serif;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    font-size: 20px;
    line-height: 160%;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      font-size: 16px;
      line-height: 140%;
    }
  }
}

.distributor-offers {
  margin-top: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 0;
  }

  &-ico {
    height: 90px;
    display: flex;
    align-items: flex-end;
  }
}

.distributor-benefits {
  padding-bottom: 20px;
  border-bottom: 1px solid $green;

  @media (max-width: ($breakpoint - 1px)) {
    border-bottom: none;
    padding-bottom: 0;

    .designers-benefits__txt .designers-benefits__ttl {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
  }
}

.distributor-highlight {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: url('assets/images/new-highlights/distributor-highlight.png');
    position: absolute;
    z-index: -1;
    top: 5px;
  }
}

.distributor-products-ttl {
  margin-bottom: 20px;

  @media (min-width: $breakpoint) {
    margin-bottom: 60px;
  }
}

.distributor-price {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    margin-top: 60px;
  }

  &__ttl {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    h3 {
      text-indent: calc(#{$col-part-d});
      margin: 0;

      @media (max-width: ($breakpoint - 1px)) {
        text-indent: calc(#{$col-width-m} / 3 * 2);
      }
    }

    .footer__download {
      @media (max-width: ($breakpoint - 1px)) {
        display: none;
      }
    }
  }
  .footer__download {
    margin-top: 40px;
    color: #0F2C2D;
    border-color: #CAE8D9;
  }
  .footer__download-icon-wrap {
    border-color: #CAE8D9;
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-top: 20px;
    }

    p {
      font-family: $base-font-family-serif;
      font-size: 20px;
      line-height: 130%;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 16px;
      }
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 46px;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 14px;
      }
    }
    li::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $green;
      margin-left: -46px;
    }

    .footer__download {
      width: 100%;
      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
}

.designers-benefits__table .distributor-benefits-ttl {
  font-family: $base-font-family-serif;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-top: none;

  @media (max-width: ($breakpoint - 1px)) {
    font-size: 36px;
  }
}

.distributor-brands {
  margin-top: 160px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
  }

  .designers-brands__list ul {
    justify-content: flex-start;
  }

  .designers-brands__list li {
    width: auto;
  }
}

.distributor-contacts {
  .designers-contacts__links {
    padding-left: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      padding-left: 0;
    }
  }
}

.distributor-form {
  background-color: #DEF5EA;
  padding: 100px 96px;
  border-radius: 0px 20px;

  position: relative;

  @media (max-width: ($breakpoint - 1px)) {
    padding: 40px 10px;
    margin: 40px -10px 0;
  }

  .mission__slider-underlay {
    width: calc(#{$col-part-d} * 6);

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    &::before {
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 20px;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
  }
}