// conditions pages
// designers page

.designers-highlight {
  &-1 {
    position: relative;

    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/designer-highlights-1.png);
      left: 0;
      bottom: -7px;
      z-index: -1;
    }
  }
  &-2 {
    position: relative;

    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/designer-highlights-2.png);
      left: 0;
      bottom: -7px;
      z-index: -1;
    }
  }
  &-3 {
    position: relative;

    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/designer-highlights-3.png);
      left: 0;
      bottom: -7px;
      z-index: -1;
    }
  }
}

.designers-brands {
  margin-top: 120px;

  &__desc {
    width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 70px;
  }

  &__list {

    ul {
      display: flex;
      justify-content: space-between;
    }

    &-img {
      min-width: 238px;
      min-height: 150px;

      margin-bottom: 20px;

      border: 1px solid $green-extra-lighten;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    li {
      font-size: 14px;
      line-height: 130%;
      text-transform: uppercase;
      text-align: center;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
}

.designers-offers {
  margin-top: 160px;

  &__title {
    width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
  }

  &__table {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      margin-top: 60px;
      padding-bottom: 20px;
      width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

      border-bottom: 1px solid $green-extra-lighten;

      display: flex;
      flex-direction: column;

      div {
        margin-bottom: 57px;
      }
    }
  }
}

.designers-benefits {
  $comp: &;

  margin-top: 160px;

  &__title {
    margin-bottom: 80px;
    width: calc(#{$col-part-d} * 6 - (#{$col-gap-d} * 3));
  }

  &__table {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    li {
      width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
      border-top: 1px solid $green-extra-lighten;
      padding-top: 20px;
      margin-bottom: 60px;

      display: flex;
    }
  }

  &__img {
    width: calc(#{$col-part-d} * 2);
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    padding-right: calc(#{$col-part-d});

    #{$comp}__ttl {
      font-size: 24px;
      line-height: 130%;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    #{$comp}__desc {
      font-size: 16px;
      line-height: 160%;
    }
  }
}

.designers-products {
  margin-top: 160px;
  &__title {
    text-indent: calc(#{$col-part-d});
    margin-bottom: 60px;
    span {
      font-family: $base-font-family-serif;
      text-transform: lowercase;
    }
  }
  &-filter {
    margin-bottom: 80px;

    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
    }
  }
  &__controls {
    width: 110px;
    .cover__slider-arrows {
      max-width: 110px;
    }
  }
}

.designers-products__catalog {
  display: flex;
}

.catalog-card {
  width: 304px;
  border: 1px solid $green-extra-lighten;

  &:not(:last-child) {
    border-right: none;
  }

  &__top {
    position: relative;
  }
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px 10px 0 10px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__labels {
    display: flex;
    padding: 10px;

    &-item {
      padding: 8px 16px;
      border: 1px solid $green-extra-lighten;
      border-radius: 0px 10px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  &__pagination {
    display: flex;
    &-item {
      width: 6px;
      height: 6px;
      background-color: $green-extra-lighten;

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
  &__buttons {
    display: flex;
    &-item {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $green-extra-lighten;

      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 20px;
  }
  &__ttl {
    width: 100%;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 120%;
  }
  &__color {
    font-family: $base-font-family-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
  }
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
  }
}

.designers-showrooms {
  margin-top: 160px;
  &__title {
    text-indent: calc(#{$col-part-d});
    margin-bottom: 80px;
    span {
      font-family: $base-font-family-serif;
      text-transform: lowercase;
    }
  }
}

.designers-contacts {
  margin-top: 160px;

  &__top {
    display: flex;
    margin-bottom: 80px;
  }
  &__title {
    width: calc(#{$col-part-d} * 9 - #{$col-gap-d});
  }
  &__subtitle {
    font-family: $base-font-family-serif;
    font-size: 20px;
  }
  &__row {
    display: flex;
  }
  &__card {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    padding: 20px 20px 0 0;
    border-top: 1px solid $green-extra-lighten;

    display: flex;
    
    &:first-child {
      margin-right: $col-gap-d;
    }
  }
  &__img {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
  &__desc {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});

    display: flex;
    flex-direction: column;
  }
  &__position {
    font-size: 13px;
    line-height: 160%;
  }
  &__contacts {
    font-size: 14px;
    margin: 20px 0 60px;
    display: flex;
    flex-wrap: wrap;

    .designers-contacts__tel {
      position: relative;
      // padding-right: 15px;
      margin-right: 15px;
      display: flex;
      align-items: center;
    }
    .designers-contacts__tel::after {
      content: '';
      display: block;
      // position: absolute;
      // top: 5px;
      // right: -6px;
      margin-left: 15px;

      width: 6px;
      height: 6px;
      background-color: $green;
    }
  }
  &__links {
    padding-left: calc(#{$col-part-d} + #{$col-gap-d});
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-txt {
      width: 100%;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .footer__socials, .footer__socials-link {
      border-color: $black;
      margin-bottom: 0;
    }
  }
}

.contacts-btn {
  margin: auto 0 0;
  padding: 32px 30px;
  border-radius: 0 20px;
  border: 1px solid $green-extra-lighten;
  text-transform: uppercase;
  font-size: 14px;
  // width: calc(#{$col-part-d} * 2);
  max-width: 190px;
  background-color: transparent;
  white-space: nowrap;
}

.designers-form__imgs {
  display: flex;
  justify-content: space-between;

  img:nth-child(1) {
    width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    height: 80%;
  }
  img:nth-child(2) {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
  }
}

// objects page

.objects-form {
  margin-top: 160px;

  h2 {
    margin-bottom: 80px;
  }
}

.objects-highlights {
  &-1 {
    position: relative;
    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/objects-highlight-1.png);
      left: -5px;
      bottom: -8px;
      z-index: -1;
    }
  }
  &-2 {
    position: relative;
    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/objects-highlight-2.png);
      left: -10px;
      bottom: -8px;
      z-index: -1;
    }
  }
  &-3 {
    position: relative;
    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/objects-highlight-3.png);
      left: -10px;
      // right: 0;
      bottom: -8px;
      z-index: -1;
      text-indent: 0;
    }
  }
  &-4 {
    position: relative;
    &::after {
      position: absolute;
      content: url(assets/images/new-highlights/objects-highlight-4.png);
      left: -10px;
      bottom: -8px;
      z-index: -1;
      text-indent: 0;
    }
  }
}

.ojects-projects-top {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    width: calc(#{$col-part-d} * 8);
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }
}

// destributor page

.distributor-desc {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  &__ttl {
    width: calc(#{$col-part-d} * 7);

    span {
      font-family: $base-font-family-serif;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    font-size: 20px;
    line-height: 160%;
  }
}

.distributor-offers {
  margin-top: 80px;

  &-ico {
    height: 90px;
    display: flex;
    align-items: flex-end;
  }
}

.distributor-benefits {
  padding-bottom: 20px;
  border-bottom: 1px solid $green;

  ul {
    margin: 0;
  }
}

.distributor-highlight {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: url('assets/images/new-highlights/distributor-highlight.png');
    position: absolute;
    z-index: -1;
    top: 5px;
  }
}

.distributor-price {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  &__ttl {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});

    h3 {
      text-indent: calc(#{$col-part-d});
      margin: 0;
    }
  }
  .footer__download {
    margin-top: 40px;
    color: #0F2C2D;
    border-color: #CAE8D9;
  }
  .footer__download-icon-wrap {
    border-color: #CAE8D9;
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    p {
      font-family: $base-font-family-serif;
      font-size: 20px;
      line-height: 130%;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 46px;
    }
    li::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $green;
      margin-left: -46px;
    }
  }
}

.designers-benefits__table .distributor-benefits-ttl {
  font-family: $base-font-family-serif;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-top: none;
}

.distributor-brands {
  margin-top: 160px;

  &__top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  .designers-brands__list ul {
    justify-content: flex-start;
  }

  .designers-brands__list li {
    width: auto;
  }
}

.distributor-contacts {
  .designers-contacts__links {
    padding-left: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
}

.distributor-form {
  background-color: #DEF5EA;
  padding: 100px 96px;
  border-radius: 0px 20px;

  position: relative;

  .mission__slider-underlay {
    width: calc(#{$col-part-d} * 6);

    &::before {
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 20px;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
  }
}