.contacts-top {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    margin-top: 40px;
  }

  &__numbers {
    // width: calc(#{$col-part-d} * 6);
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      // width: 100%;
      margin-bottom: 20px;
    }

    &-tel {
      font-size: 45px;
      line-height: 110%;
      margin-bottom: 10px;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 25px;
      }
    }
    &-schedule {
      display: flex;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      opacity: .4;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 10px;
      }
    }
    &-item {
      margin-right: 15px;
      padding-right: 15px;
      border-right: 1px solid $black;
    }
  }
  &__cities {
    width: calc(#{$col-part-d} * 10 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      order: -1;
      margin-bottom: 40px;
      width: 100%;
    }
  }
  &__mail {
    width: calc(#{$col-part-d} * 6);
    font-size: 25px;
    line-height: 110%;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      margin-bottom: 40px;
      font-size: 16px;
    }
  }
  &__address {
    width: calc(#{$col-part-d} * 6);
    padding-right: calc(#{$col-part-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      padding-right: unset;
      margin-bottom: 40px;
    }

    &-item {
      margin-bottom: 20px;
      font-size: 25px;
      line-height: 140%;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 16px;
      }
    }
    &-link {
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 12px;
      }

      img {
        margin-right: 12px;
      }
    }
  }
  &__social {
    .footer__socials {
      margin: 0;
      border-left: 1px solid #DBDFE0;
    }

    .footer__socials-link {
      border-color: $black;

      border-top: 1px solid #DBDFE0;
      border-right: 1px solid #DBDFE0;
      border-bottom: 1px solid #DBDFE0;

      @media (max-width: ($breakpoint - 1px)) {
        flex: 0 0 40px;
        height: 40px;
      }

      &:first-child {
        border-left: 1px solid #DBDFE0;
      }
    }
  }
}

.contacts-txt {
  margin: 120px 0 60px;

  display: flex;

  @media (max-width: ($breakpoint - 1px)) {
    flex-direction: column;
    margin: 40px 0 20px;
  } 
  &__ttl {
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    }
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
  }
  &__desc {
    font-size: 14px;
    line-height: 160%;
    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 11);
      font-size: 18px;
    }
  }
}

.contacts-cards {
  margin-top: 160px;

  display: grid;
  grid-template-columns: repeat(4, calc((3 * ((100% - 20px * 15) / 16)) + (20px * 2)));
  row-gap: 80px;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    @include scrollbar-hidden();

    margin: 40px -20px 0;
    padding: 0 20px;
  }

  &__item {
    width: 192px;
    flex: none;

    @media (min-width: $breakpoint) {
      width: calc(#{$col-part-d} * 3 - #{$col-gap-d});
    }

    &:not(:last-child) {
      margin-right: 20px;
      @media (min-width: $breakpoint) {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
      display: block;
    }
  }
  &__name {
    font-size: 18px;
    line-height: 120%;
    margin-top: 20px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 16px;
    }
  }
  &__position {
    font-size: 13px;
    line-height: 160%;
    margin-bottom: 20px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
  &__tel {
    font-size: 14px;
    line-height: 16px;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 12px;
    }
  }
}