.clients-top {
  display: flex;
  align-items: center;

  h1 {
    margin-right: 80px;;
  }
}

.delivery-stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__ttl {
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
  }
  &__item {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});
    padding-right: calc(#{$col-part-d});
    margin-bottom: 20px;

    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 10px;
      font-size: 14px;
    }

    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: $green;
      flex: none;

      margin-right: 40px;
      margin-top: 10px;

      @media (max-width: ($breakpoint - 1px)) {
        margin-right: 20px;
      }
    }
  }
}

.delivery-conditions {
  margin-top: 120px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: ($breakpoint - 1px)) {
    margin-top: 40px;
  }

  &__ttl {
    width: 100%;
    margin-bottom: 40px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }
  }

  &__col {
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }

    &-ttl {
      font-family: $base-font-family-serif;
      
      @include title-h3;

      margin-bottom: 30px;

      @media (min-width: $breakpoint) {
        width: 247px;
        margin-bottom: 40px;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid $green-extra-lighten;

    &:not(:last-child) {
      margin-bottom: 10px;

      @media (min-width: $breakpoint) {
        margin-bottom: 30px;
      }
    }

    &-ttl {
      font-size: 12px;
      line-height: 130%;
      text-transform: uppercase;

      @media (min-width: $breakpoint) {
        font-size: 14px;
      }
    }
    &-price {
      font-size: 14px;
      line-height: 130%;
      font-weight: 500;

      @media (min-width: $breakpoint) {
        font-size: 16px;
      }
      @media (max-width: ($breakpoint - 1px)) {
        text-align: right;
      }
    }
  }
}