.favorites-top {

  display: flex;
  align-items: center;
  margin-bottom: 80px;

  @media (max-width: ($breakpoint - 1px)) {
    margin-bottom: 20px;
    justify-content: space-between;
  }

  h1 {
    margin-right: 80px;

    @media (max-width: ($breakpoint - 1px)) {
      margin-right: 20px;
    }
  }

  &__reset {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    cursor: pointer;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 12px;
    }

    img {
      margin-right: 10px;

      @media (max-width: ($breakpoint - 1px)) {
        width: 16px;
      }
    }
  }
}

.favorites-table {
  @media (max-width: ($breakpoint - 1px)) {
    border-top: 1px solid $green-extra-lighten;
  }

  &__top {
    border-bottom: 1px solid $green-extra-lighten;

    // border-left: 1px solid $green-extra-lighten;
    // border-right: 1px solid $green-extra-lighten;

    display: flex;

    @media (max-width: ($breakpoint - 1px)) {
      display: none;
    }

    .favorites-table__col {
      padding-top: 0;
      padding-bottom: 20px;

      font-size: 10px;
      line-height: 120%;
      text-transform: uppercase;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;

    @media (max-width: ($breakpoint - 1px)) {
      margin-top: 20px;
    }
  }

  &__row {
    display: flex;
    border-bottom: 1px solid $green-extra-lighten;

    border-left: 1px solid $green-extra-lighten;
    border-right: 1px solid $green-extra-lighten;

    position: relative;

    @media (max-width: ($breakpoint - 1px)) {
      flex-wrap: wrap;
      padding-left: calc(#{$col-part-m});
    }

    .favorites-table__col {
      &:not(:first-child) {
        padding-bottom: 45px;

        @media (max-width: ($breakpoint - 1px)) {
          padding: 0;
          margin-bottom: 20px;
        }
      }
      &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        padding-top: 70px;

        @media (max-width: ($breakpoint - 1px)) {
          padding: 0;
        }
      }
      &:nth-child(3), &:nth-child(5) {
        font-size: 14px;
      }
    }
  }

  .catalog-card__labels {
    padding: 20px 0;
    font-size: 12px;
    position: relative;

    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      padding: 20px 0 10px;
    }

    &-item {
      @media (max-width: ($breakpoint - 1px)) {
        font-size: 8px;
        padding: 4px 6px;

        height: 17px;
        display: flex;
        align-items: center;
      }
    }
  }
  .catalog-card__ttl, .catalog-card__color {
    margin-bottom: 10px;
  }

  .catalog-card__ttl {
    @media (max-width: ($breakpoint - 1px)) {
      font-size: 14px;
    }
  }

  .catalog-card__small {
    font-size: 12px;
    line-height: 120%;
  }

  &__col {
    width: calc(#{$col-part-d} * 2);

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }

    &-ttl {
      font-size: 8px;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 10px;
      width: 100%;

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &:first-child {
      display: flex;
      align-items: center;

      @media (max-width: ($breakpoint - 1px)) {
        width: calc(#{$col-part-m});
        padding-right: calc(#{$col-gap-m});
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &:nth-child(2) {
      width: calc(#{$col-part-d} * 4);

      @media (max-width: ($breakpoint - 1px)) {
        width: 100%;
      }
    }

    p {
      margin: 0;

      @media (max-width: ($breakpoint - 1px)) {
        font-size: 12px;
      }
    }
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    &-old {
      font-size: 14px;
      color: #738077;
      text-decoration: line-through;
    }
  }

  &__buttons {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
      align-items: flex-start;
      margin-bottom: 20px;
    }

    .btn, .btn-white {
      margin: 0 40px;
      width: calc(100% - 80px);
      height: auto;
      padding: 13px;

      display: flex;
      align-items: center;

      @media (max-width: ($breakpoint - 1px)) {
        margin: 0;
        width: 190px;
      }

      img {
        margin-right: 20px;
      }
    }

    .btn-white {
      margin-top: 10px;
    }
  }
}