.lk-cols {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.lk-sidebar {
  width: calc(#{$col-part-d} * 4);

  &__block {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  &__ttl {
    font-family: $base-font-family-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 130%;
    
    margin-bottom: 20px;
  }
  &__item {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__exit {

  }
}

.lk-main {
  width: calc(#{$col-part-d} * 12 - #{$col-gap-d});
}

.lk-table {

  &__top {
    display: flex;
    padding-bottom: 20px;

    border-bottom: 1px solid $green-extra-lighten;

    .lk-table__col {
      font-size: 10px;
      line-height: 120%;
      text-transform: uppercase;
    }
  } 

  &__row {
    display: flex;
    padding: 40px 0;

    border-bottom: 1px solid $green-extra-lighten;
    border-left: 1px solid $green-extra-lighten;
    border-right: 1px solid $green-extra-lighten;

    .lk-table__col {
      font-size: 16px;
      line-height: 120%;
    }
  }
  &__col {
    width: calc(#{$col-part-d} * 2);

    &:first-child {
      text-align: center;
    }
    &:not(:first-child) {
      padding-right: 40px;
    }
    &:nth-child(4) {
      width: calc(#{$col-part-d} * 4);
    }
    &:nth-child(5) {
      width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
    }
  }
  &__repeat {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
}

.lk-profile-top {
  display: flex;
  margin-bottom: 60px;

  &__item {
    width: calc(#{$col-part-d} * 3);
  }
  &__ttl {
    font-size: 10px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__value {
    font-size: 16px;
    line-height: 120%;
  }
}

.lk-profile-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
    padding-bottom: 15px;
    border-bottom: 1px solid $green-extra-lighten;
    margin-bottom: 40px;
  }
  
}