.news-filter {
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
  }
}

.news-cols {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    margin-top: 20px;
  }
}

.news-col-links {
  width: calc(#{$col-part-d} * 4);

  @media (max-width: $breakpoint - 1px) {
    order: 1;
    width: 100%;
  }
}

.news-social {
  &__title {
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;

    @media (max-width: $breakpoint - 1px) {
      font-size: 16px;
    }

    span {
      font-family: $base-font-family-serif;
      text-transform: none;
    }
  }
  &__list {
    margin-top: 40px;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 20px;
    }

    li {
      font-weight: 600;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;

      @media (max-width: $breakpoint - 1px) {
        font-size: 12px;
      }
    }
    li:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.news-subscribe {
  margin-top: 60px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
  }

  .designers-form__form {
    margin-top: 40px;
    width: calc(#{$col-part-d} * 3);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }
  }

  .designers-form__form button[type="submit"] {
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3);
    }
  }
}

.news-col-main {
  width: calc(#{$col-part-d} * 12 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-card {
  width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
  border-top: 1px solid $green;
  display: block;

  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-bottom: 40px;
  }

  &__date {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    @media (max-width: $breakpoint - 1px) {
      font-size: 10px;
    }
  }
  &__title {
    margin: 20px 0 50px;
    font-size: 25px;
    line-height: 120%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 18px;
      margin: 20px 0;
    }
  }
  img {
    width: 100%;
  }
  &__tags {
    margin-top: 10px;
    display: flex;

    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    @media (max-width: $breakpoint - 1px) {
      font-size: 10px;
    }
  }
  &__tag:not(:first-child) {
    margin-left: 10px;
  }
  &__desc {
    margin-top: 20px;
    width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
    font-size: 13px;
    line-height: 160%;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      font-size: 12px;
    }
  }
}

.news-card--small {
  width: calc(#{$col-part-d} * 5 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
  }
}
.news-card--slide {
  width: calc(#{$col-part-d} * 5 - #{$col-gap-d});
  margin-bottom: 0;

  @media (max-width: $breakpoint - 1px) {
    width: 271px;
  }

  .news-card__title {
    margin: 20px 0;
  }
  .news-card__tag {
    font-size: 12px;
  }
}

.news-blockquote {
  width: calc(#{$col-part-d} * 4 - #{$col-gap-d});
  padding: 125px 0 170px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-bottom: 40px;
    padding: 50px 0 80px;
    font-size: 16px;
  }

  span {
    font-family: $base-font-family-serif;
    text-transform: lowercase;
  }

  position: relative;

  .mission__slider-underlay {
    width: 100%;

    &::before {
      top: 125px;
      left: 0;
      right: 0;
      bottom: 170px;

      @media (max-width: $breakpoint - 1px) {
        top: 0px;
        bottom: 0;
      }
    }
  }
}

.news-back-link {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .arrow {
    background-color: $green;
    margin-right: 20px;
  }
}

.news-single-main {
  width: calc(#{$col-part-d} * 10 - #{$col-gap-d});

  padding-bottom: 160px;

  @media (max-width: $breakpoint - 1px) {
    padding-bottom: 40px;
    width: 100%;
  }
}

.news-single__info {
  display: flex;
  margin: 40px 0 80px;

  @media (max-width: $breakpoint - 1px) {
    margin: 20px 0;
  }
}
.news-single__date {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  width: calc(#{$col-part-d} * 2);

  @media (max-width: $breakpoint - 1px) {
    width: auto;
    margin-right: 40px;
  }
}
.news-single__tags {
  display: flex;

  &-item {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    @media (max-width: $breakpoint - 1px) {
      font-size: 10px;
    }

    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

.news-single__subtitle {
  margin-bottom: 40px;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 20px;
  }
}

.news-single__txt {
  line-height: 160%;
  width: calc(#{$col-part-d} * 8 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
  }

  ul {
    margin: 40px 0;

    @media (max-width: $breakpoint - 1px) {
      margin: 20px 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  li {
    display: flex;
    // align-items: center;
    // flex-wrap: wrap;

    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      background-color: $green;

      margin-right: 40px;
      margin-top: 10px;
      flex: none;

      @media (max-width: $breakpoint - 1px) {
        margin-right: 20px;
      }
    }
  }

  a {
    color: $green;
    text-decoration: underline;
  }
  
  p:not(:last-child) {
    font-size: 14px;

    @media (min-width: $breakpoint) {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
}

.news-single__img {
  width: 100%;

  margin: 80px 0;

  @media (max-width: $breakpoint - 1px) {
    margin: 20px 0;
  }
}

.other-news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 80px;

  @media (max-width: $breakpoint - 1px) {
    margin-bottom: 20px;
  }
}
.other-news__controls {
  display: flex;
  justify-content: space-between;

  width: 110px;
}