.objects-form {
  margin-top: 160px;

  h2 {
    margin-bottom: 80px;
  }
}

.ojects-projects-top {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    width: calc(#{$col-part-d} * 8);
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }
}

.distributor-desc {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  &__ttl {
    width: calc(#{$col-part-d} * 7);

    span {
      font-family: $base-font-family-serif;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    font-size: 20px;
    line-height: 160%;
  }
}

.distributor-offers {
  margin-top: 80px;
}

.distributor-brands {
  margin-top: 160px;

  &__top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  .designers-brands__list ul {
    justify-content: flex-start;
  }

  .designers-brands__list li {
    width: auto;
  }
}

.distributor-contacts {
  .designers-contacts__links {
    padding-left: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
}

.distributor-form {
  background-color: #DEF5EA;
  padding: 100px 96px;
  border-radius: 0px 20px;

  position: relative;

  .mission__slider-underlay {
    width: calc(#{$col-part-d} * 6);

    &::before {
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 20px;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
  }
}