.objects-form {
  margin-top: 160px;

  h2 {
    margin-bottom: 80px;
  }
}

.ojects-projects-top {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  &__title {
    width: calc(#{$col-part-d} * 8);
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      margin-left: 10px;
    }
  }
}

.distributor-desc {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;

  &__ttl {
    width: calc(#{$col-part-d} * 7);

    span {
      font-family: $base-font-family-serif;
    }
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});
    font-size: 20px;
    line-height: 160%;
  }
}

.distributor-offers {
  margin-top: 80px;
}

.distributor-benefits {
  padding-bottom: 20px;
  border-bottom: 1px solid $green;

  ul {
    margin: 0;
  }
}

.distributor-highlight {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    content: url('assets/images/new-highlights/distributor-highlight.png');
    position: absolute;
    z-index: -1;
    top: 5px;
  }
}

.distributor-price {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;

  &__ttl {
    width: calc(#{$col-part-d} * 8 - #{$col-gap-d});

    h3 {
      text-indent: calc(#{$col-part-d});
      margin: 0;
    }
  }
  .footer__download {
    margin-top: 40px;
    color: #0F2C2D;
    border-color: #CAE8D9;
  }
  .footer__download-icon-wrap {
    border-color: #CAE8D9;
  }
  &__txt {
    width: calc(#{$col-part-d} * 6 - #{$col-gap-d});

    p {
      font-family: $base-font-family-serif;
      font-size: 20px;
      line-height: 130%;
    }
    li {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 46px;
    }
    li::before {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $green;
      margin-left: -46px;
    }
  }
}

.designers-benefits__table .distributor-benefits-ttl {
  font-family: $base-font-family-serif;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-top: none;
}

.distributor-brands {
  margin-top: 160px;

  &__top {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  }

  .designers-brands__list ul {
    justify-content: flex-start;
  }

  .designers-brands__list li {
    width: auto;
  }
}

.distributor-contacts {
  .designers-contacts__links {
    padding-left: calc(#{$col-part-d} * 3 - #{$col-gap-d});
  }
}

.distributor-form {
  background-color: #DEF5EA;
  padding: 100px 96px;
  border-radius: 0px 20px;

  position: relative;

  .mission__slider-underlay {
    width: calc(#{$col-part-d} * 6);

    &::before {
      top: 20px;
      right: 0;
      bottom: 20px;
      left: 20px;
    }
  }

  h2 {
    position: relative;
    z-index: 1;
  }
}