.payment-block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  margin: 80px 0 120px;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__ttl {
    padding-bottom: 40px;
    margin-bottom: 0;
    width: 100%;

    @media (max-width: $breakpoint - 1px) {
      padding-bottom: 20px;
    }
  }

  &__row {
    display: flex;
    border-top: 1px solid $green-extra-lighten;
    padding-top: 20px;

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__item {
    
    width: calc(#{$col-part-d} * 7 - #{$col-gap-d});
    margin-right: calc(#{$col-part-d});

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(1) {
      font-size: 22px;
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 16px;
      }
    }
    &:nth-child(2) {
      line-height: 160%;

      @media (max-width: $breakpoint - 1px) {
        font-size: 14px;
        margin-top: 20px;
      }

      span {
        color: $green;
        font-weight: 600;
      }
    }
  }
}

.payment-row-table {
  display: flex;
  border: 1px solid $green-extra-lighten;
  width: calc(#{$col-part-d} * 12 - #{$col-gap-d});

  margin-left: calc(#{$col-part-d} * 4);
  margin-top: 60px;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-left: 0;
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    padding: 20px;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
    }

    &:not(:last-child) {
      border-right: 1px solid $green-extra-lighten;

      @media (max-width: $breakpoint - 1px) {
        border-right: none;
        border-bottom: 1px solid $green-extra-lighten;
      }
    }

    img {
      margin-bottom: 40px;
      flex: none;
      width: auto;
    }
  }
}

.payment-taxes-desc {
  font-size: 22px;
  line-height: 160%;

  @media (max-width: $breakpoint - 1px) {
    font-size: 16px;
    margin-top: 20px;
  }
}