.projects-subtitle {
  margin: 40px 0 60px;
  @include title-h3;

  @media (max-width: $breakpoint - 1px) {
    margin: 20px 0;
  }

  span {
    position: relative;

    &::before {
      position: absolute;
      content: url(assets/images/new-highlights/projects-highlight-1.png);
      left: 0;
      bottom: -12px;
      z-index: -1;

      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }
}

.projects-table {
  margin-top: 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 20px;
  }
}

.projects-card {
  width: calc(100% / 3 - 10px);
  margin-bottom: 60px;
  position: relative;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-bottom: 40px;
  }

  .projects__item-caption {
    flex-direction: column;
  }

  .projects__item-name {
    flex: unset;
    max-width: unset;
    margin-bottom: 15px;

    font-size: 20px;

    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }
  }

  .projects__item-tags {
    display: flex;
    flex-wrap: wrap;
  }

  .projects__item-tag:not(:last-child) {
    margin-right: 15px;
  }
}

.project-page-main {
  width: calc(#{$col-part-d} * 12 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.project-info {
  display: flex;
  
  padding-top: 30px;

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    padding-top: 20px;
  }

  &__col {
    margin-left: calc(#{$col-part-d});
    width: calc(#{$col-part-d} * 4);

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-left: 0;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  &__ttl {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media (max-width: $breakpoint - 1px) {
      font-size: 10px;
    }
  }
  &__txt {
    font-size: 16px;
    line-height: 140%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 14px;
    }
  }
}

.project-products {
  margin: 80px 0;

  @media (max-width: $breakpoint - 1px) {
    margin: 40px 0 20px;
  }

  h3 {
    margin-bottom: 80px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 20px;
    }
  }
  .designers-products-filter {
    margin-bottom: 60px;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 20px;
    }
  }
}

.project-photos {
  width: calc(#{$col-part-d} * 9);
  margin: 40px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $breakpoint - 1px) {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  &__item {
    width: calc(50% - 10px);
    margin-bottom: 20px;

    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} * 3 - #{$col-gap-m});
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: $col-gap-m;
      }
    }
  }
}

.project-review {
  margin-top: 80px;
  height: 390px;

  @media (max-width: $breakpoint - 1px) {
    margin-top: 40px;
    width: 100%;
    height: 238px;

    img {
      width: 200px;
    }
  }
}

.project-back-link {
  @media (max-width: $breakpoint - 1px) {
    display: none;
  }
}

.project-aside-btn {
  margin-top: 40px;
  width: calc(#{$col-part-d} * 3);

  @media (max-width: $breakpoint - 1px) {
    width: calc(#{$col-part-m} * 3);
  }
}

.project-pagination {
  margin: 0;
}