.aside {
  $comp: &;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: $zindex-navbar;

  @include transition;

  @media (max-width: $breakpoint - 1px) {
    bottom: unset;
    right: 0;
    
  }

  &.is-hidden {
    left: -80px;
  }

  &-wrapper {
    position: relative;
    z-index: 20;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;

    width: 80px;
    padding: 40px 20px;
    border-radius: 0px 20px 20px 0px;

    background: $green;

    @include transition;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      border-radius: 0 0 10px 10px;
      flex-direction: row;
      align-items: center;
      padding: 10px;
    }
  }

  &__header {
    height: 237px;

    @media (max-width: $breakpoint - 1px) {
      height: auto;
      width: calc(#{$col-part-m} / 2);

      #{$comp}__btn {
        display: flex;
      }

      svg {
        width: 20px;
      }
    }
  }
  &__center {
    @media (max-width: $breakpoint - 1px) {
      width: calc(#{$col-part-m} / 2);

      #{$comp}__btn {
        display: flex;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__footer {
    width: 100%;

    @media (max-width: $breakpoint - 1px) {
      display: flex;
      align-items: center;
      width: calc(#{$col-part-m});

      // justify-content: space-around;

      #{$comp}__btn {
        width: 50px;
        margin-left: calc(#{$col-part-m} / 2 - 50px);

        &:first-child {
          order: 1;

          svg {
            width: 15px;
            height: 17px;
          }
        }
        &:nth-child(2) {
          svg {
            width: 18px;
            height: 16px;
          }
        }

        &:nth-child(3), &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  &__btn {
    display: block;
    position: relative;

    width: 100%;
    margin-top: 40px;

    font-size: $font-size-tiny;
    color: $white-lighten;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: $breakpoint - 1px) {
      margin-top: 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &-title {
      display: block;
      margin-top: 13px;
      text-align: center;
      line-height: normal;

      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }

    &-counter {
      position: absolute;
      right: 0;
      transform: translate(0, -100%);

      font-size: $font-size-small;

      @media (max-width: $breakpoint - 1px) {
        font-size: 9px;
        right: 8px;
      }
    }
  }

  &__logo {
    width: calc(#{$col-part-m} * 2 - #{$col-gap-m});
    text-align: center;

    svg {
      width: 100%;
    }

    @media (min-width: $breakpoint) {
      display: none;
    }

    @media (max-width: $breakpoint - 1px) {
      svg {
        width: 125px;
        height: 23px;
      }
    }
  }
}
