.cover {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 100vh;
  padding-bottom: 40px;

  background: url('assets/images/cover__bg.jpg') no-repeat center / cover; //?

  color: $white-lighten;

  @media (max-width: ($breakpoint - 1px)) {
    padding-top: 80px;
    padding-bottom: 26px;
    height: 100vh;

    justify-content: flex-start;
  }

  .container {
    @media (max-width: ($breakpoint - 1px)) {
      height: 100vh;
    }
  }

  .row {
    @media (max-width: ($breakpoint - 1px)) {
      height: 100%;
      align-content: space-between;
    }
  }

  &-row {
    .col__xl-13 {
      @media (max-width: ($breakpoint - 1px)) {
        margin-top: 20%;
      }
      @media (max-width: $breakpoint-m - 1px) {
        margin-top: 0;
      }
    }
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(7, 13, 13, 0.15);
  }

  &__heading {
    margin-bottom: 40px;
    @media (max-width: ($breakpoint - 1px)) {
      margin-bottom: 20px;
    }

    font-size: 60px;
    line-height: 110%;

    @media (max-width: ($breakpoint - 1px)) {
      font-size: 40px;
      margin-top: 20px;
    }

    @media (max-width: $breakpoint-m - 1px) {
      font-size: 24px;
      margin-top: 0;
    }

    &-line {
      display: block;

      &:nth-child(even) {
        margin-left: 96px;

        @media (max-width: ($breakpoint - 1px)) {
          margin-left: 20px;
        }
      }
    }
  }

  &__slide {
    padding: 20px;

    background: $white-lighten;
    color: $black;

    @media (max-width: ($breakpoint - 1px)) {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 16px 115px 28px 16px;
    }

    &-heading {
      position: relative;
      z-index: 2;
      margin-bottom: 33px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 10px;

        font-size: 12px;
      }
      font-weight: 600;
      line-height: 1.2;
    }

    &-tags {
      display: flex;
      flex-wrap: wrap;

      position: relative;
      z-index: 2;
    }

    &-tag {
      @media (max-width: ($breakpoint - 1px)) {
        font-size: 8px;
        line-height: 9px;
      }
      &::before {
        content: '#';
      }
    }

    &-img {
      width: 75px;
      height: 75px;
      margin: 0 auto;
      border-radius: 50%;
      object-fit: cover;

      &-wrap {
        position: relative;
        margin-bottom: 58px;

        @media (max-width: ($breakpoint - 1px)) {
          position: absolute;
          top: 8px;
          right: 24px;
          margin-bottom: 0;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: 154px;
          height: 198px;

          border: 1px solid $green-extra-lighten;
          border-radius: 0px 0px 900px 900px;

          @media (max-width: ($breakpoint - 1px)) {
            display: none;
          }
        }
      }
    }
  }

  &__slider {

    &-counter {
      position: relative;

      display: flex;
      justify-content: space-between;

      flex: 0 0 106px;
      max-width: 106px;
      @media (max-width: ($breakpoint - 1px)) {
        flex: 0 0 63px;
        max-width: 63px;
      }

      font-size: $font-size-h5;
      @media (max-width: ($breakpoint - 1px)) {
        font-size: 14px;
      }

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 1px;
        background: $white-lighten;
      }

      &-active {
        font-weight: 600;
      }
    }

    &-controls {
      margin-bottom: 20px;
      @media (max-width: ($breakpoint - 1px)) {
        margin-bottom: 8px;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-arrows {
      flex: 0 0 92px;
      max-width: 92px;
    }
  }

  .col {
    @media (max-width: ($breakpoint - 1px)) {
      width: 100%;
    }
  }
}


#gl {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}