.footer {
  color: $white-lighten;
  background: $black;

  &__header,
  &__main {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba($white-lighten, 0.15);
  }

  &__header {
    @media (max-width: $breakpoint - 1px) {
      padding-top: 10px;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__main {

    @media (max-width: $breakpoint - 1px) {
      padding: 20px 0;

      .footer-main-row {
        flex-direction: column-reverse;
      }
    }

    &-left {
      @media (max-width: $breakpoint - 1px) {
        margin-top: 40px;
      }

      .footer__socials {
        margin-bottom: 20px;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .col__xl-4 {
        @media (max-width: $breakpoint - 1px) {
          width: 100%;
        }
      }
    }
  }

  &__footer {
    padding: 20px 0;

    &-row {
      flex-direction: column-reverse;
    }

    &-right {
      text-align: right;

      @media (max-width: $breakpoint - 1px) {
        text-align: left;
        padding-left: 10px;
      }
    }

    &-link {
      color: $white-lighten;
    }
  }

  &__logo {
    opacity: 0.15;
  }

  &__phone {
    display: block;
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 1.1;
    color: $white-lighten;

    @media (max-width: $breakpoint - 1px) {
      font-size: 24px;
    }

    &:hover {
      color: $white-lighten;
    }

    &-caption {
      margin-bottom: 40px;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 10px;
      }

      &-schedule {
        display: inline-block;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid rgba($white-lighten, 0.15);
        line-height: normal;

        &:last-child {

          padding-right: 0;
          margin-right: 0;
          border-right: none;
        }
      }
    }
  }

  &__mail {
    display: block;
    margin-bottom: 40px;

    color: $white-lighten;
    font-size: $font-size-h4;

    @media (max-width: $breakpoint - 1px) {
      margin-bottom: 20px;
      font-size: 16px;
    }

    &:hover {
      color: $white-lighten;
    }

  }

  &__address {
    margin-bottom: 40px;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }
  }

  &__socials {
    display: flex;
    margin-bottom: 40px;
    border-left: 1px solid rgba($white-lighten, 0.15);

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      flex: 0 0 50px;
      max-width: 50px;
      height: 50px;

      border-top: 1px solid rgba($white-lighten, 0.15);
      border-bottom: 1px solid rgba($white-lighten, 0.15);
      border-right: 1px solid rgba($white-lighten, 0.15);
    }
  }

  &__menu {

    @media (max-width: $breakpoint - 1px) {
      flex-direction: column;

      .col:not(:first-child) {
        margin-top: 20px;
      }
    }

    &-title {
      margin-bottom: 20px;

      @media (max-width: $breakpoint - 1px) {
        margin-bottom: 10px;
      }
    }

    &-list {
      &-item {
        margin-bottom: 10px;
      }
    }
  }

  &__info {
    &--desc {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }

    &--mobile {
      @media (max-width: $breakpoint - 1px) {
        flex-direction: column;
        padding-left: 10px;
        order: 1;
        // margin-bottom: 20px;
      }
    }
  }

  &__link {
    &:hover {
      color: rgba($white-lighten, 0.15);
    }
  }

  &__link,
  &__text {
    // color: rgba($white-lighten, 0.15);
    color: #fff;
  }

  &__download {
    position: relative;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    width: 405px;
    // margin-right: 10px;
    padding: 21px 91px 21px 21px;
    border: 1px solid rgba($white-lighten, 0.15);

    color: $white-lighten;

    &:not(:last-child) {
      margin-right: 10px;

      @media (max-width: $breakpoint - 1px) {
        margin-right: 0;
        margin-bottom: 6px;
      }
    }

    &:hover {
      color: $white-lighten;
    }

    &-title {
      margin-bottom: 2px;
    }

    &-icon {
      opacity: 0.15;
      &-wrap {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 70px;

        border-left: 1px solid rgba($white-lighten, 0.15);
      }
    }
  }

  .footer__download svg {
    path:nth-child(1) {
      stroke: #fff;
    }
    path:nth-child(2) {
      fill: #fff;
    }
  }
}

.footer__header .row {
  justify-content: space-between;
}

.footer-logo {
  width: calc(#{$col-part-d} * 6);

  @media (max-width: $breakpoint - 1px) {
    display: none;
  }
}

.footer-download-container {
  display: flex;
  width: calc(#{$col-part-d} * 9 - #{$col-gap-d});

  @media (max-width: $breakpoint - 1px) {
    flex-direction: column;
    width: 100%;

    .footer__download {
      @media (max-width: $breakpoint - 1px) {
        width: 100%;
      }
    }
  }
}