//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  padding-top: 40px;

  color: $black;
  background: $white-lighten;
  transition: $transition;

  @media (max-width: ($breakpoint - 1px)) {
    display: none;
  }

  &--up {
    transform: translateY(-100%);
  }

  &__logo {
    path {
      fill: $green;
    }
  }

  &__btn,
  &__link {
    color: inherit;
  }

  &__btn-title,
  &__link {
    font-weight: 600;
  }

  &__link {
    margin-left: 40px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: inherit;
    }
  }

  &__btn {
    position: relative;
    padding: 0 34px 10px 0;

    border-bottom: 1px solid $green;

    text-align: left;
    line-height: normal;

    height: 100%;
    display: flex;
    flex-direction: column;

    &::after, &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 1.5px;

      background-color: $black;
    }
    &::after {
      transform: rotate(90deg);
    }

    &-title,
    &-caption {
      display: block;
    }

    &-title {
      margin-bottom: 5px;
    }

    &-caption {
      opacity: 0.6;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;

    &-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
  }
}

.mainHeader {
  color: #fff;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;

    height: 180px;

    background: linear-gradient(180deg, rgba(8, 17, 17, 0.6) 0%, rgba(15, 29, 30, 0) 100%);

    pointer-events: none;
  }
  .header__logo path {
    fill: #fff;
  }
  .header__btn::after, .header__btn::before {
    background-color: #fff;
  }
}

.pagesHeader {
  color: $black;
  .header__logo path {
    fill: $green;
  }
  .header__btn::after, .header__btn::before {
    background-color: $black;
  }
}