//
// Partials -> Header
// ------------------------------------


//
// Header
//
.header {
  $comp: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  padding-top: 40px;

  color: $black;
  background: $white-lighten;
  transition: $transition;

  @media (max-width: ($breakpoint - 1px)) {
    display: none;
  }

  &--scroll {
    // padding-top: 15px;
    padding-bottom: 15px;
    transform: translateY(-25px);
    background: transparent;
  }

  &--up {
    transform: translateY(-100%);
  }

  &__row {
    align-items: center;
  }

  &__logo {
    path {
      fill: $green;
    }
  }

  &__btn,
  &__link {
    color: inherit;
  }

  &__btn-title,
  &__link {
    font-weight: 600;
  }

  &__link {
    transition: $transition;

    &:hover {
      color: $green;
    }
  }

  &__btn {
    position: relative;
    padding: 0 34px 10px 0;

    border-bottom: 1px solid $green;

    text-align: left;
    line-height: normal;

    height: 100%;
    display: flex;
    flex-direction: column;

    &::after, &::before {
      content: '';
      position: absolute;
      top: 7px;
      right: 0;
      width: 14px;
      height: 1.5px;

      background-color: $black;
    }
    &::after {
      transform: rotate(90deg);
    }

    &-title,
    &-caption {
      display: block;
    }

    &-title {
      margin-bottom: 5px;
    }

    &-caption {
      opacity: 0.6;
    }
  }

  &__menu {
    margin: 0;
    display: flex;
    justify-content: space-between;

    &-item {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: flex-end;
  }
  &__links-item {
    margin-left: 40px;

    display: flex;
    align-items: center;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link-icon {
    --size: 15px;

    margin-left: 5px;
    position: relative;

    width: var(--size);
    height: var(--size);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: $green-extra-lighten;
    cursor: pointer;

    &:hover {
      #{$comp}__list {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 10px;

    opacity: 0;
    pointer-events: none;
    transition: opacity $transition;
    
  }
  &__list-item {
    padding: 7px 12px;

    display: flex;
    
    background: $green-extra-lighten;

    &:not(:first-child) {
      border-top: 1px solid #A9D6B7;
    }
  }
  &__list-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
  }
}

.mainHeader {
  color: #fff;
  background: transparent;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;

    height: 180px;

    background: linear-gradient(180deg, rgba(8, 17, 17, 0.6) 0%, rgba(15, 29, 30, 0) 100%);

    pointer-events: none;
  }
  .header__logo path {
    fill: #fff;
  }
  .header__btn::after, .header__btn::before {
    background-color: #fff;
  }
}

.pagesHeader {
  color: $black;
  .header__logo path {
    fill: $green;
  }
  .header__btn::after, .header__btn::before {
    background-color: $black;
  }
}