.catalog-card {
  width: 304px;
  border: 1px solid $green-extra-lighten;

  @media (max-width: $breakpoint - 1px) {
    width: 151px;
  }

  &:not(:last-child) {
    border-right: none;
  }

  &__top {
    position: relative;
  }
  &__main-img {
    width: 100%;
    object-fit: cover;
  }
  &__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px 10px 0 10px;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .catalog-card__buttons {
      @media (max-width: $breakpoint - 1px) {
        display: none;
      }
    }
  }
  &__labels {
    display: flex;
    padding: 10px;
    position: relative;

    @media (max-width: $breakpoint - 1px) {
      display: none;
    }

    &-item {
      padding: 8px 16px;
      border: 1px solid $green-extra-lighten;
      border-radius: 0px 10px;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  &__img {
    width: 100%;
  }
  &__pagination {
    display: flex;
    &-item {
      width: 6px;
      height: 6px;
      background-color: $green-extra-lighten;

      @media (max-width: $breakpoint - 1px) {
        display: none;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }
    }
  }
  &__buttons {
    display: flex;
    &-item {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $green-extra-lighten;

      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px;

    @media (max-width: $breakpoint - 1px) {
      padding: 0 10px 10px;
    }

    .catalog-card__buttons {
      &-item {
        width: 28px;
        height: 28px;

        img{
          width: 16px;
        }
      }

      @media (min-width: $breakpoint) {
        display: none;
      }
    }
  }
  &__ttl {
    width: 100%;
    margin-bottom: 15px;

    font-size: 16px;
    line-height: 120%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 12px;
      margin-bottom: 6px;
    }
  }
  &__color {
    font-family: $base-font-family-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    @media (max-width: $breakpoint - 1px) {
      width: 100%;
      margin-bottom: 6px;
      font-size: 10px;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;

    @media (max-width: $breakpoint - 1px) {
      font-size: 12px;
    }
  }
}

.catalog-card__labels {
  .catalog-card__buttons-item::after, .catalog-card__buttons-item::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: $black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .catalog-card__buttons-item::after {
    transform: rotate(45deg);
  }
  .catalog-card__buttons-item::before {
    transform: rotate(135deg);
  }
}

.category-row {
  display: flex;
  margin-bottom: 40px;
}

.catalog-filter {
  margin: 60px 0 40px;

  &-imgs {
    margin-bottom: 40px;
    display: flex;

    &__item {
      border: 1px solid $green-extra-lighten;
      padding: 4px 10px 4px 4px;
      border-radius: 0px 10px;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &-tabs {
    margin-bottom: 40px;
    display: flex;

    overflow-x: scroll;

    &__item {
      padding: 12px 15px;
      border-radius: 50px;
      border: 1px solid $green-extra-lighten;

      font-size: 14px;
      line-height: 16px;

      white-space: nowrap;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }

  &-spoilers {
    display: flex;
    border-radius: 50px;
    border: 1px solid $green-extra-lighten;
    background-color: #EBFAF2;

    &__item {

      &:first-child {
        width: calc(#{$col-part-d} * 2 - #{$col-gap-d});
      }
    }
  }
}