.modal-ask, .modal-register, .modal-consult {
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  // background: rgba(15, 44, 45, 0.67);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transform: translateX(-100%);
  transition: .5s;

  &.modal-active {
    opacity: 1;
    // transform: none;

    .modal-ask__background, .modal-ask__container, .modal-register__container {
      transform: translateX(100vw);
    }
  }
}

.modal-ask {
  $comp: &;

  &__background {
    background: rgba(15, 44, 45, 0.67);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--default {
    position: relative;

    display: none;

    opacity: 1;
    overflow: visible;
    transform: none;
    background: none;

    @media (max-width: ($breakpoint - 1px)) {
      position: fixed;
    }

    #{$comp}__container {
      @media (min-width: $breakpoint) {
        position: static;
        // border-radius: 0 20px;
      }
      @media (max-width: ($breakpoint - 1px)) {
        top: 56px;
      }
    }

    .fancybox-button.fancybox-close-small {
      top: 0;

      @media (max-width: ($breakpoint - 1px)) {
        top: 10px;
      }
    }
  }
}

.modal-ask__container, .modal-register__container {
  display: flex;
  position: absolute;
  z-index: 100;
  transition: .5s;

  @media (max-width: ($breakpoint - 1px)) {
    // top: 0;
    flex-direction: column-reverse;
    width: 100%;
  }
}

.modal-ask__container {
  top: 300px;

  @media (max-width: ($breakpoint - 1px)) {
    top: 0;
  }
}

.modal-register__container {
  top: 100px;

  @media (max-width: ($breakpoint - 1px)) {
    top: 0;
  }
}

.modal-consult .modal-ask__container {
  top: 100px;

  @media (max-width: ($breakpoint - 1px)) {
    top: 0;
  }
}

.modal-ask__wrapper, .modal-register__wrapper {
  width: 550px;
  background: #FFFFFF;
  border-radius: 0px 20px;
  padding: 60px calc(#{$col-part-d});

  @media (max-width: ($breakpoint - 1px)) {
    width: 100%;
    border-radius: 0;
    padding: 30px 40px;
  }

  .designers-form__form {
    width: 100%;
  }
}

.modal-ask__ttl {
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media (max-width: ($breakpoint - 1px)) {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.modal-ask__close, .modal-register__close {
  margin-left: calc(#{$col-gap-d});
  width: 84px;
  height: 84px;
  border: 1px solid $green-extra-lighten;
  cursor: pointer;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: ($breakpoint - 1px)) {
    width: 36px;
    height: 36px;
    margin: 10px 10px 10px auto;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: $green-extra-lighten;

    transition: .5s;

    @media (max-width: ($breakpoint - 1px)) {
      width: 12px;
    }
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(135deg);
  }
}

// Модалка регистрация

.modal-register__top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  @media (min-width: $breakpoint) {
    margin-bottom: 40px;
  }
}

.modal-register__ttl {
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 8px;
  cursor: pointer;
  transition: .5s;

  @media (min-width: $breakpoint) {
    font-size: 24px;
    padding-bottom: 3px;
  }

  &.is-active {
    color: $green;
    border-bottom: 1px solid $green;

    @media (min-width: $breakpoint) {
      font-size: 25px;
    }
  }
}

.modal-register__reset-pass {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  line-height: 160%;
  text-align: center;

  @media (min-width: $breakpoint) {
    margin-top: 20px;
  }
}

.modal-register__forms {
  display: grid;
  grid-template-areas: 'z';
  position: relative;

  .designers-form__form {
    grid-area: z;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: .5s;

    &:first-child {
      button[type="submit"] {
        margin-top: 15px;
      }
    }

    &.is-active {
      opacity: 1;
      pointer-events: all;
      position: unset;
    }
  }
}