extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    +header('mainHeader')

    .section.page-wrapper
      .container
        
        .lanscaping-first-screen
          
          +breadcrumbs(['озеленение', 'Абонементы на уход за растениями'])

          .lanscaping-first-screen__block(data-aos="fade-up")
            h1.title-h1.about-title Абонементы на уход
              br
              |за растениями
            button.btn Запросить консультацию менеджера

          +footerDownload('презентация компании', 'pdf, 12 мб')

          img.lanscaping-first-screen__background.only-desktop(src="assets/images/abonements-main.jpg", alt="")
          img.lanscaping-first-screen__background.only-mobile(src="assets/images/abonements-main-mob.jpg", alt="")

        .lanscaping-solutions-txt.abonements-highlights.title-h3.only-desktop(data-aos="fade-up")
          |Доверьте заботу о своих зелёных питомцах 
          br
          span.highlight-1 профессионалам
          |. Наша компания возьмет все работы по
          br
          |поливу и уходу на себя, чтобы Вы могли 
          
          span.highlight-2 наслаждаться 
          span.accent их
          br
          span.accent красотой долгие годы.

        .lanscaping-solutions-txt.abonements-highlights.title-h3.only-mobile(data-aos="fade-up")
          |Доверьте заботу о своих 
          br
          |зелёных питомцах 
          br
          span.highlight-1 профессионалам
          |. Наша 
          br
          |компания возьмет все работы
          br
          |по поливу и уходу на себя,
          br
          |чтобы Вы могли 
          span.highlight-2 наслаждаться
          br
          span.highlight-3 их красотой долгие годы.

        .abonements-slider.swiper-container(data-abonements-slider data-aos="fade-up")
          .swiper-wrapper
            .swiper-slide
              .abonements-slide
                img.only-desktop(src="assets/images/abonement-slide.jpg", alt="")
                img.only-mobile(src="assets/images/abonement-slide-mob.jpg", alt="")

                .abonements-slider__desc

                  .abonements-slider__top
                  
                    .abonements-slider__controls
                      +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-abonements-slider-prev="")
                      +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-abonements-slider-next="")

                  .abonements-slider__ttl Разовый выезд биолога для лечения растений

                  ul.spoiler__desc-list
                    li Выявление неблагоприятных факторов и вредителей
                    li Обрезка зараженных и мертвых листьев
                    li Обработка необходимыми препаратами
                    li Полив, подкормка и удобрение при необходимости
                    li Полив, подкормка и удобрение при необходимости
                    li Рекомендации по дальнейшему уходу и лечению
                  
                  .abonements-slider__bottom
                    .abonements-slider__price от 3 000 ₽*
                    .abonements-slider__item.only-desktop * Зависит от расположения, количества и размера растений
                    .abonements-slider__item.only-mobile * Зависит от расположения, количества и 
                      br
                      |размера растений
                    .abonements-slider__item.only-desktop Все расходные материалы, препараты и химикаты входят в стоимость
                    .abonements-slider__item.only-mobile Все расходные материалы, препараты и 
                      br
                      |химикаты входят в стоимость

        .landscaping-contacts(data-aos="fade-up")
          .contacts-cards__ttl.title-h2 Профессионалы Green Land
          .contacts-cards
            - for (i=0; i<4; i++)
              .contacts-cards__item
                img(src="assets/images/designer-contacts-2.png", alt="")
                .contacts-cards__name Шабала Виктория
                .contacts-cards__position Менеджер по работе с дизйнерами
                //- .contacts-cards__tel 8 812 209-18-84


        .designers-form.about-mission(data-aos="fade-up")
          h2.designers-form__title.title-h2 Оставить заявку на абонемент
          .designers-form__row
            .mission__main
              .mission__slider-underlay
              .designers-form__container
                
                include ../partials/form-designer

            .about-mission__img.designers-form__imgs
              img(src="assets/images/designer-form-1.jpg", alt="")
              img(src="assets/images/designer-form-2.jpg", alt="")

    include ../partials/_footer.pug