extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['О компании'])

        h1.title-h1.about-title(data-aos="fade-up") О компании

        .about-tabs(data-aos="fade-up")
          a.about-tabs__item.about-tabs__item--active(href="") О компании
          a.about-tabs__item(href="") История
          a.about-tabs__item(href="") Бренды
        
        .about-mission
          
          .mission__slide(data-aos="fade-up")
            .mission__main
              .mission__slider-underlay
              h3.title-h3.mission__heading.about-mission-highlights

                |Внедряем дизайнерское 
                br
                |озеленение в стандарты 
                br
                span.highlight-1 строительства, архитектуры и 
                br
                span.highlight-2 проектирования 
                br
                |общественных пространств 
                br
                |и помещений

            img.about-mission__img(src="assets/images/about-1.jpg" alt="")

        .about-deliveries(data-aos="fade-up")
          .about-deliveries__desc
            h2.title-h2.about-deliveries__ttl Прямые поставки из Европы
            .about-deliveries__txt.p_large Являемся дистрибьютором европейских дизайнерских
              br
              |кашпо и вазонов премиум сегмента

        .about-mission.border-green-top
          
          .mission__slide(data-aos="fade-up")
            img.about-mission__img.only-desktop(src="assets/images/about-2.jpg" alt="")
            .mission__main.about-mission__slide
              .mission__slider-underlay
              h3.title-h3.mission__heading.about-mission-highlights
                |Помогаем нашим клиентам 
                br
                span.highlight-3 раскрыть потенциал 
                br
                |пространства, сделать его 
                br
                span.highlight-4 уютным и красивым
              .about-mission-subtitle.only-desktop
                |В наших шоу-румах представлены образцы, а на складах обширный запас товара, что позволяет нам оперативно отгружать заказы клиентам в любую точку России и стран Таможенного союза.

          .about-mission-subtitle.only-mobile(data-aos="fade-up")
            |В наших шоу-румах представлены образцы, а на складах обширный запас товара, что позволяет нам оперативно отгружать заказы клиентам в любую точку России и стран Таможенного союза.

          img.about-mission__img.only-mobile(src="assets/images/about-2.jpg" alt="")       

        .about-plan
          h2.title-h2(data-aos="fade-up") Наш замысел
          .about-plan-table
            .about-plan-table__item(data-aos="fade-up")
              p
                |Помочь в создании красивых, дружелюбных пространств, в которых 
                span люди чувствуют себя комфортно, спокойно и безопасно 
                |путем дизайнерского озеленения
            .about-plan-table__item(data-aos="fade-up")
              p
                span Изменить облик городов 
                |с помощью дизайна озеленения частных и общественных пространств
            .about-plan-table__item(data-aos="fade-up")
              p
                |Внедрить 
                span стандарты «дизайнерского озеленения»
                |, как осознанного выбора растений и емкостей для них в рамках дизайн-концепции пространства и обучить этим стандартам дизайнеров
            .about-plan-table__item(data-aos="fade-up")
              p
                |Менять представления о горшках в России: 
                span «горшок – это не емкость для растений, а предмет интерьера»
          
          .about-plan-rows
            .about-plan-row(data-aos="fade-up")
              h3.about-plan-row__ttl.title-h3 Наша цель
              .about-plan-row__desc Стать компанией-создателем стандартов ведения «зеленого бизнеса». Обеспечить узнаваемость бренда и распространение продукции по всей территории России и СНГ.

            .about-plan-row(data-aos="fade-up")
              h3.about-plan-row__ttl.title-h3 Наша задача
              .about-plan-row__desc Предоставлять товар высочайшего качества, в соответствии со спросом и мировыми тенденциями.

          .about-block
            .about-block__img(data-aos="fade-up")
              img(src="assets/images/about-3.jpg" alt="")

            .about-block__desc

              h3.about-block__ttl.title-h3.only-desktop(data-aos="fade-up") Мы — не просто крупная компания. 
                span.highlight мы — лидер 
                span в своем направлении

              h3.about-block__ttl.title-h3.only-mobile(data-aos="fade-up") Мы — не просто крупная компания. 
                span мы —
                span.highlight-1 лидер в своем
                span.highlight-2 направлении

              .about-block__row Работаем, чтобы изменить жизнь людей из больших городов.
              .about-block__row Помогаем выбрать растения и кашпо, которые гармонично подчеркнут или полностью изменят атмосферу пространства.
              .about-block__row Создадим атмосферу свободы, уверенности и защищённости.

          .aos(data-aos="fade-up")
            a.about-history(href="")
              .title-h3 История компании
              .about-history__circle
                +aboutBottomArrow

    include ../partials/_footer.pug