extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Акции', 'Добавь весны! Скидка 40% на все самое яркое'])

        .news-cols
          .action-aside(data-aos="fade-up")
            a.news-back-link(href="")
              +arrow('white', '#65BA7F', 'left', '15', '13', '46')
              |Все акции

            .section__sticky
              button.btn
                |Задать вопрос

          .blog-page-main
            h1.title-h1(data-aos="fade-up") Добавь весны! Скидка 40% на все самое яркое

            .action-date(data-aos="fade-up")
              |до 25 сентября

            .action-desc(data-aos="fade-up")
              p Кашпо, горшки, ящики и вазы. Металл, терракота, керамика, пластик. Подборка понравится и частным клиентам, и профессиональным дизайнерам.
              p Добавьте весны в дом, офис, отель или ресторан! Устройте себе и своим клиентам весеннюю цветотерапию уже сейчас. А наши кашпо и весенние цены в этом помогут!

            .project-products
              .designers-products-filter(data-aos="fade-up")
                ul
                  li.filter-tab.active-tab
                    |Все
                    sup 12
                  -
                    var items = [
                      'Кашпо<sup>3</sup>',
                      'Горки<sup>6</sup>',
                      'Ящики<sup>3</sup>',
                      'Вазоны<sup>6</sup>',
                    ]
                  each item in items
                    li.filter-tab
                      |!{item}
              .action-products
                
                - for (i=0; i<5; i++)
                  .catalog-card(data-aos="fade-up")
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-1.svg", alt="")
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-2.svg", alt="")
                      img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро
                      .catalog-card__price 5 292 ₽
                      .catalog-card__buttons
                        button.catalog-card__buttons-item
                          img(src="assets/images/catalog-buttons-1.svg", alt="")
                        button.catalog-card__buttons-item
                          img(src="assets/images/catalog-buttons-2.svg", alt="")

                - for (i=0; i<4; i++)
                  .catalog-card(data-aos="fade-up")
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-1.svg", alt="")
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-2.svg", alt="")
                      img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро

            .pagination.no-margin
              .pagination-list(data-aos="fade-up")
                button.pagination__item.is-active 1
                button.pagination__item 2
                button.pagination__item 3
                button.pagination__item 4
                button.pagination__dots ...
                button.pagination__item 12

              .pagination-controls(data-aos="fade-up")
                +arrow('white', '#CAE8D9', 'left', '15', '13', '46')
                +arrow('white', '#65BA7F', 'right', '15', '13', '46').arrow-active
            


        include ../partials/you-watched


    include ../partials/_footer.pug