extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Акции', 'Добавь весны! Скидка 40% на все самое яркое'])

        .news-cols
          .action-aside
            a.news-back-link(href="")
              +arrow('white', '#65BA7F', 'left', '15', '13', '46')
              |Все акции

            .section__sticky
              button.btn
                |Задать вопрос

          .blog-page-main
            h1.title-h1 Добавь весны! Скидка 40% на все самое яркое

            .action-date
              |до 25 сентября

            .action-desc
              p Кашпо, горшки, ящики и вазы. Металл, терракота, керамика, пластик. Подборка понравится и частным клиентам, и профессиональным дизайнерам.
              p Добавьте весны в дом, офис, отель или ресторан! Устройте себе и своим клиентам весеннюю цветотерапию уже сейчас. А наши кашпо и весенние цены в этом помогут!

            .project-products
              .designers-products-filter
                ul
                  li.filter-tab.active-tab
                    |Все
                    sup 12
                  -
                    var items = [
                      'Кашпо<sup>3</sup>',
                      'Горки<sup>6</sup>',
                      'Ящики<sup>3</sup>',
                      'Вазоны<sup>6</sup>',
                    ]
                  each item in items
                    li.filter-tab
                      |!{item}
              .action-products
                
                - for (i=0; i<5; i++)
                  .catalog-card
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            +cardSettingsBtn
                          button.catalog-card__buttons-item
                            +cardFavoriteBtn
                      img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро
                      .catalog-card__price 5 292 ₽
                      .catalog-card__buttons
                        button.catalog-card__buttons-item
                          +cardSettingsBtn
                        button.catalog-card__buttons-item
                          +cardFavoriteBtn

                - for (i=0; i<4; i++)
                  .catalog-card
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            +cardSettingsBtn
                          button.catalog-card__buttons-item
                            +cardFavoriteBtn
                      img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро

            include ../partials/pagination

            //- .action-aside.only-mobile
            //-   a.news-back-link(href="")
            //-     +arrow('white', '#65BA7F', 'left', '15', '13', '46')
            //-     |Все акции

            //-   .section__sticky
            //-     button.btn
            //-       |Задать вопрос
            


        include ../partials/you-watched


    include ../partials/_footer.pug