extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['акции'])

        h1.title-h1.about-title акции

        .about-tabs
          a.about-tabs__item.about-tabs__item--active(href="") Акции
          a.about-tabs__item(href="") Предстоящие акции

        .brands-list
          ul
            li.filter-tab.active-tab Все
            -
              var items = [
                'Дизайнерам',
                'Объектам',
                'Торговым организациям',
              ]
            each item in items
              li.filter-tab
                |!{item}

        .actions-list

          a.actions-list-item(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-1.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza
          
          a.actions-list-item(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-1.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

          a.actions-list-item--small(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-2.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza
          
          a.actions-list-item(href="")
            .actions-list-item__img
              .actions-list-item__date до 25 сентября
              img(src="assets/images/actions-1.jpg", alt="")
            .actions-list-item__ttl Скидка 10% на кашпо Lechuza

        include ../partials/you-watched


    include ../partials/_footer.pug