extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Блог', 'Как пересадить монстеру'])

        .news-cols
          .news-col-links.news-col-links--short.blog-sidebar.only-desktop
            .news-col-links__container
              a.news-back-link(href="" data-aos="fade-up")
                +arrow('white', '#65BA7F', 'left', '15', '13', '46')
                |Все посты

              .news-social(data-aos="fade-up")
                .news-social__title
                  span Следите 
                  |за нами
                ul.news-social__list
                  -
                    var items = [
                      'facebook',
                      'instagram',
                      'pinterest',
                      'houzz',
                      'наш блог',
                    ]
                  each item in items
                    li
                      a(href="") #{item}

              include ../partials/aside-news-subscribe

          .news-single-main.blog-page-main
            h1.about-title.title-h1(data-aos="fade-up") Как пересадить монстеру

            img.blog-image-main(src="assets/images/blog-2-2x.jpg", alt="" data-aos='fade-up')

            .blog-info(data-aos="fade-up")
              .blog-info-col
                .blog-info-col__ttl Категории
                .blog-info-col__item #Уход за растениями
                .blog-info-col__item #Полезно знать
              .blog-info-col
                .blog-info-col__ttl Дата публикации
                .blog-info-col__item 26 ноября 2020
              .blog-info-col
                .blog-info-col__ttl время чтения
                .blog-info-col__item 15 минут

            .blog-body
              p(data-aos="fade-up") Если корни фаленопсиса заполнили собой весь горшок и вытеснили грунт, значит – пришло время для пересадки. Дождитесь, пока растение отцветёт и приступайте к делу. 5 простых шагов помогут вам пересадить фаленопсис правильно и без хлопот!
              h3.title-h3(data-aos="fade-up") Шаг 1. Вынимаем фаленопсис из горшка
              p(data-aos="fade-up") При пересадке фаленопсиса самое важное – свести к минимуму стресс для хрупких корней. Поэтому для начала полейте цветок и немного подождите: остатки земли хорошо размякнут и извлечь корни будет проще. Если вынуть корни аккуратно не получается, осторожно разрежьте горшок. Очень лёгкими и деликатными потряхивающими движениями освободите корни от остатков старого грунта.
              h3.title-h3(data-aos="fade-up") Шаг 2. Уход за корнями
              p(data-aos="fade-up") Не нужно механически извлекать комочки земли из корневой системы. Вместо этого поместите корневую часть фаленопсиса в ёмкость с тёплой водой примерно на полчаса. Потом промойте корни тёплой водой из душа. Так налипший грунт уйдёт, а корни не будут травмированы. Вынимать из корневой системы остатки коры не нужно – они не мешают здоровому росту растения. Внимательно осмотрите корни на предмет заболеваний: все гнилые или засохшие корешки нужно обрезать до начала зелёных тканей, а места срезов обработать бесспиртовым антисептиком.
              h3.title-h3(data-aos="fade-up") Шаг 3. Просушка фаленопсиса
              p(data-aos="fade-up") Оставьте подготовленный к посадке фаленопсис на просушку минимум на шесть часов. За это время из розетки цветка испаряться излишки влаги, а мелкие ранки на корнях затянутся.

              img(src="assets/images/blog-3.jpg", alt="" data-aos="fade-up")

              h3.title-h3(data-aos="fade-up") Шаг 4. Посадка в новый горшок
              p(data-aos="fade-up") Новый горшок предварительно нужно помыть и заполнить слоем керамзита. Поверх 3-4 см дренажа насыпьте немного гранулята Серамис для орхидей. Далее поместите фаленопсис, аккуратно прижмите корни и присыпьте субстратом. Обратите внимание, что место, где начинается ствол фаленопсиса, должно оставаться на поверхности. Воздушные корни, рост которых начинается над уровнем горшка, присыпать не нужно.
              h3.title-h3(data-aos="fade-up") Шаг 5. Уход после пересадки
              p(data-aos="fade-up") Здоровые фаленопсисы начинают расти сразу после пересадки. Однако, если была удалена большая часть корней, то на первое время растению потребуется особый уход. Во-первых, скорее всего, фаленопсису будет трудно удерживать остатками корней зелёную часть растения. Поэтому на период восстановления корневой системы для ствола нужно создать дополнительную опору. Это могут быть деревянные палочки или специальные опоры для цветов из того же дерева или пластика.    
              p(data-aos="fade-up") Во-вторых, рекомендуем поместить фаленопсис в полиэтиленовый пакет для создания особого микроклимата. При этом не забывайте устраивать растению периодические проветривания и не допускайте попадания на пакет прямых солнечных лучей. 

        .other-news
          .other-news__top(data-aos="fade-up")
            h2.title-h2 вам может понравиться

            .other-news__controls
              +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-other-slider-prev="")
              +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-other-slider-next="")

          .swiper-container.blog-other-slider(data-other-news="" data-aos="fade-up")
            .swiper-wrapper

              a.projects__item.blog-card.swiper-slide(href="")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/blog-1-2x.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  .epsilon.projects__item-name Как пересадить орхидею сорта фаленопсис
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Уход за растениями
                    .projects__item-tag.text__super-tn.text--uppercase Полезно знать

              a.projects__item.blog-card.swiper-slide(href="")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  .epsilon.projects__item-name Как пересадить толстянку (денежное дерево)
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Озеленение и зимостойкость


        .blog-sidebar.only-mobile
          .news-col-links__container
            a.news-back-link(href="" data-aos="fade-up")
              button.arrow
                +arrowBtn
              |Все посты

            .news-social(data-aos="fade-up")
              .news-social__title
                span Следите 
                |за нами
              ul.news-social__list
                -
                  var items = [
                    'facebook',
                    'instagram',
                    'pinterest',
                    'houzz',
                    'наш блог',
                  ]
                each item in items
                  li
                    a(href="") #{item}

            include ../partials/aside-news-subscribe

    
    include ../partials/_footer.pug