extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Блог'])

        h1.about-title.title-h1(data-aos='fade-up') Блог

        //- .brands-list.news-filter
        .blog-filter.margin(data-aos="fade-up")
          ul
            li.filter-tab.small.active-tab Все
            -
              var items = [
                'Уход за растенями',
                'Процесс производства',
                'Полезно знать',
                'Озеленение и зимостойкость',
                'Обрезка деревьев и кустарников',
                'Ландшафтный дизайн',
                'Советы дизайнерам',
                'Советы садоводам',
                'Полезное',
              ]
            each item in items
              li.filter-tab.small
                |!{item}

        .news-cols
          .news-col-links
            .news-col-links__container
              .news-social
                .news-social__title(data-aos="fade-up")
                  span Следите 
                  |за нами
                ul.news-social__list(data-aos="fade-up")
                  -
                    var items = [
                      'facebook',
                      'instagram',
                      'pinterest',
                      'houzz',
                      'наш блог',
                    ]
                  each item in items
                    li
                      a(href="") #{item}

              include ../partials/aside-news-subscribe

          .news-col-main
            .news-list

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/blog-1-2x.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить орхидею сорта фаленопсис
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Уход за растениями
                    .projects__item-tag.text__super-tn.text--uppercase Полезно знать

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить толстянку (денежное дерево)
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Озеленение и зимостойкость

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/blog-1-2x.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить орхидею сорта фаленопсис
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Уход за растениями
                    .projects__item-tag.text__super-tn.text--uppercase Полезно знать

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить толстянку (денежное дерево)
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Озеленение и зимостойкость

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/blog-1-2x.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить орхидею сорта фаленопсис
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Уход за растениями
                    .projects__item-tag.text__super-tn.text--uppercase Полезно знать

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить толстянку (денежное дерево)
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Озеленение и зимостойкость

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/blog-1-2x.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить орхидею сорта фаленопсис
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Уход за растениями
                    .projects__item-tag.text__super-tn.text--uppercase Полезно знать

              a.projects__item.blog-card(href="" data-aos="fade-up")
                .projects__item-slider
                  .projects__item-slider-wrapper
                    img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="")
                .projects__item-caption
                  .news-card__date 18 ноября 2020
                  h5.projects__item-name Как пересадить толстянку (денежное дерево)
                  .projects__item-tags
                    .projects__item-tag.text__super-tn.text--uppercase Озеленение и зимостойкость

            include ../partials/pagination

    include ../partials/_footer.pug