extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Бренды'])

        h1.title-h1.about-title Бренды

        .about-tabs
          a.about-tabs__item(href="") О компании
          a.about-tabs__item(href="") История
          a.about-tabs__item.about-tabs__item--active(href="") Бренды

        .brands-list
          ul
            li.filter-tab.active-tab Serralunga
            -
              var items = [
                'Lechuza',
                'Abhika',
                'Teraplast',
                'San Rocco',
                'Anduze',
                'Deroma',
                'Pottery Pots',
                'Poterie De La Madeleine',
                'Laboratorio San Rocco',
                'ItalGarden',
                'Pokon',
              ]
            each item in items
              li.filter-tab
                |!{item}

        .brands-top
          .brands-top-logo
            img(src="assets/images/brand-logo1.png", alt="")
          .brands-top-desc
            .brands-top-desc__ttl.title-h3 Serralunga
            .brands-top-desc__txt Компания Serralunga — лидирующая компания среди производителей уличной мебели – была основана в 1825 году в итальянском городе Бьелла у подножия Альп. Название компании — это фамилия семьи, которая уже на протяжении пяти поколений управляет бизнесом. 
          .brands-top-links
            +footerDownload('презентация компании', 'pdf, 12 мб')
            a.btn.projects__header-btn(href="#") каталог продукции

        .brands-pics
          .brands-pics-row
            img(src="assets/images/brands-1.jpg", alt="")
            img(src="assets/images/brands-2.jpg", alt="")

          .projects__slider.swiper-container(data-projects-slider="")
            .swiper-wrapper
              - for (i=2; i<5; i++)
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src=`assets/images/brands-${i + 1}.jpg`, alt="", data-fade-item-slider-item="")
              
            .projects__slider-controls
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

          .brands-pics-txt
            .brands-pics-txt__col
              |Предметы Serralunga, одновременно красивые и функциональные, притягивают к себе взгляд – будь то скульптурное цветочное кашпо, геометрический стол или минималистичный шезлонг. При изготовлении используются самые современные материалы и технологии. Благодаря этому, в том числе, продукция компании Serralunga не боится плохой погоды, и ею можно пользоваться как в помещении, так и на улице, расширяя тем самым свою зону комфорта.
            .brands-pics-txt__col
              |В 1950-х копания начала работать с пластиком, и до сих пор он остаётся основным материалом, с которым работает Serralunga. А в 1980-х из США пришла идея создавать предметы из объёмного пластика методом ротационного формования, эта техника была успешно перенята и позволила производить цветочные кашпо объёмом до 3 000 литров. Ротационное формование - это метод изготовления тонкостенных полых изделий. Закрытая металлическая форма наполняется материалом (в порошке или гранулах) и, нагреваясь, вращается по двум и более пересекающимся осям. Материал равномерно распределяется по форме и создает тонкую оболочку. При охлаждении фиксируются полученные форма и размер.

        a.about-history(href="")
          .title-h3 миссия и ценности
          .about-history__circle
            img(src="assets/images/about-history-arrow.svg" alt="")


    include ../partials/_footer.pug