extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Карьера'])

        h1.title-h1.about-title Карьера
        
        .career-titles
          .career-row
            img.career-row__img(src="assets/images/career-1.jpg", alt="" data-aos="fade-up")
            .career-row__txt.title-h3(data-aos="fade-up")
              |Green Land — 
              span.accent команда идейных людей, 
              |транслирующих ценность озеленения пространства, живущих в 
              span.accent гармонии с собой 
              |и реализующих 
              span.accent дело жизни.

          .career-row
            .career-row__txt.title-h3(data-aos="fade-up")
              | Каждый в Green Land — 
              span.accent эксперт без страха и сомнений, 
              br
              |с осознанием точек роста и
              br
              |стремлением к развитию,
              br
              |стремящийся 
              span.accent помочь окружающим, несущий красоту в массы.
            .career-row__figure(data-aos="fade-up")
              img(src="assets/images/career-2.jpg", alt="")

          .career-row
            img.career-row__img(src="assets/images/career-3.jpg", alt="" data-aos="fade-up")
            .career-row__txt.title-h3(data-aos="fade-up")
              |Обучаем специалистов, которые будут разрабатывать проекты для общественных площадок, больниц, городов, 
              span.accent внедрять стандарты зеленого бизнеса.

        .career-requirement
          h2.career-requirement__title.title-h2(data-aos="fade-up") Наш сотрудник
          .career-requirement__list
            ul(data-aos="fade-up")
              li.highlight-1 Активный
              li.highlight-2 Инициативный
              li.highlight-3 Действует быстро
              li.highlight-4.line100 Несет
                br
                |ответственность
              li.highlight-5 Предлагает идеи
              li.highlight-6 Не ждет, а действует

        .career-vacancies
          h2.title-h2(data-aos="fade-up") Вакансии
          .career-spoilers
            .spoiler
              .spoiler__button
                .spoiler__button-inner(data-aos="fade-up")
                  .spoiler__title Менеджер по продажам
                  .spoiler__city Санкт-Петербург
                  .spoiler__salary 30 000 — 180 000 ₽
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  .spoiler__desc
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") обязанности
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Посещение магазинов по закрепленному маршруту (2 магазина в день)
                          li Выкладка продукции (цветочные горшки)
                          li Контроль наличия и актуальности ценников
                          li Отчетность (фотоотчеты, остатки)
                          li Коммуникации с администрацией магазина
                          li Влияние на заказы
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") требования
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Образование: среднее
                          li Возраст от 22 до 55 лет
                          li Наличие медицинской книжки
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") условия
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Постоянная работа, полный день
                          li Оформление, отпуск, больничный и прочее по ТК РФ
                  .spoiler__contact(data-aos="fade-up")
                    button.btn.cover__btn откликнуться
                    .designers-contacts__desc
                      .designers-contacts__name Галина Пашукова
                      .designers-contacts__position Контактное лицо
                      .designers-contacts__contacts
                        span.designers-contacts__tel 8 911 924-50-84
                        span sv@green-land.ru
            
            .spoiler
              .spoiler__button
                .spoiler__button-inner(data-aos="fade-up")
                  .spoiler__title Менеджер по продажам
                  .spoiler__city Санкт-Петербург
                  .spoiler__salary 30 000 — 180 000 ₽
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  .spoiler__desc
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") обязанности
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Посещение магазинов по закрепленному маршруту (2 магазина в день)
                          li Выкладка продукции (цветочные горшки)
                          li Контроль наличия и актуальности ценников
                          li Отчетность (фотоотчеты, остатки)
                          li Коммуникации с администрацией магазина
                          li Влияние на заказы
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") требования
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Образование: среднее
                          li Возраст от 22 до 55 лет
                          li Наличие медицинской книжки
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") условия
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Постоянная работа, полный день
                          li Оформление, отпуск, больничный и прочее по ТК РФ
                  .spoiler__contact(data-aos="fade-up")
                    button.btn.cover__btn откликнуться
                    .designers-contacts__desc
                      .designers-contacts__name Галина Пашукова
                      .designers-contacts__position Контактное лицо
                      .designers-contacts__contacts
                        span.designers-contacts__tel 8 911 924-50-84
                        span sv@green-land.ru

            .spoiler
              .spoiler__button
                .spoiler__button-inner(data-aos="fade-up")
                  .spoiler__title Мерчендайзер
                  .spoiler__city Санкт-Петербург
                  .spoiler__salary 30 000 — 180 000 ₽
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  .spoiler__desc
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") обязанности
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Посещение магазинов по закрепленному маршруту (2 магазина в день)
                          li Выкладка продукции (цветочные горшки)
                          li Контроль наличия и актуальности ценников
                          li Отчетность (фотоотчеты, остатки)
                          li Коммуникации с администрацией магазина
                          li Влияние на заказы
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") требования
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Образование: среднее
                          li Возраст от 22 до 55 лет
                          li Наличие медицинской книжки
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") условия
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Постоянная работа, полный день
                          li Оформление, отпуск, больничный и прочее по ТК РФ
                  .spoiler__contact(data-aos="fade-up")
                    button.btn.cover__btn откликнуться
                    .designers-contacts__desc
                      .designers-contacts__name Галина Пашукова
                      .designers-contacts__position Контактное лицо
                      .designers-contacts__contacts
                        span.designers-contacts__tel 8 911 924-50-84
                        span sv@green-land.ru

            .spoiler
              .spoiler__button
                .spoiler__button-inner(data-aos="fade-up")
                  .spoiler__title Мерчендайзер
                  .spoiler__city Санкт-Петербург
                  .spoiler__salary 30 000 — 180 000 ₽
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  .spoiler__desc
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") обязанности
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Посещение магазинов по закрепленному маршруту (2 магазина в день)
                          li Выкладка продукции (цветочные горшки)
                          li Контроль наличия и актуальности ценников
                          li Отчетность (фотоотчеты, остатки)
                          li Коммуникации с администрацией магазина
                          li Влияние на заказы
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") требования
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Образование: среднее
                          li Возраст от 22 до 55 лет
                          li Наличие медицинской книжки
                    .spoiler__desc-block
                      .spoiler__desc-ttl(data-aos="fade-up") условия
                      .spoiler__desc-list
                        ul(data-aos="fade-up")
                          li Постоянная работа, полный день
                          li Оформление, отпуск, больничный и прочее по ТК РФ
                  .spoiler__contact(data-aos="fade-up")
                    button.btn.cover__btn откликнуться
                    .designers-contacts__desc
                      .designers-contacts__name Галина Пашукова
                      .designers-contacts__position Контактное лицо
                      .designers-contacts__contacts
                        span.designers-contacts__tel 8 911 924-50-84
                        span sv@green-land.ru

        .designers-contacts
          .designers-contacts__row
            .career-contacts-txt.only-desktop(data-aos="fade-up")
              |Мы всегда ищем талантливых специалистов и стажеров. 
              br 
              |Если сейчас нет активных вакансий, присылайте свое резюме, и, возможно, мы найдем для вас интересные проекты.
            .career-contacts-txt.only-mobile(data-aos="fade-up")
              |Мы всегда ищем талантливых специалистов и стажеров. Если сейчас нет активных вакансий, присылайте свое резюме, и, возможно, мы найдем для вас интересные проекты.
            .designers-contacts__card.career-contacts-card
              .designers-contacts__img(data-aos="fade-up")
                img(src="assets/images/designer-contacts-1.png", alt="")
              .designers-contacts__desc(data-aos="fade-up")
                .designers-contacts__name Галина Пашукова
                .designers-contacts__position HR менеджер
                .designers-contacts__contacts
                  span.designers-contacts__tel 8 812 209-18-84
                  span ga@green-land.ru

        .career-form(data-aos="fade-up")
          form.career-form__form(data-parsley-validate)
            label.designers-form__label
              .placeholder-active Имя*
              input.designers-form__input(placeholder="Имя*" required)
            label.designers-form__label
              .placeholder-active E-mail*
              input.designers-form__input(placeholder="E-mail*" required)
            label.designers-form__label
              .placeholder-active Телефон*
              input.designers-form__input(placeholder="Телефон*" required)
            label.designers-form__label
              .placeholder-active Немного о себе
              textarea.designers-form__input(name="" cols="30" rows="3" placeholder="Немного о себе")
            label.form__add-file
              |прикрепить резюме
              input(type="file" multiple) 
            label.designers-form__checkbox
              input(type="checkbox"  id="checkbox" required)
              .checkbox
              .designers-form__checkbox-txt Я соглашаюсь на обработку
                br
                a(href="") персональных данных
            button.btn.cover__btn(type="submit") отправить
          
          .career-hh
            a.career-hh__link(href="") вакансии
              br
              |на hh.ru
            img(src="assets/images/hh.png", alt="")

    include ../partials/_footer.pug