extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо'])

        h1.title-h1.about-title Цветочные горшки и кашпо

        .catalog-filter-mobile
          .catalog-filter-spoiler.catalog-filter-imgs.spoiler

            .catalog-filter-mobile__btn.spoiler__button
              .catalog-filter-mobile__ttl материал
              .catalog-filter-mobile__ico

            .spoiler__dropdown

              .catalog-filter-mobile__spoiler

                .catalog-filter-imgs__item.is-active
                  img(src="assets/images/icons/filter-ico/filter-ico-1.png", alt="")
                  |Пластиковые
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-2.png", alt="")
                  |Керамические
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-3.png", alt="")
                  |Глиняные
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-4.png", alt="")
                  |Мраморные
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-5.png", alt="")
                  |Файберглас
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-6.png", alt="")
                  |Из бетона
                .catalog-filter-imgs__item
                  img(src="assets/images/icons/filter-ico/filter-ico-7.png", alt="")
                  |Из стекла

          .catalog-filter-spoiler.catalog-filter-tabs.spoiler

            .catalog-filter-mobile__btn.spoiler__button
              .catalog-filter-mobile__ttl Применение
              .catalog-filter-mobile__ico

            .spoiler__dropdown

              .catalog-filter-mobile__spoiler

                .catalog-filter-tabs__item.is-active Напольные
                .catalog-filter-tabs__item С автополивом
                .catalog-filter-tabs__item Для сада
                .catalog-filter-tabs__item Настенное
                .catalog-filter-tabs__item Лечуза
                .catalog-filter-tabs__item Подставка под кашпо
                .catalog-filter-tabs__item Подставка под кашпо
                .catalog-filter-tabs__item Высокие
                .catalog-filter-tabs__item Пластиковые
                .catalog-filter-tabs__item Подвесные

          .catalog-filter-spoiler.catalog-filter-spoilers
            .catalog-filter-mobile__btn
              .catalog-filter-mobile__ttl все фильтры
              .catalog-filter-mobile__ico

        .catalog-filter
          .catalog-filter-imgs

            .catalog-filter-imgs__item.is-active
              img(src="assets/images/icons/filter-ico/filter-ico-1.png", alt="")
              |Пластиковые
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-2.png", alt="")
              |Керамические
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-3.png", alt="")
              |Глиняные
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-4.png", alt="")
              |Мраморные
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-5.png", alt="")
              |Файберглас
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-6.png", alt="")
              |Из бетона
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-7.png", alt="")
              |Из стекла

          .catalog-filter-tabs

            .catalog-filter-tabs__item.is-active Напольные
            .catalog-filter-tabs__item С автополивом
            .catalog-filter-tabs__item Для сада
            .catalog-filter-tabs__item Настенное
            .catalog-filter-tabs__item Лечуза
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Высокие
            .catalog-filter-tabs__item Пластиковые
            .catalog-filter-tabs__item Подвесные

          .catalog-filter-spoilers

            .catalog-filter-spoilers__item
            
              |Все фильтры
              .catalog-filter-spoilers__plus

            .catalog-filter-spoilers__item
              
              |Наличие, скидки
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

            .catalog-filter-spoilers__item

              |Диапазон цены
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

            .catalog-filter-spoilers__item

              |Цвет
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

            .catalog-filter-spoilers__item
            
              |Форма
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

            .catalog-filter-spoilers__item
            
              |Применение
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

            .catalog-filter-spoilers__item
            
              |Особенности
              img(src="assets/images/icons/spoiler-arrow.svg", alt="")

        .category-table

          .category-row
          - for (i=0; i<5; i++)
            .catalog-card
              .catalog-card__labels
                .catalog-card__labels-item Скидки
                .catalog-card__labels-item Новинки
              .catalog-card__top
                .catalog-card__layer
                  .catalog-card__pagination
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                  .catalog-card__buttons
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-1.svg", alt="")
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-2.svg", alt="")
                img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
              a.catalog-card__bottom(href="")
                .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                .catalog-card__color Серебро
                .catalog-card__price 5 292 ₽

          .category-row
          - for (i=0; i<5; i++)
            .catalog-card
              .catalog-card__labels
                .catalog-card__labels-item Скидки
                .catalog-card__labels-item Новинки
              .catalog-card__top
                .catalog-card__layer
                  .catalog-card__pagination
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                  .catalog-card__buttons
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-1.svg", alt="")
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-2.svg", alt="")
                img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
              a.catalog-card__bottom(href="")
                .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                .catalog-card__color Серебро
                .catalog-card__price 5 292 ₽

          .category-row
          - for (i=0; i<5; i++)
            .catalog-card
              .catalog-card__labels
                .catalog-card__labels-item Скидки
                .catalog-card__labels-item Новинки
              .catalog-card__top
                .catalog-card__layer
                  .catalog-card__pagination
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                    .catalog-card__pagination-item
                  .catalog-card__buttons
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-1.svg", alt="")
                    button.catalog-card__buttons-item
                      img(src="assets/images/catalog-buttons-2.svg", alt="")
                img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
              a.catalog-card__bottom(href="")
                .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                .catalog-card__color Серебро
                .catalog-card__price 5 292 ₽
        
        .pagination
          .pagination-list
            button.pagination__item.is-active 1
            button.pagination__item 2
            button.pagination__item 3
            button.pagination__item 4
            button.pagination__dots ...
            button.pagination__item 12

          .pagination-controls
            +arrow('white', '#CAE8D9', 'left', '15', '13', '46')
            +arrow('white', '#65BA7F', 'right', '15', '13', '46').arrow-active

        .catalog-block
          .designers-contacts__card
            .designers-contacts__img
              img(src="assets/images/designer-contacts-1.png", alt="")
            .designers-contacts__desc
              .designers-contacts__name Шабала Виктория
              .designers-contacts__position Менеджер по работе с дизайнерами
              .designers-contacts__contacts
                span.designers-contacts__tel 8 911 924-50-84
                span sv@green-land.ru

              .contacts-btn
                |обратная связь

          .catalog-block__desc
            .catalog-block__desc-ttl.title-h3 Горшки и кашпо
            .catalog-block__desc-txt
              p Горшок для цветов - это не только емкость для размещения растения, но и предмет дизайна, украшение, а иногда и мебель или даже светильник. Правильно подобранные цветочные кашпо моментально преобразят помещение или ландшафт, в зависимости от поставленной задачи добавят ярких красок или, наоборот, сольются с окружающей средой, предоставив растениям возможность выйти на первый план.
              p В нашем каталоге представлен широкий ассортимент цветочных горшков и кашпо - различные материалы, размеры и формы, функция автополива. Вы можете выбрать подходящее кашпо самостоятельно, или наши менеджеры подберут варианты для вас.

        include ../partials/you-watched.pug


    include ../partials/_footer.pug