extends ../layouts/master.pug

include ../partials/catalog-card.pug
include ../partials/catalog-filters.pug
include ../partials/modal-filters.pug
include ../partials/modal-cart.pug
include ../partials/modal-buy.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо'])

        h1.title-h1.about-title(data-aos="fade-up") Цветочные горшки и кашпо

        +catalog-filters

        .category-table
          .category-row(data-aos="fade-up")
            - for (i = 0; i < 5; i++)
              +catalog-card(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952", "https://via.placeholder.com/150/1fe46f"])
          .category-row(data-aos="fade-up")
            - for (i = 0; i < 5; i++)
              +catalog-card(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952"])
          .category-row(data-aos="fade-up")
            - for (i = 0; i < 5; i++)
              +catalog-card(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796"])
          .category-row(data-aos="fade-up")
            - for (i = 0; i < 5; i++)
              +catalog-card

        include ../partials/pagination

        .catalog-block
          .designers-contacts__card.designers-contacts__card--wide
            .designers-contacts__img(data-aos="fade-up")
              img(src="assets/images/designer-contacts-1.png", alt="")
            .designers-contacts__desc(data-aos="fade-up")
              .designers-contacts__name Стасенко Виктор
              .designers-contacts__position Специалист по работе с розничными покупателями
              .designers-contacts__contacts
                span.designers-contacts__tel 8 812 209-18-84
                span ga@green-land.ru

              .btn
                |обратная связь

          .catalog-block__desc
            .catalog-block__desc-ttl.title-h3(data-aos="fade-up") Горшки и кашпо
            .catalog-block__desc-txt(data-aos="fade-up")
              p Горшок для цветов - это не только емкость для размещения растения, но и предмет дизайна, украшение, а иногда и мебель или даже светильник. Правильно подобранные цветочные кашпо моментально преобразят помещение или ландшафт, в зависимости от поставленной задачи добавят ярких красок или, наоборот, сольются с окружающей средой, предоставив растениям возможность выйти на первый план.
              p В нашем каталоге представлен широкий ассортимент цветочных горшков и кашпо - различные материалы, размеры и формы, функция автополива. Вы можете выбрать подходящее кашпо самостоятельно, или наши менеджеры подберут варианты для вас.

        include ../partials/you-watched.pug


    include ../partials/_footer.pug
  
  +modal-filters
  +modal-cart
  +modal-buy