extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо'])

        h1.title-h1.about-title Цветочные горшки и кашпо

        .catalog-filter
          .catalog-filter-imgs

            .catalog-filter-imgs__item Пластиковые
            .catalog-filter-imgs__item Керамические
            .catalog-filter-imgs__item Глиняные
            .catalog-filter-imgs__item Мраморные
            .catalog-filter-imgs__item Файберглас
            .catalog-filter-imgs__item Из бетона
            .catalog-filter-imgs__item Из стекла

          .catalog-filter-tabs

            .catalog-filter-tabs__item Напольные
            .catalog-filter-tabs__item С автополивом
            .catalog-filter-tabs__item Для сада
            .catalog-filter-tabs__item Настенное
            .catalog-filter-tabs__item Лечуза
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Высокие
            .catalog-filter-tabs__item Пластиковые
            .catalog-filter-tabs__item Подвесные

          .catalog-filter-spoilers

            .catalog-filter-spoilers__item Все фильтры
            .catalog-filter-spoilers__item Наличие, скидки
            .catalog-filter-spoilers__item Диапазон цены
            .catalog-filter-spoilers__item Цвет
            .catalog-filter-spoilers__item Форма
            .catalog-filter-spoilers__item Применение
            .catalog-filter-spoilers__item Особенности

        .category-row
         - for (i=0; i<5; i++)
          .catalog-card
            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки
            .catalog-card__top
              .catalog-card__layer
                .catalog-card__pagination
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                .catalog-card__buttons
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-1.svg", alt="")
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-2.svg", alt="")
              img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
            a.catalog-card__bottom(href="")
              .catalog-card__ttl Высокое напольное кашпо MUSCHEL
              .catalog-card__color Серебро
              .catalog-card__price 5 292 ₽

        .category-row
         - for (i=0; i<5; i++)
          .catalog-card
            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки
            .catalog-card__top
              .catalog-card__layer
                .catalog-card__pagination
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                .catalog-card__buttons
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-1.svg", alt="")
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-2.svg", alt="")
              img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
            a.catalog-card__bottom(href="")
              .catalog-card__ttl Высокое напольное кашпо MUSCHEL
              .catalog-card__color Серебро
              .catalog-card__price 5 292 ₽

        .category-row
         - for (i=0; i<5; i++)
          .catalog-card
            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки
            .catalog-card__top
              .catalog-card__layer
                .catalog-card__pagination
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                .catalog-card__buttons
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-1.svg", alt="")
                  button.catalog-card__buttons-item
                    img(src="assets/images/catalog-buttons-2.svg", alt="")
              img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
            a.catalog-card__bottom(href="")
              .catalog-card__ttl Высокое напольное кашпо MUSCHEL
              .catalog-card__color Серебро
              .catalog-card__price 5 292 ₽

        .pagination
          .pagination-list
            button.pagination__item.is-active 1
            button.pagination__item 2
            button.pagination__item 3
            button.pagination__item 4
            button.pagination__dots ...
            button.pagination__item 12

          .pagination-controls
            +arrow('white', '#CAE8D9', 'left', '15', '13', '46')
            +arrow('white', '#65BA7F', 'right', '15', '13', '46').arrow-active

        include ../partials/you-watched.pug


    include ../partials/_footer.pug