extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      form.container.basket(data-parsley-validate)
        .basket-main.checkout
          a.news-back-link(href="")
            +arrow('white', '#65BA7F', 'left', '15', '13', '46')
            |вернуться в корзину

          h1.title-h1.about-title Оформление заказа

          .checkout-left

            .checkout-block
              .checkout-block__top
                .checkout-block__ttl контактные данные
                button.checkout-login
                  +checkoutLogin
                  |войти

              label.checkout-block__label
                .placeholder-active Имя*
                input.checkout-block__input(type="text" placeholder="Имя*" required)
              label.checkout-block__label
                .placeholder-active Фамилия*
                input.checkout-block__input(type="text" placeholder="Фамилия*" required)
              label.checkout-block__label
                .placeholder-active E-mail*
                input.checkout-block__input(type="text" placeholder="E-mail*" required)
              label.checkout-block__label
                .placeholder-active Номер телефона*
                input.checkout-block__input(type="text" placeholder="Номер телефона*" required)

            .checkout-block
              .checkout-block__ttl Способ доставки

              .about-tabs.checkout-address__filter
                .about-tabs__item.about-tabs__item--active
                  +checkoutPoint
                  |Забрать из пункта выдачи

                .about-tabs__item
                  +checkoutPoint
                  |Курьером до двери
                
                .about-tabs__item
                  +checkoutPoint
                  |Самовывоз со склада

              .checkout-address__container

                .checkout-address__item.checkout-address__item--active
                  .checkout-address__ttl выбранный адрес
                  .checkout-address__desc
                    .checkout-address__desc--big ул. Красноармейская, 97
                    div +7 (3435) 379-044
                    .checkout-address__desc--small Вс 10:00-16:00, Сб 10:00-16:00, Пн-Пт 10:00-20:00
                    .checkout-address__desc--small Напротив ТЦ Пирамида
                    .checkout-address__desc--small Возможность примерки отсутствует

                  button.checkout-block__btn.btn-white Выбрать адрес на карте

                .checkout-address__item
                  .checkout-address__ttl выбранный адрес
                  .checkout-address__desc г. Москва, ул. Стачек, 34

                  button.checkout-block__btn.btn-white Выбрать адрес на карте

                .checkout-address__item
                  .checkout-address__ttl адрес склада
                  .checkout-address__desc
                    span Санкт-Петербург, Московское шоссе, дом 25, к. 1, Бизнес-центр «Престиж», офис 248
                    .checkout-address__desc-map
                      +addressIco
                      |на карте

                  button.checkout-block__btn.btn-white Выбрать адрес на карте


            .checkout-block
              .checkout-block__ttl Способ оплаты

              .checkout-block__txt Для выбора способа оплаты укажите способ доставки

              .checkout-payment
                .checkout-payment__item.checkout-payment__item--active
                  +checkoutPoint
                  |Оплатить картой онлайн
                .checkout-payment__item
                  +checkoutPoint
                  |Банковским переводом по счету

          .checkout-right

            button.checkout-login
              +checkoutLogin
              |войти


        .basket-aside

          .basket-aside__ttl ваш заказ

          .basket-aside__table
            .basket-aside__row
              .basket-aside__name Общий вес
              .basket-aside__value 10 кг

            .basket-aside__row
              .basket-aside__name Количество товаров
              .basket-aside__value 6 шт

            .basket-aside__row
              .basket-aside__name Обрешечивание
              .basket-aside__value 2 500 ₽

            .basket-aside__row
              .basket-aside__name Стоимость доставки
              .basket-aside__value 5 292 ₽

          .basket-aside__row
            .basket-aside__name Сумма без скидки
            .basket-aside__value 7 892 ₽

          .basket-aside__total
            .basket-aside__row
              .basket-aside__name Сумма заказа
              .basket-aside__value 135 292 ₽
            button.btn(type="submit") перейти к оформлению заказа


    include ../partials/_footer.pug