extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Сравнение'])

        h1.title-h1.about-title.about-title--md Сравнение

        .blog-filter.blog-filter--default
          ul
            li.filter-tab.active-tab Все
            -
              var items = [
                'О компания',
                'Продукция',
                'Доставка',
              ]
            each item in items
              li.filter-tab
                |!{item}

        .compare-table(data-aos="fade-up")
          .compare-table__col.compare-col-fixed
            .designers-products__controls(data-catalog-slider-controls="")
              .arrows.cover__slider-arrows
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-catalog-slider-prev="")
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-catalog-slider-next="")

            .compare-table__col-table
              ul.compare-table__list
                li.compare-table__cell цвет
                li.compare-table__cell высота, см
                li.compare-table__cell диаметр, см
                li.compare-table__cell материал
                li.compare-table__cell крепление
                li.compare-table__cell Форма
                li.compare-table__cell Особенности
                li.compare-table__cell Коллекции

          .compare-table__col.swiper-container(data-catalog-slider="")
            .swiper-wrapper
          
              - for (i=0; i<5; i++)
                .catalog-card.swiper-slide
                  .catalog-card__labels
                    button.catalog-card__buttons-item
                  .catalog-card__top
                    .catalog-card__layer
                      .catalog-card__pagination
                        .catalog-card__pagination-item
                        .catalog-card__pagination-item
                        .catalog-card__pagination-item
                        .catalog-card__pagination-item
                      .catalog-card__buttons
                        button.catalog-card__buttons-item
                          +cardFavoriteBtn
                    img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                  .catalog-card__bottom
                    a.catalog-card__ttl(href="") Высокое напольное кашпо MUSCHEL
                    .catalog-card__color
                      .compare-table__cell-mob цвет
                      |Серебро

                    .catalog-card__price
                      .favorites-table__price-old 7 200 ₽
                      .favorites-table__price 5 292 ₽

                      button.catalog-card__buttons-item
                        +cardFavoriteBtn

                  ul.compare-table__list
                    li.compare-table__cell
                      .compare-table__cell-mob цвет
                      |Серебро
                    li.compare-table__cell
                      .compare-table__cell-mob высота, см
                      |7.7
                    li.compare-table__cell
                      .compare-table__cell-mob диаметр, см
                      |13.6
                    li.compare-table__cell
                      .compare-table__cell-mob материал
                      |Файбергласс
                    li.compare-table__cell
                      .compare-table__cell-mob крепление
                      |Напольное
                      br
                      |Универсальное
                    li.compare-table__cell
                      .compare-table__cell-mob Форма
                      |Прямоугольная
                    li.compare-table__cell
                      .compare-table__cell-mob Особенности
                      |Морозостойкая
                      br
                      |Ударопрочная
                      br
                      |Устойчива к ультрофиолету
                    li.compare-table__cell
                      .compare-table__cell-mob Коллекции
                      |Матовая

    include ../partials/_footer.pug