extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['работа с нами', 'условия работы для объектов'])

        h1.title-h1.about-title(data-aos="fade-up") Условия работы для объектов

        .about-tabs(data-aos="fade-up")
          a.about-tabs__item.about-tabs__item--active(href="") Для дизайнеров
          a.about-tabs__item(href="") Для объектов
          a.about-tabs__item(href="") Для дистрибьютеров

        .about-mission

          .mission__slide(data-aos="fade-up")
            .mission__main
              .mission__slider-underlay
              .mission__heading.objects-highlights.title-h3
                .
                  Мы знаем какие #[span.accent проблемы #[br] решает озеленение #[br] бизнес-пространств.] #[br] если стоит задача подобрать #[br] товар для декодирования #[br] или озеленения своими #[br] силами, #[span.accent #[span.objects-highlights-1 наши менеджеры] #[br] #[span.objects-highlights-2 помогут] с выбором кашпо и #[br] растений]
            img.about-mission__img(src="assets/images/objects-1.jpg" alt="")

        .designers-benefits.objects-benefits
          .designers-benefits__table(data-aos="fade-up")
            ul
              -
                var items = [
                  'Если вам необходимо озеленить пространство «под ключ», команда отдела Озеленения предложит проект с реализацией',
                  'У нас есть проверенные решение под каждую задачу',
                  'Ассортимент кашпо с антивандальными характеристиками, для решения любой задачи по декорированию и озеленению вашего бизнес-пространства',
                  'Программа лояльности и продуманная система скидок',
                  'Мы работаем с коммерческими и бюджетными организациями',
                ]

              each item, index in items
                li
                  .designers-benefits__img
                    img(src=`assets/images/objects-benefits-${index + 1}.png`, alt="")
                  .designers-benefits__txt
                    //- .designers-benefits__ttl #{item.title}
                    .designers-benefits__desc #{item}

        .about-block.designers-block(data-aos="fade-up")
          .about-block__img
            img(src="assets/images/objects-2.jpg" alt="")
          .about-block__desc
            //- h3.about-block__ttl.title-h3 Мы 
            //-   span.objects-highlights-3 гордимся своими 
            //-   br
            //-   span.objects-highlights-4 проектами
            //-   |, а наши партнёры 
            //-   br
            //-   |благодарят нас за сроки, 
            //-   br 
            //-   |качество и отличный 
            //-   br 
            //-   |клиентский сервис

            h3.about-block__ttl.title-h3 Мы 
              span.objects-highlights-3 гордимся своими 
              |&nbsp;
              span.objects-highlights-4 проектами
              |, а наши партнёры благодарят нас за сроки, качество и отличный клиентский сервис
            
        .designers-showrooms
          .ojects-projects-top(data-aos="fade-up")
            h2.ojects-projects-top__title.title-h2
              |Выполненные проекты
            a.ojects-projects-top__link(href="")
              |все проекты
              //- img(src="assets/images/objects-arrow.png", alt="")
              +allProjectsSvg
          .designers-products-filter(data-aos="fade-up")
            ul
              li.filter-tab.active-tab Входные группы
              -
                var items = [
                  'Атриумы',
                  'Процесс производства',
                  'Рестораны',
                ]
              each item in items
                li.filter-tab
                  |#{item}

          div(data-aos="fade-up")
            .projects__slider.swiper-container(data-projects-slider="" data-catalog='')
              .swiper-wrapper
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-catalog-card='')
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        ul.catalog-list
                          each item in ["assets/images/projects__item-img-3.jpg", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952", "https://via.placeholder.com/150/1fe46f"]
                            li.catalog-list__item(data-catalog-image = item)
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="" data-card-image='')
                      .projects__item-bullets 
                        .catalog-pagination
                          - for (x = 0; x < 4; x++)
                            .catalog-pagination__item
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-catalog-card='')
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        ul.catalog-list
                          each item in ["assets/images/projects__item-img-1.jpg", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952"]
                            li.catalog-list__item(data-catalog-image = item)
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="" data-card-image='')
                      .projects__item-bullets 
                        .catalog-pagination
                          - for (x = 0; x < 3; x++)
                            .catalog-pagination__item
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-catalog-card='')
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        ul.catalog-list
                          each item in ["assets/images/projects__item-img-2.jpg", "https://via.placeholder.com/600/771796"]
                            li.catalog-list__item(data-catalog-image = item)
                        img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="" data-card-image='')
                      .projects__item-bullets 
                        .catalog-pagination
                          - for (x = 0; x < 2; x++)
                            .catalog-pagination__item
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .projects__slider-controls
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .objects-form(data-form="")
          h2.title-h2(data-aos="fade-up")
            |Связаться с нами
          include ../partials/form-contacts

    include ../partials/_footer.pug