extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    include ../components/_breadcrumbs.pug

    .section.brands
      .container
        h1.beta.about-title Условия работы для объектов

        .about-tabs
          a.about-tabs__item(href="") Условия работы с дизайнерами
          a.about-tabs__item.about-tabs__item--active(href="") Условия работы для объектов
          a.about-tabs__item(href="") Условия работы для дистрибьютеров и оптовых покупателей

        .about-mission

          .mission__slide
            .mission__main
              .mission__slider-underlay
              .gamma.mission__heading
                .
                  Мы знаем какие #[span.accent проблемы #[br] решает озеленение #[br] бизнес-пространств.] #[br] если стоит задача подобрать #[br] товар для декодирования #[br] или озеленения своими #[br] силами, #[span.accent наши менеджеры #[br] помогут с выбором кашпо и #[br] растений]
            img.about-mission__img(src="assets/images/objects-1.jpg" alt="")

        .designers-benefits
          .designers-benefits__table
            ul
              -
                var items = [
                  'Если вам необходимо озеленить пространство «под ключ», команда отдела Озеленения предложит проект с реализацией',
                  'У нас есть проверенные решение под каждую задачу',
                  'Ассортимент кашпо с антивандальными характеристиками, для решения любой задачи по декорированию и озеленению вашего бизнес-пространства',
                  'Программа лояльности и продуманная система скидок',
                  'Мы работаем с коммерческими и бюджетными организациями',
                ]

              each item, index in items
                li
                  .designers-benefits__img
                    img(src=`assets/images/objects-benefits-${index + 1}.png`, alt="")
                  .designers-benefits__txt
                    //- .designers-benefits__ttl #{item.title}
                    .designers-benefits__desc #{item}

        .about-block.mt70
          .about-block__img
            img(src="assets/images/objects-2.jpg" alt="")
          .about-block__desc
            h3.about-block__ttl Мы 
              span гордимся своими 
                br
                |проектами, 
              |а наши партнёры 
              br
              |благодарят нас за сроки, 
              br 
              |качество и отличный 
              br 
              |клиентский сервис
            
        .designers-showrooms
          .ojects-projects-top
            h2.ojects-projects-top__title
              |Выполненные проекты
            a.ojects-projects-top__link(href="")
              |все проекты
              img(src="assets/images/objects-arrow.png", alt="")
          .designers-products-filter
            ul
              li.filter-tab.active-tab Входные группы
              -
                var items = [
                  'Атриумы',
                  'Процесс производства',
                  'Рестораны',
                ]
              each item in items
                li.filter-tab
                  |#{item}

          .projects__slider.swiper-container(data-projects-slider="")
            .swiper-wrapper
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                    .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
            .projects__slider-controls
              +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
              +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .objects-form
          h2
            |Связаться с нами
          form.designers-form__form
            label.designers-form__label
              input.designers-form__input(placeholder="Имя")
            label.designers-form__label
              input.designers-form__input(placeholder="E-mail")

            label.designers-form__label
              textarea.designers-form__input(name="" cols="30" rows="1" placeholder="Вопрос")

            label.designers-form__checkbox
              input(type="checkbox"  id="checkbox")
              .checkbox
              .designers-form__checkbox-txt Я соглашаюсь на обработку
                br
                a(href="") персональных данных
            button.btn.cover__btn(type="submit") отправить

    include ../partials/_footer.pug