extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['клиентам'])

        .clients-top
          h1.beta клиентам
          .about-tabs
            a.about-tabs__item(href="") Возврат денеженых средств
            a.about-tabs__item.about-tabs__item--active(href="") Доставка
            a.about-tabs__item(href="") Оплата

        .delivery-stages
          h3.delivery-stages__ttl ПРОЦЕДУРА ПОЛУЧЕНИЯ ЗАКАЗА
          .delivery-stages__item Внимательно проверьте количество и качество товара при его приёмке от представителя транспортной компании, если доставка до адреса или на терминале ТК.
          .delivery-stages__item При отсутствии каких-либо претензий вам необходимо получить от сотрудника транспортной компании сопроводительные документы на товар и подписать их.
          .delivery-stages__item Обязательно перед подписанием сопроводительных документов в присутствии сотрудника транспортной компании внимательно осмотреть заказ, убедиться, что он полностью соответствует по модели, цвету, количество. Убедитесь в отсутствии видимых механических и иных внешних повреждений.
          .delivery-stages__item Обратите внимание, доставка расчитывается на стандартных условиях по тарифам транспортной компании, подъём товара и прочие доп услуги - оплачиваются отдельно. Если вы не уверены, что сами сможете поднять товар на этаж или вам необходима помощь с выгрузкой, то сообщите об этом при заказе, чтоб мы расчитали вам доставку по вашим условиям.

        .delivery-conditions
          .delivery-conditions__ttl Санкт-Петербург

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |менее 3 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price 300 ₽

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |3 000 - 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price 300 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price 400 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price 600 ₽

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |более 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price 300 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price бесплатно

        .delivery-conditions
          .delivery-conditions__ttl Москва

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |менее 3 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |3 000 - 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price 1000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price тариф ТК

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |более 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price 700 ₽

        .delivery-conditions
          .delivery-conditions__ttl Регионы

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |менее 3 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |3 000 - 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price 400 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price тариф ТК СПб - РЕГИОН

          .delivery-conditions__col
            .delivery-conditions__col-ttl Сумма заказа:
              br
              |более 10 000 ₽

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз со склада
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl самовывоз из ШР
              .delivery-conditions__row-price нет

            .delivery-conditions__row
              .delivery-conditions__row-ttl до терминала ТК СПб
              .delivery-conditions__row-price бесплатно

            .delivery-conditions__row
              .delivery-conditions__row-ttl до адреса покупателя
              .delivery-conditions__row-price тариф ТК МСК - РЕГИОН

    include ../partials/_footer.pug