extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  include ../partials/modal-ask

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Вопрос-ответ'])

        h1.about-title.about-title--md.title-h1 Вопрос-ответ

        .blog-filter.blog-filter--faq(data-aos="fade-up")
          ul
            li.filter-tab.active-tab Все
            -
              var items = [
                'О компания',
                'Продукция',
                'Доставка',
              ]
            each item in items
              li.filter-tab
                |!{item}

        .faq-row
          .faq-spoilers
            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title Чем вы отличаетесь от конкурентов на рынке?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas adipisci cupiditate illo reiciendis odit eius neque vel doloribus, voluptatem explicabo nihil libero ipsa totam nemo recusandae quos aspernatur pariatur.

            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title С кем можно пообщаться по вопросу сотрудничества?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Не нужно механически извлекать комочки земли из корневой системы. Вместо этого поместите корневую часть фаленопсиса в ёмкость с тёплой водой примерно на полчаса. Потом промойте корни тёплой водой из душа. Так налипший грунт уйдёт, а корни не будут травмированы. Вынимать из корневой системы остатки коры не нужно – они не мешают здоровому росту растения. Внимательно осмотрите корни на предмет заболеваний: все гнилые или засохшие корешки нужно обрезать до начала зелёных тканей, а места срезов обработать бесспиртовым антисептиком.

            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title Какие условия вы предлагаете ландшафтным дизайнерам?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, sequi tenetur assumenda ad cumque accusantium eveniet saepe minima corporis laudantium nihil nostrum ab consequuntur quo suscipit itaque sit, totam inventore?

            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title Как попасть в шоурум?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis provident harum minus necessitatibus asperiores autem aliquam libero corrupti vel voluptatum laboriosam, perspiciatis soluta? Eveniet quod quisquam deleniti libero voluptas voluptate!
            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title Какие условия вы предлагаете ландшафтным дизайнерам?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aliquid, tempora consectetur expedita facere eveniet! Doloribus recusandae facere itaque earum expedita, soluta, obcaecati rem, voluptas beatae quia odit molestias quibusdam.

            .spoiler(data-aos="fade-up")
              .spoiler__button
                .spoiler__button-inner
                  .spoiler__title Как попасть в шоурум?
                .spoiler__close
              .spoiler__dropdown
                .spoiler__dropdown-inner
                  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, corrupti? Aut rerum nam dolorum aliquid at corrupti expedita deleniti tempore error veniam, quo quia cum voluptatem libero dolorem unde aperiam.
          .faq-col(data-aos="fade-up")
            button.btn.faq-ask задать вопрос

    include ../partials/_footer.pug