extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    +header('mainHeader')

    .section.page-wrapper
      .container
        
        .lanscaping-first-screen
          
          +breadcrumbs(['озеленение', 'Готовые решения'])

          .lanscaping-first-screen__block(data-aos="fade-up")
            h1.title-h1.about-title Озеленение под ключ
            button.btn Запросить консультацию менеджера

          +footerDownload('презентация компании', 'pdf, 12 мб')

          img.lanscaping-first-screen__background(src="assets/images/full-construction-main.jpg", alt="")

        .landscaping-block-white

          .landscaping-block-white__col(data-aos="fade-up")

            .title-h3.landscaping-title--mobile Реализуем проекты любой 
              br
              |сложности, от пересадки
              br
              |растений в кашпо до фитостен и 
              br
              |вертикального озеленения.

            img(src="assets/images/full-construction-1.jpg", alt="" data-aos="fade-up")

            .landscaping-block-white__price от 5 000 ₽*

          .landscaping-block-white__col

            .title-h3.landscaping-title--desktop(data-aos="fade-up") Реализуем проекты любой 
              br
              |сложности, от пересадки
              br
              |растений в кашпо до фитостен и 
              br
              |вертикального озеленения.

            .title-h3.landscaping-title--mobile(data-aos="fade-up") Работаем с живыми, искусственными и стабилизированными растениями.

            img(src="assets/images/full-construction-2.jpg", alt="" data-aos="fade-up")

          .landscaping-block-white__col(data-aos="fade-up")

            .title-h3.landscaping-title--desktop Работаем с живыми, искусственными и стабилизированными растениями.

            .title-h3 Берем все заботы по подбору, доставке, пересадке и оформлению на себя, чтобы принести красоту, уют и гармонию в Ваше пространство.

            .landscaping-block-white__price.landscaping-title--mobile от 5 000 ₽*

        .landscaping-block-green
          .landscaping-block-green__txt

            -
              var items = [
                {
                  title: 'Индивидуальный проект',
                  desc: 'Разрабатываем дизайн проект с учётом особенностей помещения и Ваших пожеланий',
                },
                {
                  title: 'Выезд дизайнера озеленителя на объект',
                  desc: 'Знакомимся с дизайном помещения, уровнем освещения, температурным режимом, уровнем влажности, другими деталями',
                },
                {
                  title: 'Складская программа',
                  desc: 'Поставляем кашпо, растения и другие материалы напрямую из Европы или с нашего склада',
                },
                {
                  title: 'Помощь',
                  desc: 'Пересадка растений в кашпо и доставка на объект. Расстановка и декорирование по согласованному ранее проекту',
                },
                {
                  title: 'Поддержка',
                  desc: 'Послепродажное обслуживание растений',
                },
              ]

            each item in items
              .landscaping-block-green__item(data-aos="fade-up")
                .title-h4 #{item.title}
                div #{item.desc}
          .landscaping-block-green__img(data-aos="fade-up")
            img(src="assets/images/full-construction-3.jpg", alt="")

        .landscaping-numbers
            .landscaping-numbers-col(data-aos="fade-up")
              .landscaping-numbers-col__ttl 200
                br
                |проектов
              .landscaping-numbers-col__txt реализованных
            .landscaping-numbers-col(data-aos="fade-up")
              .landscaping-numbers-col__ttl 30 лет
              .landscaping-numbers-col__txt мы в теме озеленения
            .landscaping-numbers-col(data-aos="fade-up")
              .landscaping-numbers-col__ttl 50+
                br
                |специалистов
              .landscaping-numbers-col__txt в команде Green Land

        .designers-showrooms
            .ojects-projects-top(data-aos="fade-up")
              h2.ojects-projects-top__title.title-h2
                |Выполненные проекты
              a.ojects-projects-top__link(href="")
                |все проекты
                //- img(src="assets/images/objects-arrow.png", alt="")
                +allProjectsSvg
            .designers-products-filter(data-aos="fade-up")
              ul
                li.filter-tab.active-tab Входные группы
                -
                  var projects = [
                    'Атриумы',
                    'Процесс производства',
                    'Рестораны',
                  ]
                each i in projects
                  li.filter-tab
                    |#{i}

            .projects__slider.swiper-container(data-projects-slider="" data-aos="fade-up")
              .swiper-wrapper
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                        .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                        .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .projects__slider-controls
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .landscaping-contacts(data-aos="fade-up")
          .contacts-cards__ttl.title-h2 Профессионалы Green Land
          .contacts-cards
            - for (i=0; i<4; i++)
              .contacts-cards__item
                img(src="assets/images/designer-contacts-2.png", alt="")
                .contacts-cards__name Шабала Виктория
                .contacts-cards__position Менеджер по работе с дизйнерами
                //- .contacts-cards__tel 8 812 209-18-84


        .designers-form.about-mission(data-aos="fade-up")
          h2.designers-form__title.title-h2 Оставить заявку на абонемент
          .designers-form__row
            .mission__main
              .mission__slider-underlay
              .designers-form__container
                
                include ../partials/form-designer
            .about-mission__img.designers-form__imgs
              img(src="assets/images/designer-form-1.jpg", alt="")
              img(src="assets/images/designer-form-2.jpg", alt="")

    include ../partials/_footer.pug