extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['История'])

        h1.title-h1.about-title История

        .about-tabs
          a.about-tabs__item(href="") О компании
          a.about-tabs__item.about-tabs__item--active(href="") История
          a.about-tabs__item(href="") Бренды

        .history-desc
          .history-desc__main
            |Green Land 
            span в 1989 году начинала свой путь 
            |с торговли срезанными цветами, горшечными растениями, горшками и кашпо для массового потребителя. Но 
            span горшки для нас — это не просто емкость для растений, а предметы интерьера.
          .history-desc__item
            |Именно это подтолкнуло компанию 
            span к развитию и расширению ассортимента
            |. Мы расширили наш бизнес 
            span с упором на дизайнерское озеленение
            |.
          .history-desc__item
            |Сейчас мы не просто торговая компания, 
            span мы помогаем нашим клиентам и партнерам раскрывать потенциал пространства через озеленение, 
            |предлагая широкий ассортимент товара, а также консультации по дизайну интерьера и озеленению пространства.

        .history-years

          .history-years__row

            .history-years__item
              .history-years__year 1989
              .history-years__arrow
              .history-years__desc В 1989-м году на потребительский рынок Ленинграда выходит компания Green Land, специализирующаяся на продаже свежесрезанных цветов и горшечных растений. Основатель бизнеса - Александр Гущин - делает ставку на необычное: продукция доставляется напрямую из Европы.

            .history-years__item
              .history-years__year 1993
              .history-years__arrow
              .history-years__desc Вскоре деятельность Green Land оказывается настолько успешной, что у петербуржцев появляются запросы на цветы: метровые розы и диковинные орхидеи компания начинает возить фурами.

            .history-years__item
              .history-years__year 1998
              .history-years__arrow.arrow-mobile
              .history-years__desc Дефолт 1998 года вносит свои корректировки в бизнес, продажу свежесрезанных цветов и горшечных растений приходится остановить.

          .history-years__row

            .history-years__year 2000
            .history-years__arrow
            .history-years__year 2019

            .history-years__list
              ul
                li.history-years__list--active 2002
                li 2004
                li 2005
                li 2008
                li 2010
                li 2012
                li 2014
                li 2016
                li 2017
                li 2018
                li 2029
              .history-years__list-desc Год трансформации компании. Место генерального директора занимает Оксана Гущина, а в ассортименте появляются вазы, свечи, цветочные горшки, кашпо и вазоны.

          .history-years__row

            .history-years__item
              .history-years__year 2020
              .history-years__arrow
              .history-years__desc Компания запускает собственный бренд кашпо – бренд Green Land, который в считаные месяцы становится бестселлером продаж.
                br
                |Достигнув многого, Green Land продолжает двигаться к целям и большим результатам. Поэтому 2020 года были сформулировали новые стандарты работы, объединенные в концепцию “Добавим зелень!”. Данная бизнес-стратегия предполагает, что Green Land берет на себя роль компании, задающей высокие стандарты озеленения с акцентом на бережное отношение к окружающей среде.

            .history-years__item
              .history-years__year 2021
              .history-years__arrow.arrow-mobile
              .history-years__desc Компания запускает собственный бренд кашпо – бренд Green Land, который в считаные месяцы становится бестселлером продаж.
                br
                |Достигнув многого, Green Land продолжает двигаться к целям и большим результатам. Поэтому 2020 года были сформулировали новые стандарты работы, объединенные в концепцию “Добавим зелень!”. Данная бизнес-стратегия предполагает, что Green Land берет на себя роль компании, задающей высокие стандарты озеленения с акцентом на бережное отношение к окружающей среде.

        a.about-history(href="")
          .title-h3 Бренды
          .about-history__circle
            img(src="assets/images/about-history-arrow.svg" alt="")


    include ../partials/_footer.pug