extends ../layouts/master.pug

block header

block content
  .pages
    -
      var pages = [
        {
          href: 'main.html',
          title: 'Главная',
        },
        {
          href: 'about.html',
          title: 'О компании',
        },
        {
          href: 'history.html',
          title: '[О компании] История',
        },
        {
          href: 'brands.html',
          title: '[О компании] Бренды',
        },
        {
          href: 'conditions-designers.html',
          title: '[Работа с нами] Дизайнеры',
        },
        {
          href: 'conditions-objects.html',
          title: '[Работа с нами] Объекты',
        },
        {
          href: 'conditions-distributor.html',
          title: '[Работа с нами] Дистрибьютеры',
        },
        {
          href: 'career.html',
          title: 'Карьера',
        },
        {
          href: 'news.html',
          title: 'Новости',
        },
        {
          href: 'news-page.html',
          title: 'Детальная новость',
        },
        {
          href: 'blog.html',
          title: 'Блог',
        },
        {
          href: 'blog-page.html',
          title: 'Детальный блог',
        },
        {
          href: 'projects.html',
          title: 'Проекты',
        },
        {
          href: 'project-page.html',
          title: 'Детальный проект',
        },
        {
          href: 'delivery.html',
          title: '[Клиентам] Доставка',
        },
        {
          href: 'payment.html',
          title: '[Клиентам] Оплата',
        },
        {
          href: 'refund.html',
          title: '[Клиентам] Возврат',
        },
        {
          href: 'faq.html',
          title: 'Вопрос-ответ',
        },
        {
          href: 'contacts.html',
          title: 'Контакты',
        },
        {
          href: 'compare.html',
          title: 'Сравнение',
        },
        {
          href: 'searching-results.html',
          title: 'Результаты поиска',
        },
        {
          href: 'landscaping.html',
          title: 'Озеленение',
        },
        {
          href: 'ready-solutions.html',
          title: '[Озеленение] Готовые решение',
        },
        {
          href: 'actions.html',
          title: 'Акции',
        },
        {
          href: 'action-page.html',
          title: 'Детальная акция',
        },
        {
          href: 'action-page-1.html',
          title: 'Детальная акция 2',
        },
      ];
    .main__wrap
      .section
        .container
          ol
            each page in pages
              li.margin20
                a.btn.cover__btn(href=page.href)
                  |#{page.title}

