extends ../layouts/master.pug

block header

block content
  .pages
    -
      var pages = [
        {
          href: 'main',
          title: 'Главная',
        },
        {
          href: 'about',
          title: 'О компании',
        },
        {
          href: 'history',
          title: '[О компании] История',
        },
        {
          href: 'brands',
          title: '[О компании] Бренды',
        },
        {
          href: 'career',
          title: 'Карьера',
        },
        {
          href: 'conditions-designers',
          title: '[Работа с нами] Дизайнеры',
        },
        {
          href: 'conditions-objects',
          title: '[Работа с нами] Объекты',
        },
        {
          href: 'conditions-distributor',
          title: '[Работа с нами] Дистрибьютеры',
        },
        {
          href: 'news',
          title: 'Новости',
        },
        {
          href: 'news-page',
          title: 'Детальная новость',
        },

        {
          href: 'projects',
          title: 'Проекты',
        },
        {
          href: 'project-page',
          title: 'Детальный проект',
        },

        {
          href: 'blog',
          title: 'Блог',
        },
        {
          href: 'blog-page',
          title: 'Детальный блог',
        },
        
        {
          href: 'delivery',
          title: '[Клиентам] Доставка',
        },
        {
          href: 'payment',
          title: '[Клиентам] Оплата',
        },
        {
          href: 'refund',
          title: '[Клиентам] Возврат',
        },
        {
          href: 'faq',
          title: 'Вопрос-ответ',
        },
        {
          href: 'contacts',
          title: 'Контакты',
        },
        {
          href: 'compare',
          title: 'Сравнение',
        },
        {
          href: 'searching-results',
          title: 'Результаты поиска',
        },
        {
          href: 'landscaping',
          title: 'Озеленение',
        },
        {
          href: 'ready-solutions',
          title: '[Озеленение] Готовые решения',
        },
        {
          href: 'abonements',
          title: '[Озеленение] Абонементы',
        },
        {
          href: 'full-construction',
          title: '[Озеленение] Озеленение под ключ',
        },
        {
          href: 'type-page',
          title: '[Озеленение] Типовая страница',
        },
        {
          href: 'actions',
          title: 'Акции',
        },
        {
          href: 'action-page',
          title: 'Детальная акция',
        },
        {
          href: 'action-page-1',
          title: 'Детальная акция 2',
        },
      ];
    .main__wrap
      .section
        .container
          ol.main-links
            each page in pages
              li
                a.btn(href=page.href)
                  |#{page.title}

