extends ../layouts/master.pug

block header

block content
  .pages
    -
      var pages = [
        {
          href: 'main.html',
          title: 'Главная',
        },
        {
          href: 'about.html',
          title: 'О компании',
        },
        {
          href: 'history.html',
          title: '[О компании] История',
        },
        {
          href: 'brands.html',
          title: '[О компании] Бренды',
        },
        {
          href: 'conditions-designers.html',
          title: '[Работа с нами] Дизайнеры',
        },
        {
          href: 'brands.html',
          title: '[Работа с нами] Объекты',
        },
        {
          href: 'brands.html',
          title: '[Работа с нами] Дистрибьютеры',
        },
      ];
    .main__wrap
      .section
        .container
          ol
            each page in pages
              li.margin50
                a.btn.cover__btn(href=page.href)
                  |#{page.title}

