extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

      .section.page-wrapper
        .container
          .designers-form.about-mission
            h2.designers-form__title 
              |Оставить заявку на подбор композиции #[br] для вашего проекта
            .mission__slide
              .mission__main
                .mission__slider-underlay
                .designers-form__container
                  form.designers-form__form
                    label.designers-form__label
                      input.designers-form__input(placeholder="Имя")
                    label.designers-form__label
                      input.designers-form__input(placeholder="E-mail")
                    label.designers-form__label
                      input.designers-form__input(placeholder="Телефон")
                    label.designers-form__checkbox
                      input(type="checkbox"  id="checkbox")
                      .checkbox
                      .designers-form__checkbox-txt Я соглашаюсь на обработку
                        br
                        a(href="") персональных данных
                    button.btn.cover__btn(type="submit") отправить
              .about-mission__img.designers-form__imgs
                img(src="assets/images/designer-form-1.jpg", alt="")
                img(src="assets/images/designer-form-2.jpg", alt="")
          .designers-showrooms
            h3.designers-showrooms__title
              |Шоу-румы в Москве и Санкт-Петербурге — 
              br
              |возможность 
            .designers-products-filter
              ul
                //- -
                //-   var items = [
                //-     'Шоу-рум',
                //-     'Упаковка продукции',
                //-   ]
                //- each item in items
                //-   li.designers-products-filter__item
                //-     |#{item}

                li.filter-tab.active-tab Шоу-рум
                li.filter-tab Упаковка продукции
            .projects__slider.swiper-container(data-projects-slider="")
              .swiper-wrapper
                - for (i=0; i<3; i++)
                  .swiper-slide.projects__slide
                    .projects__item
                      .projects__item-slider(data-fade-item-slider="")
                        .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                          img.projects__item-img.is-active(src=`assets/images/projects__item-img-${i + 1}.jpg`, alt="", data-fade-item-slider-item="")
              .projects__slider-controls
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")
          .designers-products
            .section__top
              h2.beta
                |Вы смотрели 
              .designers-products__controls(data-catalog-slider-controls="")
                .arrows.cover__slider-arrows
                  +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-catalog-slider-prev="")
                  +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-catalog-slider-next="")
            .designers-products__catalog
              .swiper-container(data-catalog-slider="")
                .swiper-wrapper
                  - for (i=0; i<5; i++)
                    .catalog-card.swiper-slide
                      .catalog-card__labels
                        .catalog-card__labels-item Скидки
                        .catalog-card__labels-item Новинки
                      .catalog-card__top
                        .catalog-card__layer
                          .catalog-card__pagination
                            .catalog-card__pagination-item
                            .catalog-card__pagination-item
                            .catalog-card__pagination-item
                            .catalog-card__pagination-item
                          .catalog-card__buttons
                            button.catalog-card__buttons-item
                              img(src="assets/images/catalog-buttons-1.svg", alt="")
                            button.catalog-card__buttons-item
                              img(src="assets/images/catalog-buttons-2.svg", alt="")
                        img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                      a.catalog-card__bottom(href="")
                        .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                        .catalog-card__color Серебро
                        .catalog-card__price 5 292 ₽
          
    include ../partials/_footer.pug