extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

      .section.page-wrapper
        .container
          +breadcrumbs(['озеленение'])

          h1.title-h1.about-title озеленение


          .about-mission
          
            .mission__slide.landscaping-blockquote
              .mission__main
                .mission__slider-underlay
                h3.title-h3.mission__heading
                  |Реализуем красоту и гармонию
                  br
                  |через раскрытие потенциала
                  br
                  |общественных пространств

                  span.landscaping-blockquote__italic Входные группы, террасы, офисы, общественные места.
                
              img.about-mission__img(src="assets/images/landscaping-1.jpg" alt="")

          .landscaping-cards
            .landscaping-cards__top
              .landscaping-cards__title
                |Green Land — 
                span эксперты 
                |в дизайнерском
                br
                |озеленении 
                span более 15 лет
              .landscaping-cards__subtitle
                |Трансформируем общественные места 
                br
                |в приятные, гармоничные, безопасные.

            .landscaping-cards-item
              .landscaping-cards-item__count 1
              .landscaping-cards-item__ttl Озеленение под ключ
              img(src="assets/images/landscaping-card-1.jpg", alt="")
              
            .landscaping-cards-item
              .landscaping-cards-item__count 2
              .landscaping-cards-item__ttl Абонементы на уход за растениями
              img(src="assets/images/landscaping-card-2.jpg", alt="")
              
            .landscaping-cards-item
              .landscaping-cards-item__count 3
              .landscaping-cards-item__ttl Готовые решения
              img(src="assets/images/landscaping-card-3.jpg", alt="")

          .landscaping-solutions
            .landscaping-solutions__ttl.title-h2 Индивидуальные решения
            -
              const items = [
                'Искусственные растения',
                'Вертикальное озеленение: зелёные стены и фитомодули',
                'Озеленение бизнес центров и офисов',
                'Озеленение гостиниц и мини-отелей',
                'Озеленение ресторанов и кафе',
                'Озеленение летних террас',
                'Озеленение торговых комплексов',
                'Озеленение фитнес-центров и SPA-салонов',
              ]

            each item in items
              a.landscaping-solutions__item(href="")
                |#{item}
                img(src="assets/images/icons/lanscape-arrow.svg", alt="")

            .landscaping-solutions__bottom
              button.landscaping-solutions__button
                |показать все

          .landscaping-stages
            .landscaping-stages__ttl.title-h2 Как мы это делаем

            .landscaping-stages-item
              .landscaping-stages-item__count 1
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Консультация
                .landscaping-stages-item__txt Обсуждаем ваши потребности и договоримся о встрече

            .landscaping-stages-item
              .landscaping-stages-item__count 2
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Выезд дизайнера
                .landscaping-stages-item__txt Дизайнеры — озеленители с 15 летним опытом работы приедут к Вам на объект, оценят технические условия, температурный режим и освещение. Подберем растения, которые будут прекрасно себя чувствовать и радовать посетителей в течении долгих лет.

            .landscaping-stages-item
              .landscaping-stages-item__count 3
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Подбор вариантов решений
                .landscaping-stages-item__txt Учитываем все пожелания, корпоративный стиль и дизайн помещения. Готовим дизайн проект, что бы Вы могли наглядно увидеть, как это будет выглядеть.

            .landscaping-stages-item
              .landscaping-stages-item__count 4
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Договор
                .landscaping-stages-item__txt Заключаем договор, чтобы вы были спокойны.

            .landscaping-stages-item
              .landscaping-stages-item__count 5
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Реализация
                .landscaping-stages-item__txt Привезем, пересадим и расставим на объекте согласно проект.

            .landscaping-stages-item
              .landscaping-stages-item__count 6
              .landscaping-stages-item__col
                .landscaping-stages-item__ttl Поддержка
                .landscaping-stages-item__txt В дальнейшем возьмем заботы по уходу за Вашими зелеными питомцами на себя.

          .landscaping-pics
            .landscaping-pics__col1
              img(src="assets/images/landscaping-pic-1.jpg", alt="")
            .landscaping-pics__col2
              img(src="assets/images/landscaping-pic-2.jpg", alt="")

          .designers-showrooms
            .ojects-projects-top
              h2.ojects-projects-top__title.title-h2
                |Выполненные проекты
              a.ojects-projects-top__link(href="")
                |все проекты
                img(src="assets/images/objects-arrow.png", alt="")
            .designers-products-filter
              ul
                li.filter-tab.active-tab Входные группы
                -
                  var projects = [
                    'Атриумы',
                    'Процесс производства',
                    'Рестораны',
                  ]
                each i in projects
                  li.filter-tab
                    |#{i}

            .projects__slider.swiper-container(data-projects-slider="")
              .swiper-wrapper
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                        .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                        .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                        .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                    .projects__item-caption
                      .epsilon.projects__item-name Отель Crowne Plaza
                      .projects__item-tags
                        .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                        .projects__item-tag.text__super-tn.text--uppercase Террасы
                        .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .projects__slider-controls
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
                .projects-controls-container
                  +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

          .landscaping-numbers
            .landscaping-numbers-col
              .landscaping-numbers-col__ttl 200
                br
                |проектов
              .landscaping-numbers-col__txt реализованных
            .landscaping-numbers-col
              .landscaping-numbers-col__ttl 30 лет
              .landscaping-numbers-col__txt мы в теме озеленения
            .landscaping-numbers-col
              .landscaping-numbers-col__ttl 50+
                br
                |специалистов
              .landscaping-numbers-col__txt в команде Green Land

          .landscaping-contacts
            .contacts-cards__ttl.title-h2 Профессионалы Green Land
            .contacts-cards
              - for (i=0; i<4; i++)
                .contacts-cards__item
                  img(src="assets/images/designer-contacts-2.png", alt="")
                  .contacts-cards__name Шабала Виктория
                  .contacts-cards__position Менеджер по работе с дизйнерами
                  .contacts-cards__tel 8 812 209-18-84

          .designers-form.about-mission
            h2.designers-form__title.title-h2 Оставить заявку на вызов дизайнера
            .mission__slide
              .mission__main
                .mission__slider-underlay
                .designers-form__container
                  form.designers-form__form(data-parsley-validate)
                    label.designers-form__label
                      input.designers-form__input(placeholder="Имя" data-parsley-required)
                    label.designers-form__label
                      input.designers-form__input(placeholder="E-mail" required)
                    label.designers-form__label
                      input.designers-form__input(placeholder="Телефон" required)
                    label.designers-form__checkbox
                      input(type="checkbox"  id="checkbox")
                      .checkbox
                      .designers-form__checkbox-txt Я соглашаюсь на обработку
                        br
                        a(href="") персональных данных
                    button.btn.cover__btn(type="submit") отправить
              .about-mission__img.designers-form__imgs
                img(src="assets/images/designer-form-1.jpg", alt="")
                img(src="assets/images/designer-form-2.jpg", alt="")
          
    include ../partials/_footer.pug