extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Выполненные заказы'])

        h1.title-h1.about-title Выполненные заказы

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item Выйти

          .lk-main

            .lk-table
              .lk-table__top

                .lk-table__col Номер заказа
                .lk-table__col Дата заказа
                .lk-table__col Статус
                .lk-table__col Адрес доставки
                .lk-table__col сумма

              - for (i=0; i<2; i++)
                .lk-table__row
                  .lk-table__col 5523456
                  .lk-table__col 29.05.2021
                  .lk-table__col Сборка заказа
                  .lk-table__col 192252 Санкт-Петербург. пр. Луначарского д. 19
                  .lk-table__col
                    div 5 292 ₽
                    button.lk-table__repeat повторить заказ
                    
                .lk-table__row
                  .lk-table__col 5523456
                  .lk-table__col 29.05.2021
                  .lk-table__col Отправлен
                  .lk-table__col 192252 Санкт-Петербург. пр. Луначарского д. 19
                  .lk-table__col
                    div 5 292 ₽
                    button.lk-table__repeat повторить заказ

    include ../partials/_footer.pug