extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Изменить пароль'])

        h1.title-h1.about-title Изменить пароль

        .lk-mobile-menu
          .lk-mobile-menu__ttl Мой кабинет
          .lk-mobile-menu__cross

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item Выйти

          .lk-main

            form.lk-password
              label
                span Текущий пароль
                input(type="password" placeholder="Текущий пароль")
              
              label
                span Новый пароль
                input(type="password" placeholder="Новый пароль")
              
              label
                span Подтвердить пароль
                input(type="password" placeholder="Подтвердить пароль")

              button.btn сохранить изменения

              button.lk-password-restore Восстановить пароль

    include ../partials/_footer.pug