extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['РЕДАКТИРОВАТЬ ПРОФИЛЬ'])

        h1.title-h1.about-title РЕДАКТИРОВАТЬ ПРОФИЛЬ

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item Выйти

          .lk-main

            .lk-profile-top
              .lk-profile-top__item
                .lk-profile-top__ttl Ваш статус
                .lk-profile-top__value Юридическое лицо
              .lk-profile-top__item
                .lk-profile-top__ttl Уровень цен
                .lk-profile-top__value 3

            .lk-profile-info

              - for (i=0; i<10; i++)
                .lk-profile-info__item
                  |Кирилл

    include ../partials/_footer.pug