extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Выполненные заказы', 'Заказ № 5523456'])

        h1.title-h1.about-title(data-aos="fade-up") Заказ № 5523456

        .lk-mobile-menu(data-aos="fade-up")
          .lk-mobile-menu__ttl Мой кабинет
          .lk-mobile-menu__cross

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item(data-aos="fade-up") Выйти

          .lk-main
            .lk-order-top
              .lk-order-top__item(data-aos="fade-up")
                .lk-order-top__ttl Дата заказа
                .lk-order-top__value 16.04.2021
              .lk-order-top__item(data-aos="fade-up")
                .lk-order-top__ttl Дата отправки
                .lk-order-top__value 16.04.2021
              .lk-order-top__item(data-aos="fade-up")
                .lk-order-top__ttl Сумма заказа
                .lk-order-top__value 12 540 ₽

            .favorites-table.lk-order-list
              .favorites-table__top(data-aos="fade-up")

                .favorites-table__col
                .favorites-table__col товар
                .favorites-table__col
                .favorites-table__col количество
                .favorites-table__col цена

              - for (i=0; i<3; i++)
                .favorites-table__row(data-aos="fade-up")
                  .favorites-table__col
                    img.favorites-table__img(src="assets/images/catalog-1.png", alt="")

                  a.favorites-table__col(href="")
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки

                    //- .spoiler__close

                    .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                    .catalog-card__color Серебро
                    .catalog-card__small Артикул: 13410

                  .favorites-table__col
                    .favorites-table__col-ttl параметры
                    p Высота, см: 
                      b 7.7
                    p Диаметр, см: 
                      b 13.7
                    p Вес, кг: 
                      b 2.7

                  .favorites-table__col.basket-btn-row
                    .favorites-table__col-ttl количество

                    //- button.basket-btn-minus
                    .basket-item-count 3
                    //- button.basket-btn-plus

                  .favorites-table__col.favorites-table__col--sm
                    .favorites-table__col-ttl стоимость
                    .favorites-table__price-old 7 200 ₽
                    .favorites-table__price 5 292 ₽

            button.lk-repeat-order(data-aos="fade-up") повторить заказ

            .lk-delivery-info
              .lk-delivery-info__ttl.title-h4 Информация о доставке

              -
                var items = [
                  {
                    name: 'Адрес доставки',
                    value: '192252 Санкт-Петербург. Пр. Луначарского д. 19',
                  },
                  {
                    name: 'Кому',
                    value: 'Щербаков Кирилл Владимирович',
                  },
                  {
                    name: 'Телефон',
                    value: '+7 (911) 286-25-63',
                  },
                  {
                    name: 'Способ оплаты',
                    value: 'Курьером наличными',
                  },
                  {
                    name: 'Способ доставки',
                    value: 'Самовывоз с точки выдачи',
                  },
                ]

              each item in items
                .lk-delivery-info__item(data-aos="fade-up")
                  .lk-delivery-info__name #{item.name}
                  .lk-delivery-info__value #{item.value}

            a.news-back-link(href="")
              button.arrow
                +arrowBtn
              |Вернуться к списку заказов

    include ../partials/_footer.pug