extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['РЕДАКТИРОВАТЬ ПРОФИЛЬ'])

        h1.title-h1.about-title Видео-курс по работе с розничными покупателями

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item Выйти

          .lk-main
            .lk-videos
              .lk-videos__item
                img(src="assets/images/lk-video-1.jpg", alt="")
                .lk-videos__count Урок 1
                .lk-videos__ttl.p_large Работа с глиной
              .lk-videos__item
                img(src="assets/images/lk-video-1.jpg", alt="")
                .lk-videos__count Урок 2
                .lk-videos__ttl.p_large Как помочь заказчику, который не знает, что выбрать
              .lk-videos__item
                img(src="assets/images/lk-video-1.jpg", alt="")
                .lk-videos__count Урок 3
                .lk-videos__ttl.p_large Работа с малыми архитектурными формами
              .lk-videos__item
                img(src="assets/images/lk-video-1.jpg", alt="")
                .lk-videos__count Урок 4
                .lk-videos__ttl.p_large Работа с кермикой

    include ../partials/_footer.pug