extends ../layouts/master.pug

block cover
  include ../partials/modal-cover.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="" data-header-transparent='')

    +header('mainHeader')

    include ../partials/_cover.pug

    include ../partials/_mission.pug

    include ../partials/_conditions.pug

    include ../partials/_projects.pug

    include ../partials/_blog.pug

    include ../partials/_news.pug

    include ../partials/_footer.pug
