extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap.main__wrap--visible(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо', 'Пластиковые горшки и кашпо', 'Уличный вазон KATO'])

        .product-card-top
          .product-card-gallery
            .product-card-gallery__column.swiper-container

              button.swiper-button-prev
                +arrowSpoiler

              .swiper-wrapper

                .swiper-slide.product-card-gallery__item
                  img(src="assets/images/catalog-1.png", alt="")

                .swiper-slide.product-card-gallery__item
                  img(src="assets/images/catalog-1.png", alt="")

                .swiper-slide.product-card-gallery__item
                  img(src="assets/images/catalog-1.png", alt="")

                .swiper-slide.product-card-gallery__item
                  img(src="assets/images/catalog-1.png", alt="")

              button.swiper-button-next
                +arrowSpoiler

            .product-card-gallery__main.swiper-container

              .catalog-card__buttons
                button.catalog-card__buttons-item
                  +cardSettingsBtn
                button.catalog-card__buttons-item
                  +cardFavoriteBtn

              .swiper-wrapper
                .swiper-slide
                  img(src="assets/images/catalog-1.png", alt="")
                .swiper-slide
                  img(src="assets/images/catalog-1.png", alt="")
                .swiper-slide
                  img(src="assets/images/catalog-1.png", alt="")
                .swiper-slide
                  img(src="assets/images/catalog-1.png", alt="")

          .product-card-info

            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки

            h1.title-h1.about-title Высокое напольное кашпо MUSCHEL

            .product-card-info__row1
              .product-card-info__item
                span цвет
                span Terracotta

              .product-card-info__item
                span бренд
                span
                  |Pottery Pots
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

              .product-card-info__item
                span материалы
                span
                  |Файбергласс
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

              .product-card-info__item
                span Страна
                span
                  |Нидерланды
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

              .product-card-info__item
                span серия
                span
                  |Hi-Tech
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

              .product-card-info__item
                span Крепление
                span
                  |Напольное
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

                span
                  |Универсальное
                  .basket-tooltip
                    +tooltipIco
                    .tooltip Температура хранения изделия: -30°C + 60°C. Отличный уровень сервиса, оперативная доставка

            .product-card-info__row2
              .product-card-info__col
                .product-card-info__item
                  img(src="assets/images/icons/product-about-1.svg", alt="")
                  |Морозостойкая
                .product-card-info__item
                  img(src="assets/images/icons/product-about-2.svg", alt="")
                  |Ударопрочная
                .product-card-info__item
                  img(src="assets/images/icons/product-about-3.svg", alt="")
                  |Устойчив к осадкам
                .product-card-info__item
                  img(src="assets/images/icons/product-about-4.svg", alt="")
                  |Устойчивость к ультрофилету

              .product-card-info__col
                a(href="") Особые условия для
                  br
                  |юридических лиц
                a(href="") Условия оплаты
                a(href="") Условия доставки

            .product-card-info__tabs
              .product-card-info__item Советуем использовать
              .product-card-info__item Правила эксплуатации
              .product-card-info__item Визуальная размерность

            .product-card-info__col.only-mobile
                a(href="") Особые условия для юридических лиц
                a(href="") Условия оплаты
                a(href="") Условия доставки

            .product-card-buttons

              .product-card-buttons__container
                button.btn-white купить в 1 клик
                button.btn
                  +basketIco
                  |в корзину

              .catalog-card__buttons
                button.catalog-card__buttons-item
                  +cardSettingsBtn
                button.catalog-card__buttons-item
                  +cardFavoriteBtn
              

        .product-card-body

          .product-card-aside

            .product-card-links
              .product-card-links__item
                a(href="") Размеры
              .product-card-links__item
                a(href="") С этим покупают
              .product-card-links__item.is-active
                a(href="") Описание
              .product-card-links__item
                a(href="") Реализовано в проектах
              .product-card-links__item
                a(href="") Задать вопрос

          .product-card-main

            .product-card-size
              h3.title-h3 размеры

              .product-size-table
                .product-size-top
                  .product-size-code артикул
                  .product-size-col Диаметр, см
                  .product-size-col Высота, см
                  .product-size-col Вес, кг
                  .product-size-col наличие
                  .product-size-price цена
                  .product-size-button

                - for (i=0; i<5; i++)
                  .product-size-row
                    .product-size-code
                      .product-size-col__mob-ttl Артикул
                      |TC 316 040Т
                    .product-size-col
                      .product-size-col__mob-ttl Диаметр, см
                      |37
                    .product-size-col
                      .product-size-col__mob-ttl Высота, см
                      |30
                    .product-size-col
                      .product-size-col__mob-ttl Вес, кг
                      |2
                    .product-size-col
                      .product-size-col__mob-ttl Наличие
                      |В наличии
                    .product-size-price
                      .product-size-col__mob-ttl Цена
                      .favorites-table__price-old 7 200 ₽
                      .favorites-table__price 5 292 ₽
                    .product-size-button
                      button.btn
                        +basketIco
                        |в корзину
          
            .product-card-recommend.designers-products
              .designers-products__top
                h3.title-h3
                  |С этим покупают
                .designers-products__controls(data-catalog-slider-controls="")
                  .arrows.cover__slider-arrows
                    +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-catalog-slider-prev="")
                    +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-catalog-slider-next="")
              .designers-products__catalog
                .swiper-container(data-catalog-slider="")
                  .swiper-wrapper
                    - for (i=0; i<5; i++)
                      .catalog-card.swiper-slide
                        .catalog-card__labels
                          .catalog-card__labels-item Скидки
                          .catalog-card__labels-item Новинки
                        .catalog-card__top
                          .catalog-card__layer
                            .catalog-card__pagination
                              .catalog-card__pagination-item
                              .catalog-card__pagination-item
                              .catalog-card__pagination-item
                              .catalog-card__pagination-item
                            .catalog-card__buttons
                              button.catalog-card__buttons-item
                                +cardSettingsBtn
                              button.catalog-card__buttons-item
                                +cardFavoriteBtn
                          img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                        a.catalog-card__bottom(href="")
                          .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                          .catalog-card__color Серебро
                          .catalog-card__price 5 292 ₽
                          .catalog-card__buttons
                            button.catalog-card__buttons-item
                              +cardSettingsBtn
                            button.catalog-card__buttons-item
                              +cardFavoriteBtn

            .product-card-desc
              h3.title-h3 Описание

              .product-card-txt
                p Горшок для цветов - это не только емкость для размещения растения, но и предмет дизайна, украшение, а иногда и мебель или даже светильник. Правильно подобранные цветочные кашпо моментально преобразят помещение или ландшафт, в зависимости от поставленной задачи добавят ярких красок или, наоборот, сольются с окружающей средой, предоставив растениям возможность выйти на первый план.
                p В нашем каталоге представлен широкий ассортимент цветочных горшков и кашпо - различные материалы, размеры и формы, функция автополива. Вы можете выбрать подходящее кашпо самостоятельно, или наши менеджеры подберут варианты для вас.

              .product-card-tags
                .product-card-tags__ttl Найти по тегам
                .product-card-tags__item #для улицы
                .product-card-tags__item #для САДА
                .product-card-tags__item #для офиса
                .product-card-tags__item #для интерьера
                .product-card-tags__item #для КВАРТИРЫ
                .product-card-tags__item #для БАЛКОНА

              .product-desc-controls(data-product-desc-controls="")
                  .projects-controls-container
                    +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-product-desc-prev="")
                  .projects-controls-container
                    +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-product-desc-next="")

              .product-desc-slider.swiper-container(data-product-desc-slider="")
                .swiper-wrapper
                  .swiper-slide
                    img(src="assets/images/product-card-1.jpg", alt="")
                  .swiper-slide
                    img(src="assets/images/product-card-2.jpg", alt="")


            .designers-showrooms.product-projects
              .ojects-projects-top
                h2.ojects-projects-top__title.title-h2
                  |Реализовано в проектах
                a.ojects-projects-top__link(href="")
                  |все проекты
                  //- img(src="assets/images/objects-arrow.png", alt="")
                  +allProjectsSvg

                .projects__slider-controls(data-product-projects-controls="")
                  .projects-controls-container
                    +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-product-projects-prev="")
                  .projects-controls-container
                    +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-product-projects-next="")

              

              .projects__slider.swiper-container(data-product-projects-slider="")
                .swiper-wrapper
                  .swiper-slide.projects__slide
                    .projects__item
                      .projects__item-slider(data-fade-item-slider="")
                        .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                          img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        .bullets.projects__item-slider-bullets
                          .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .projects__item-caption
                        .epsilon.projects__item-name Отель Crowne Plaza
                        .projects__item-tags
                          .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                          .projects__item-tag.text__super-tn.text--uppercase Террасы
                          .projects__item-tag.text__super-tn.text--uppercase Входные группы
                  .swiper-slide.projects__slide
                    .projects__item
                      .projects__item-slider(data-fade-item-slider="")
                        .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                          img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                        .bullets.projects__item-slider-bullets
                          .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .projects__item-caption
                        .epsilon.projects__item-name Отель Crowne Plaza
                        .projects__item-tags
                          .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                          .projects__item-tag.text__super-tn.text--uppercase Террасы
                          .projects__item-tag.text__super-tn.text--uppercase Входные группы
                  .swiper-slide.projects__slide
                    .projects__item
                      .projects__item-slider(data-fade-item-slider="")
                        .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                          img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                          img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                        .bullets.projects__item-slider-bullets
                        .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                          .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .projects__item-caption
                        .epsilon.projects__item-name Отель Crowne Plaza
                        .projects__item-tags
                          .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                          .projects__item-tag.text__super-tn.text--uppercase Террасы
                          .projects__item-tag.text__super-tn.text--uppercase Входные группы
                


            .designers-contacts.product-card-contacts
              .designers-contacts__top
                h3.designers-contacts__title.title-h3 Задать Вопрос

              .designers-contacts__row
                .designers-contacts__card
                  .designers-contacts__img
                    img(src="assets/images/designer-contacts-1.png", alt="")
                  .designers-contacts__desc
                    .designers-contacts__name Стасенко Виктор
                    .designers-contacts__position Специалист по работе с розничными покупателями
                    .designers-contacts__contacts
                      span.designers-contacts__tel 8 812 209-18-84
                      span ga@green-land.ru

                    .contacts-btn.btn-white
                      |обратная связь
                    
                .product-contact-col

                  p Если нужна помощь в подборе продукции, вы можете позвонить нам или оставить заявку на обратный звонок

                  button.btn обратный звонок

                  .designers-contacts__links
                    .designers-contacts__links-txt
                      |Написать в соц. сетях
                    .footer__socials
                      a.footer__socials-link(href="")
                        +fbIcon
                      a.footer__socials-link(href="")
                        +vkIcon
                      a.footer__socials-link(href="")
                        +instIcon
                      a.footer__socials-link(href="")
                        +houzzIcon

        include ../partials/you-watched


    include ../partials/_footer.pug