extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо', 'Пластиковые горшки и кашпо', 'Уличный вазон KATO'])

        

        .product-card-top
          .product-card-gallery
            .product-card-gallery__column
              .product-card-gallery__item
                img(src="assets/images/catalog-1.png", alt="")
              .product-card-gallery__item
                img(src="assets/images/catalog-1.png", alt="")
              .product-card-gallery__item
                img(src="assets/images/catalog-1.png", alt="")
              .product-card-gallery__item
                img(src="assets/images/catalog-1.png", alt="")

            .product-card-gallery__main
              img(src="assets/images/catalog-1.png", alt="")

          .product-card-info

            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки

            h1.title-h1.about-title Высокое напольное кашпо MUSCHEL

            .product-card-info__row1
              .product-card-info__item
                span цвет
                span Terracotta

              .product-card-info__item
                span бренд
                span Pottery Pots

              .product-card-info__item
                span цвет
                span Terracotta

              .product-card-info__item
                span бренд
                span Pottery Pots

              .product-card-info__item
                span цвет
                span Terracotta

              .product-card-info__item
                span бренд
                span Pottery Pots

            .product-card-info__row2
              .product-card-info__col
                .product-card-info__item
                  img(src="assets/images/icons/product-about-1.svg", alt="")
                  |Морозостойкая
                .product-card-info__item
                  img(src="assets/images/icons/product-about-2.svg", alt="")
                  |Ударопрочная
                .product-card-info__item
                  img(src="assets/images/icons/product-about-3.svg", alt="")
                  |Устойчив к осадкам
                .product-card-info__item
                  img(src="assets/images/icons/product-about-4.svg", alt="")
                  |Устойчивость к ультрофилету

              .product-card-info__col
                a(href="") Особые условия для юридических лиц
                a(href="") Условия оплаты
                a(href="") Условия доставки

            .product-card-info__tabs
              .product-card-info__item Советуем использовать
              .product-card-info__item Правила эксплуатации
              .product-card-info__item Визуальная размерность

            .product-card-buttons
              button.btn-white купить в 1 клик
              button.btn
                +basketIco
                |в корзину

        .product-card-body

          .product-card-aside

          .product-card-main

            .product-card-size
              h3.title-h3 размеры

              .product-size-table
                .product-size-top
                  .product-size-code артикул
                  .product-size-col Диаметр, см
                  .product-size-col Высота, см
                  .product-size-col Вес, кг
                  .product-size-col наличие
                  .product-size-price цена
                  .product-size-button

                - for (i=0; i<5; i++)
                  .product-size-row
                    .product-size-code TC 316 040Т
                    .product-size-col 37
                    .product-size-col 30
                    .product-size-col 2
                    .product-size-col В наличии
                    .product-size-price 5 292 ₽
                    .product-size-button
                      button.btn
                        +basketIco
                        |в корзину
          
            .product-card-recommend
              h3.title-h3 С этим покупают

              .category-row
                - for (i=0; i<5; i++)
                  .catalog-card
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-1.svg", alt="")
                          button.catalog-card__buttons-item
                            img(src="assets/images/catalog-buttons-2.svg", alt="")
                      img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро
                      .catalog-card__price 5 292 ₽

            .product-card-desc
              h3.title-h3 Описание

              .product-card-txt
                p Горшок для цветов - это не только емкость для размещения растения, но и предмет дизайна, украшение, а иногда и мебель или даже светильник. Правильно подобранные цветочные кашпо моментально преобразят помещение или ландшафт, в зависимости от поставленной задачи добавят ярких красок или, наоборот, сольются с окружающей средой, предоставив растениям возможность выйти на первый план.
                p В нашем каталоге представлен широкий ассортимент цветочных горшков и кашпо - различные материалы, размеры и формы, функция автополива. Вы можете выбрать подходящее кашпо самостоятельно, или наши менеджеры подберут варианты для вас.
                

            .designers-contacts.distributor-contacts
              .designers-contacts__top
                h2.designers-contacts__title Задать вопрос
                .designers-contacts__subtitle Звоните или пишите нам. Мы расскажем и о других 
                  br
                  |преимуществах работы с Green Land.
              .designers-contacts__row
                .designers-contacts__card
                  .designers-contacts__img
                    img(src="assets/images/designer-contacts-1.png", alt="")
                  .designers-contacts__desc
                    h4.designers-contacts__name Гвоздякова Алена
                    .designers-contacts__position Менеджер по работе с дизайнерами
                    .designers-contacts__contacts
                      span.designers-contacts__tel 8 911 924-50-84
                      span sv@green-land.ru

                    .contacts-btn
                      |обратная связь
                    
              

                .designers-contacts__links
                  .designers-contacts__links-txt
                    |Написать в соц. сетях
                  .footer__socials
                    a.footer__socials-link(href="")
                      +fbIcon
                    a.footer__socials-link(href="")
                      +vkIcon
                    a.footer__socials-link(href="")
                      +instIcon
                    a.footer__socials-link(href="")
                      +houzzIcon

        include ../partials/you-watched.pug


    include ../partials/_footer.pug