extends ../layouts/master.pug

include ../partials/catalog-card.pug

block content

  include ../partials/_aside.pug

  include ../partials/modal-consult

  .main__wrap(data-scroll-container="")

    +header('mainHeader')

    .section.page-wrapper
      .container
        
        .lanscaping-first-screen(data-aos="fade-up")
          
          +breadcrumbs(['озеленение', 'Готовые решения'])

          .lanscaping-first-screen__block
            h1.title-h1.about-title Готовые решения
            button.btn.consult-btn Запросить консультацию менеджера

          +footerDownload('презентация компании', 'pdf, 12 мб')

          img.lanscaping-first-screen__background.only-desktop(src="assets/images/ready-solutions-main.jpg", alt="")
          img.lanscaping-first-screen__background.only-mobile(src="assets/images/ready-solutions-main-mob.jpg", alt="")

        .lanscaping-solutions-txt.solutions-highlights.title-h3.only-desktop(data-aos="fade-up")
          |Мы выбрали для Вас растения 
          span.highlight-1 на все случаи жизни 
          |в
          br
          |самых популярных и красивых дизайнерских кашпо.
          br
          |Вам остается только 
          span.highlight-2 выбрать понравившийся вариант
          |, а
          br
          |мы доставим Вам готовую, бережно пересаженную
          br
          |композицию.

        .lanscaping-solutions-txt.solutions-highlights.title-h3.only-mobile(data-aos="fade-up")
          |Мы выбрали для Вас
          br
          |растения 
          span.highlight-1 на все случаи жизни 
          |в
          br
          |самых популярных и красивых 
          br
          |дизайнерских кашпо. Вам
          br
          |остается только 
          span.highlight-2 выбрать 
          br
          span.highlight-3 понравившийся вариант,
          |&nbsp;а мы
          br
          |доставим Вам готовую, 
          br
          |бережно пересаженную
          br
          |композицию.

        .results-row.results-row--mobile
          - for (i=0; i<5; i++)
            +catalog-card(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952", "https://via.placeholder.com/150/1fe46f"])

        .results-row.results-row--second
          - for (i=0; i<5; i++)
            +catalog-card(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952", "https://via.placeholder.com/150/1fe46f"])

        .lanscaping-solutions-txt2
          .lanscaping-solutions-txt2__col.only-desktop(data-aos="fade-up")
            |В стоимость входит кашпо,
            br
            |растение, грунт, услуга по
            br
            |пересадке.
          .lanscaping-solutions-txt2__col.only-mobile(data-aos="fade-up")
            |В стоимость входит кашпо, растение, грунт, услуга по пересадке.

          .lanscaping-solutions-txt2__col.only-desktop(data-aos="fade-up")
            |Каждое растение может быть
            br
            |высаженное в любое кашпо из
            br
            |нашего ассортимента на Ваш
            br
            |выбор.
          .lanscaping-solutions-txt2__col.only-mobile(data-aos="fade-up")
            |Каждое растение может быть высаженное в любое кашпо из нашего ассортимента на Ваш выбор.

          .lanscaping-solutions-txt2__col.only-desktop(data-aos="fade-up")
            |Если Вы не нашли подходящий
            br
            |вариант, свяжитесь с нами и мы
            br
            |подберем оптимальную
            br
            |композицию.
          .lanscaping-solutions-txt2__col.only-mobile(data-aos="fade-up")
            |Если Вы не нашли подходящий вариант, свяжитесь с нами и мы подберем оптимальную композицию.

        .designers-form.about-mission
          h2.designers-form__title.title-h2(data-aos="fade-up") Оставить заявку на подбор композиции
            br
            |для вашего проекта
          .designers-form__row
            .mission__main
              .mission__slider-underlay
              .designers-form__container
                
                include ../partials/form-designer

            .about-mission__img.designers-form__imgs(data-aos="fade-up")
              img(src="assets/images/designer-form-1.jpg", alt="")
              img(src="assets/images/designer-form-2.jpg", alt="")

        .designers-showrooms
          .ojects-projects-top(data-aos="fade-up")
            h2.ojects-projects-top__title.title-h2
              |Выполненные проекты
            a.ojects-projects-top__link(href="")
              |все проекты
              //- img(src="assets/images/objects-arrow.png", alt="")
              +allProjectsSvg

          .designers-products-filter(data-aos="fade-up")
            ul
              li.filter-tab.active-tab Входные группы
              -
                var projects = [
                  'Атриумы',
                  'Процесс производства',
                  'Рестораны',
                ]
              each i in projects
                li.filter-tab
                  |#{i}

          .projects__slider.swiper-container(data-projects-slider="" data-aos="fade-up")
            .swiper-wrapper
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                      .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
              .swiper-slide.projects__slide
                .projects__item
                  .projects__item-slider(data-fade-item-slider="")
                    .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                      img.projects__item-img.is-active(src="assets/images/projects__item-img-2.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-3.jpg", alt="", data-fade-item-slider-item="")
                      img.projects__item-img(src="assets/images/projects__item-img-1.jpg", alt="", data-fade-item-slider-item="")
                    .bullets.projects__item-slider-bullets
                    .bullet.projects__item-slider-bullet.is-active(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                      .bullet.projects__item-slider-bullet(data-fade-item-slider-bullet="true")
                  .projects__item-caption
                    .epsilon.projects__item-name Отель Crowne Plaza
                    .projects__item-tags
                      .projects__item-tag.text__super-tn.text--uppercase Вертикальное озеленение
                      .projects__item-tag.text__super-tn.text--uppercase Террасы
                      .projects__item-tag.text__super-tn.text--uppercase Входные группы
            .projects__slider-controls
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .landscaping-contacts(data-aos="fade-up")
          .contacts-cards__ttl.title-h2 Профессионалы Green Land
          .contacts-cards
            - for (i=0; i<4; i++)
              .contacts-cards__item
                img(src="assets/images/designer-contacts-2.png", alt="")
                .contacts-cards__name Шабала Виктория
                .contacts-cards__position Менеджер по работе с дизйнерами
                //- .contacts-cards__tel 8 812 209-18-84

        include ../partials/you-watched

    include ../partials/_footer.pug