extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['клиентам'])

        .clients-top
          h1.beta клиентам
          .about-tabs
            a.about-tabs__item.about-tabs__item--active(href="") Возврат денеженых средств
            a.about-tabs__item(href="") Доставка
            a.about-tabs__item(href="") Оплата

        .payment-block
          h3.payment-block__ttl Возврат
          .payment-block__row
            .payment-block__item Возврат денег за товар надлежащего качества
            .payment-block__item
              p Мы готовы принять возврат товара надлежащего качества при условии, что на момент заказа он был в наличии на нашем складе. Если товар заказывался на фабрике, либо производился под индивидуальный проект, закон сохраняет за нами право отказать в возврате или обмене товара, который имеет определённые свойства и может быть использован исключительно заказчиком, приобретающим его. Товар надлежащего качества можно вернуть в течение 14 дней.
              p Возврат товара надлежащего качества осуществляется силами покупателя или за его счет.

          .payment-block__row.mt80
            .payment-block__item Возврат денег за товар ненадлежащего качества
            .payment-block__item.refund-txt
              p Мы проверяем каждое изделие перед отправкой, бережно его упаковываем и передаем в транспортную компанию.
              p Мы рассматриваем вопрос поврежденного товара только если его осмотр был произведен в момент получения и факт повреждения зафиксирован в сопроводительных документах.
              p Внимательно ознакомьтесь с процедурой приёмки товара в разделе Доставка.

              ul.mb60
                li Помните, что претензии по внешнему виду и иным недостаткам доставленного товара вы вправе предъявлять только до момента передачи товара.
                li Если при проверке были обнаружены какие-либо повреждения, все они должны быть зафиксированы в товарно-сопроводительных документах, должен быть составлен соответствующий акт.
                li Фотографии поврежденного товара должны быть предоставлены нам в течение трёх календарных дней.
                li Ориентировочный срок рассмотрения претензии 1-2 недели.
                li Акционный товар возврату и обмену не подлежит.

        .payment-block
          h3.payment-block__ttl Процедура возврата денег
          .payment-block__row
            .payment-block__item Возврат денежных средств осуществляется только по безналичному расчету.
            .payment-block__item.refund-txt
              p.fz22 Для оформления возврата необходимо:
              ul.margin40
                li Заполните бланк заявления на возврат (все графы).
                li Обратите особое внимание на банковские реквизиты! Необходим номер рассчётного счёта, а не номер банковской карты.
              p.fw600 Возврат переведенных средств, производится на ваш банковский счет в течение 5-30 рабочих дней (срок зависит от Банка, который выдал вашу банковскую карту).

    include ../partials/_footer.pug