extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper.results
      .container
        +breadcrumbs(['Результат поиска'])

        h1.title-h1(data-aos="fade-up") Результат поиска

        .results-amount(data-aos="fade-up")
          |По запросу 
          span «pottery» 
          |найдено результатов: 5

        .results-searh(data-aos="fade-up")
          input
          button.btn поиск

        h3.results-subtitle.title-h3(data-aos="fade-up") продукция

        .results-table

          .results-row
            - for (i=0; i<5; i++)
              .catalog-card(data-aos="fade-up")
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-1.svg", alt="")
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-2.svg", alt="")
                  img.catalog-card__img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽

          .results-row
            - for (i=0; i<5; i++)
              .catalog-card(data-aos="fade-up")
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-1.svg", alt="")
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-2.svg", alt="")
                  img.catalog-card__img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽

          .results-row
            - for (i=0; i<5; i++)
              .catalog-card(data-aos="fade-up")
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-1.svg", alt="")
                      button.catalog-card__buttons-item
                        img(src="assets/images/catalog-buttons-2.svg", alt="")
                  img.catalog-card__img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽

        .pagination
          .pagination-list(data-aos="fade-up")
            button.pagination__item.is-active 1
            button.pagination__item 2
            button.pagination__item 3
            button.pagination__item 4
            button.pagination__dots ...
            button.pagination__item 12

          .pagination-controls(data-aos="fade-up")
            +arrow('white', '#CAE8D9', 'left', '15', '13', '46')
            +arrow('white', '#65BA7F', 'right', '15', '13', '46').arrow-active


    include ../partials/_footer.pug