extends ../layouts/master.pug

block content
  #gl(data-imageOriginal="assets/images/animation/hero.jpg" data-imageDepth="assets/images/animation/hero-map.jpg" data-horizontalThreshold="35" data-verticalThreshold="15")
  .test 
  
  include ../partials/_mission.pug
