aside.aside

  .aside-wrapper

    .aside__header
      button.aside__btn.aside-btn
        +menuBurger
        span.aside__btn-title меню
    .aside__center
      button.aside__btn
        +menuSearch.aside__btn-svg
    a.header__logo.aside__logo(href="/")
      +logo('white')
    .aside__footer
      button.aside__btn
        span.aside__btn-counter 12
        +menuBasket.aside__btn-svg
      button.aside__btn
        span.aside__btn-counter 0
        +menuFavorite.aside__btn-svg
      button.aside__btn
        span.aside__btn-counter 0
        +settings-svg.aside__btn-svg
      button.aside__btn
        +user-svg.aside__btn-svg

  include ../partials/modal-search
  include ../partials/modal-menu