section.sect
  #conditions-container.conditions(data-transparent-section='')
    each item, i in ['Условия работы #[br] с дизайнерами', 'Условия работы #[br] для объектов', 'Условия работы для дистрибьютеров #[br] и оптовых покупателей']
      .conditions__slider
        img.conditions__slide-img(src=`assets/images/conditions-slider/conditions__slide-img-${i + 1}.jpg`, alt="")
        .conditions__slide-container
          .conditions__title.title-h2 #{item}
          a.btn(href="#") подробнее
    .conditions-nav
      each item, i in ['дизайнерам', 'объектам', 'дистрибьютерам и оптовым покупателям']
        .conditions-nav__item 
          .conditions-nav__text 
            span.conditions-nav__span 
              |#{i + 1}
            |#{item}
          .conditions-nav__bot
            .conditions-nav__box
            - if (i !== 2)
              .conditions-nav__container
                .conditions-nav__line