footer.footer(data-scroll-section="")
  .footer__header
    .container
      .row
        .col.footer-logo
          a.footer__logo(href="/")
            +logo('white', 395, 72)
        .col.col__xl-9.footer-download-container
          +footerDownload('каталог продукции', 'xls, 12 мб')
          +footerDownload('презентация компании', 'pdf, 12 мб')
  .footer__main
    .container
      .row.footer-main-row
        .col.col__xl-7.footer__main-left
          a.footer__phone(href="tel:+78122091884") 8 812 209-18-84
          .footer__phone-caption.text__sm.text--uppercase.footer__text
            .footer__phone-caption-schedule.footer__info Пн—Пт: 10 — 18
            .footer__phone-caption-schedule.footer__info Сб—Вс: выходные
          a.footer__mail(href="mailto:sale@green-land.ru") sale@green-land.ru
          //- .footer__address.footer-item  Московское шоссе, дом 25, к. 1, #[br] Бизнес-центр «Престиж», офис 248
          .footer__socials
            +footerSocial('facebook')
            +footerSocial('vk')
            +footerSocial('inst')
            +footerSocial('h')
          +footerDownload('реквизиты', 'PDF, 256 кб')
        .col.col__xl-9.footer__main-right
          .footer__menu.row
            .col.col__xl-4
              .footer__menu-title О нас

              ul.footer__menu-list

                -
                  const list1 = [
                    "Склад",
                    "Шоурум",
                    "Новости",
                    "Вакансии",
                    "Блог",
                    "Академия Green Land",
                    "Проекты",
                  ]

                each i in list1
                  li.footer__menu-list-item
                    a.footer__link.footer__text.footer-item(href="#") #{i}

            .col.col__xl-4
              .footer__menu-title Работа с нами

              ul.footer__menu-list

                -
                  const list2 = [
                    "Дизайнерам",
                    "Комплектации для рестаранов, гостиниц, торговых центров, бизнес-центров, СПА",
                    "Дистрибьютерам и оптовым покупателям",
                  ]

                each i in list2
                  li.footer__menu-list-item
                    a.footer__link.footer__text.footer-item(href="#") #{i}

            .col.col__xl-4
              .footer__menu-title Клиентам
              ul.footer__menu-list

                -
                  const list3 = [
                    "Способы доставки",
                    "Способы оплаты",
                    "Способы возврата",
                    "Гарантия",
                    "Рекламные материалы",
                    "FAQ",
                    "Акции",
                  ]

                each i in list3
                  li.footer__menu-list-item
                    a.footer__link.footer__text.footer-item(href="#") #{i}

            .col.col__xl-4
              .footer__menu-title Озеленение
              ul.footer__menu-list

                -
                  const list4 = [
                    "Фитодизайн",
                    "Вертикальное",
                    "Бизнес центров и офисов",
                    "Гостиниц и мини-отелей",
                    "Ресторанов и кафе",
                    "Летних террас",
                    "Торговых комплексов",
                    "Фитнес-центров и SPA-салонов",
                    "Зимнего сада",
                    "Уход за растениями",
                  ]
                
                each i in list4
                  li.footer__menu-list-item
                    a.footer__link.footer__text.footer-item(href="#") #{i}

          .footer__info.row.footer__info--desc
            .col.col__xl-4
              a.footer__link.footer__text.footer-item(href="#") Договор оферты
            .col
              a.footer__link.footer__text.footer-item(href="#") Обработка персональных данных
  .footer__footer
    .container
      .row.footer__footer-row
        .footer__info.row.footer__info--mobile
          .col.col__xl-4
            a.footer__link.footer__text.footer-item(href="#") Договор оферты
          .col
            a.footer__link.footer__text.footer-item(href="#") Обработка персональных данных
        .col.col__xl-7
          .footer__text.footer-item.footer__info 2021 © Green Land. Все права защищены
        .footer__footer-right
          .footer__text.footer-item.flex
            .footer__info Сделано в&nbsp;
            a.footer__footer-link(href="https://www.cloudmill.ru/" target="_blank")  CloudMill