section.section.mission(data-scroll-section="")
  .mission__slider.swiper-container(data-mission-slider="")
    .mission__slider-underlay
      .mission__marquee(data-aos="fade-up")
        .mission__marquee-content-wrap
          each item in ['starting', 'first-half', 'second-half', 'third-half']
            .mission__marquee-content(class=item)
              .text__md.text--uppercase.mission__marquee-text творчество
              .text__md.text--uppercase.mission__marquee-text созидание
              .text__md.text--uppercase.mission__marquee-text greenland
              .text__md.text--uppercase.mission__marquee-text красота


    .swiper-wrapper(data-aos="fade-up")
      .mission__slide.swiper-slide
        .mission__main
          .mission__heading.mission__heading--hidden.title-h3
            .
              Мы раскрываем #[br] потенциал пространства #[br] через #[span.accent  #[span.mission__highlight.mission__highlight--1 красоту, творчество] #[br] и #[span.mission__highlight.mission__highlight--2 созидание].]
        .mission__image
          img.mission__img(src="assets/images/mission__img-1.jpg" alt="Sketch")
          img.mission__img.mission__img--tablet(src="assets/images/mission-tablet-1.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .mission__heading.mission__heading--hidden.title-h3
            .
              Наша миссия #[br] #[span.accent  — раскрытие потенциала #[br] пространства] через #[br] #[span.mission__highlight.mission__highlight--3 озеленение]
        .mission__image
          img.mission__img(src="assets/images/mission__img-2.jpg" alt="Sketch")
          img.mission__img.mission__img--tablet(src="assets/images/mission-tablet-2.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .mission__heading.mission__heading--hidden.title-h3
            .
              Стремимся #[span.accent #[span.mission__highlight.mission__highlight--4 изменить] #[br] #[span.mission__highlight жизнь людей]] в  больших городах #[span.accent #[span.mission__highlight.mission__highlight--5 к лучшему]],#[br]помогая выбирать #[br] #[span.accent гармоничные #[br] по дизайну композиции] #[br] из кашпо и растений
        .mission__image
          img.mission__img(src="assets/images/mission__img-3.jpg" alt="Sketch")
          img.mission__img.mission__img--tablet(src="assets/images/mission-tablet-3.jpg" alt="Sketch")
      .mission__slide.swiper-slide
        .mission__main
          .mission__heading.mission__heading--hidden.title-h3
            .
              Мы делаем дизайнерское #[br] озеленение #[span.accent #[span.mission__highlight.mission__highlight--6 в ритме] #[br] #[span.mission__highlight.mission__highlight--7 большого города]], #[br] показывая, что горшки #[br] это не емкости для #[br] растений, #[br] #[span.accent а предметы интерьера]
        .mission__image
          img.mission__img(src="assets/images/mission__img-4.jpg" alt="Sketch")
          img.mission__img.mission__img--tablet(src="assets/images/mission-tablet-4.jpg" alt="Sketch")

    .mission__slider-controls
      .mission__slider-bullets(data-mission-slider-bullets="")
      .mission__slider-counter(data-mission-slider-counter="")