.news-subscribe
  .news-social__title(data-aos="fade-up" data-parsley-validate)
    span Подпишитесь 
    |на нашу
    br
    |рассылку
  form.designers-form__form(data-aos="fade-up" data)
    label.designers-form__label
      input.designers-form__input(placeholder="E-mail" required)
    label.designers-form__checkbox
      input(type="checkbox"  id="checkbox" required)
      .checkbox
      .designers-form__checkbox-txt Я соглашаюсь на обработку
        br
        a(href="") персональных данных
    button.btn.cover__btn(type="submit") отправить