form.designers-form__form.form-column(data-parsley-validate data-send-form)
  label.designers-form__label(data-aos="fade-up")
    .placeholder-active Имя*
    input.designers-form__input(type="text" placeholder="Имя*" required)
  label.designers-form__label(data-aos="fade-up")
    .placeholder-active E-mail*
    input.designers-form__input(type="email" placeholder="E-mail*" required)
  label.designers-form__label(data-aos="fade-up")
    .placeholder-active Телефон*
    input.designers-form__input(type="tel" placeholder="Телефон*" data-tel-input="" required)
  label.designers-form__checkbox(data-aos="fade-up")
    input(type="checkbox" checked="checked" id="checkbox" required)
    .checkbox
    .designers-form__checkbox-txt Я соглашаюсь на обработку
      br
      a(href="") персональных данных
  .aos(data-aos='fade-up')
    button.btn(type="submit") отправить

.response
  .response-txt.title-h2 Спасибо за вашу заявку. Мы свяжемся с вами в ближайшее время.