.menu-modal.modal-active
  .menu-modal__wrapper
    .menu-modal__col

      .menu-modal__spoiler.menu-modal__spoiler-profile.only-mobile
        .menu-modal__spoiler-btn
          .menu-modal__ttl
            +user-svg
            |Игорь Денисов
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            -
              let points1 = [
                'Активные заказы',
                'Выполненые заказы',
                'Популярные вопросы',
                'Изменить пароль',
                'Популярные вопросы',
                'выйти',
              ]
            each i in points1
              a.menu-modal__item(href="") #{i}

      .menu-modal__spoiler.only-mobile
        .menu-modal__spoiler-btn
          .menu-modal__ttl
            +settings-svg
            |Сравнение

      .menu-modal__spoiler.only-mobile
        .menu-modal__spoiler-btn
          .menu-modal__ttl каталог продукции
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            -
              let points2 = [
                'Цветочные горшки и кашпо',
                'Вазоны',
                'Cадовый декор',
                'Искусственные растения',
                'Дизайнерское озеленение',
                'Мебель и свет',
                'Грунт и керамзит',
                'Аксессуары',
              ]
            each i in points2
              a.menu-modal__item(href="") #{i}

      .menu-modal__spoiler
        .menu-modal__spoiler-btn
          a.menu-modal__ttl.only-desktop(href="") Работа с нами
          .menu-modal__ttl.only-mobile Работа с нами
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            -
              let points3 = [
                'Условия работы с дизайнерами',
                'Условия работы для объектов',
                'Условия работы для дистрибьютеров и оптовых покупателей',
              ]
            each i in points3
              a.menu-modal__item(href="") #{i}

      .menu-modal__spoiler
        .menu-modal__spoiler-btn
          a.menu-modal__ttl.only-desktop(href="") О компании
          .menu-modal__ttl.only-mobile О компании
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            a.menu-modal__item(href="") История
            a.menu-modal__item(href="") Бренды

    .menu-modal__col
      .menu-modal__spoiler
        .menu-modal__spoiler-btn
          a.menu-modal__ttl.only-desktop(href="") озеленение
          .menu-modal__ttl.only-mobile услуги по озеленению
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            a.menu-modal__item(href="") Готовые решения
            a.menu-modal__item(href="") Абонементы на уход за растениями
            a.menu-modal__item(href="") Озеленение под ключ
            a.menu-modal__item(href="") Фитодизайн. Озеленение интерьеров

      .menu-modal__spoiler
        .menu-modal__spoiler-btn
          a.menu-modal__ttl.only-desktop(href="") Клиентам
          .menu-modal__ttl.only-mobile клиентам
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            a.menu-modal__item(href="") Возврат денеженых средств
            a.menu-modal__item(href="") Доставка
            a.menu-modal__item(href="") Оплата

    .menu-modal__col
      .menu-modal__spoiler
        .menu-modal__spoiler-btn
          a.menu-modal__ttl.only-desktop(href="") Акции
          .menu-modal__ttl.only-mobile акции
          img(src="assets/images/icons/spoiler-arrow.svg", alt="")
        .menu-modal__spoiler-drop
          .menu-modal__spoiler-inner
            a.menu-modal__item(href="") Предстоящие акции

      a.menu-modal__ttl(href="") Проекты
      a.menu-modal__ttl(href="") Новости
      a.menu-modal__ttl(href="") Блог
      a.menu-modal__ttl(href="") Вопрос-ответ
      a.menu-modal__ttl(href="") Контакты
      a.menu-modal__ttl(href="") Карьера

    .menu-modal__col
      a.footer__phone(href="tel:+78122091884") 8 812 209-18-84
      .footer__phone-caption.text__sm.text--uppercase.footer__text
        .footer__phone-caption-schedule Пн—Пт: 10 — 18
        .footer__phone-caption-schedule Сб—Вс: выходные

      a.footer__mail(href="mailto:sale@green-land.ru") sale@green-land.ru

      .footer__socials
        a.footer__socials-link(href="")
          +fbIcon
        a.footer__socials-link(href="")
          +vkIcon
        a.footer__socials-link(href="")
          +instIcon
        a.footer__socials-link(href="")
          +houzzIcon

  .menu-modal__bottom
    .menu-modal__bottom-item 2021 © Green Land. Все права защищены
    .menu-modal__bottom-item Сделано в 
      a(href="")  CloudMill