.modal-ask

  .modal-ask__background

  .modal-ask__container
    .modal-ask__wrapper
      .modal-ask__ttl задать вопрос
      form.designers-form__form.form-column(data-parsley-validate)

        label.designers-form__label(data-aos="fade-up")
          .placeholder-active Имя*
          input.designers-form__input(type="text" placeholder="Имя*" required)

        label.designers-form__label(data-aos="fade-up")
          .placeholder-active E-mail*
          input.designers-form__input(type="email" placeholder="E-mail*" required)

        label.designers-form__label(data-aos="fade-up")
          .placeholder-active Вопрос*
          input.designers-form__input(type="text" placeholder="Вопрос*" required)

        label.designers-form__checkbox(data-aos="fade-up")
          input(type="checkbox"  id="checkbox" required)
          .checkbox
          .designers-form__checkbox-txt Я соглашаюсь на обработку
            br
            a(href="") персональных данных

        button.btn(type="submit") отправить

    .modal-ask__close