//- mixin map-modal

.modal-map

  .modal-map__container
    <iframe class="modal-map__wrapper" src="https://yandex.ru/map-widget/v1/?um=constructor%3Abca4d44fc1342613bc09eabc23d72511ec4d5894651848d257224620881407b4&amp;source=constructor" frameborder="0"></iframe>

    .modal-map__close

  .modal-map__bg

//- mixin map-input-modal

//-   .modal-map

//-     .modal-map__container
//-       <iframe class="modal-map__wrapper" src="https://yandex.ru/map-widget/v1/?um=constructor%3Abca4d44fc1342613bc09eabc23d72511ec4d5894651848d257224620881407b4&amp;source=constructor" frameborder="0"></iframe>

//-       .modal-map__close

//-     .modal-map__bg