include ./catalog-card

.designers-products.you-watched
  .designers-products__top(data-aos="fade-up")
    h2.title-h2
      |Вы смотрели 
    .designers-products__controls(data-watched-controls="")
      .arrows.cover__slider-arrows
        +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-watched-prev="")
        +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-watched-next="")
  .designers-products__catalog(data-aos="fade-up")
    .swiper-container(data-watched-slider="")
      .swiper-wrapper
        - for (i=0; i<5; i++)
          +catalog-card.swiper-slide(images=["assets/images/catalog-1.png", "https://via.placeholder.com/600/771796", "https://via.placeholder.com/150/92c952", "https://via.placeholder.com/600/8985dc"])