.designers-products.you-watched
  .designers-products__top
    h2.title-h2
      |Вы смотрели 
    .designers-products__controls(data-watched-controls="")
      .arrows.cover__slider-arrows
        +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-watched-prev="")
        +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-watched-next="")
  .designers-products__catalog
    .swiper-container(data-watched-slider="")
      .swiper-wrapper
        - for (i=0; i<5; i++)
          .catalog-card.swiper-slide
            .catalog-card__labels
              .catalog-card__labels-item Скидки
              .catalog-card__labels-item Новинки
            .catalog-card__top
              .catalog-card__layer
                .catalog-card__pagination
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                  .catalog-card__pagination-item
                .catalog-card__buttons
                  button.catalog-card__buttons-item
                    +cardSettingsBtn
                  button.catalog-card__buttons-item
                    +cardFavoriteBtn
              img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
            a.catalog-card__bottom(href="")
              .catalog-card__ttl Высокое напольное кашпо MUSCHEL
              .catalog-card__color Серебро
              .catalog-card__price 5 292 ₽
              .catalog-card__buttons
                button.catalog-card__buttons-item
                  +cardSettingsBtn
                button.catalog-card__buttons-item
                  +cardFavoriteBtn