.no-margin {
  margin: 0;
}

.mt80 {
  margin-top: 80px;
}

.mt70 {
  margin-top: 70px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb80 {
  margin-bottom: 80px;
}

.mt300 {
  margin-top: 300px;
}

.margin40 {
  margin: 40px;
}