ul.breadcrumbs
  li.breadcrumbs__main
    a.breadcrumbs__link(href="#") Главная
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") работа с нами
  li.breadcrumbs__item
    a.breadcrumbs__link(href="#") Условия работы для объектов